[2015-01-22 16:01] sedge opened #11 "Make bramble's parent DOM element's configurable"
Bracket assumes that it's the only fish in the pond, but it's wrong. It's event listeners hijack the entire page's events when they should only apply to whichever DOM element brackets is living in.

At the very least, see: https://github.com/humphd/brackets/blob/bramble/src/brackets.js#L332-455

[2015-01-22 16:14] sedge commented on #11
That was fun.

[2015-01-22 16:14] #11 closed

[2015-01-26 16:42] sedge opened #12 "Write extension for context sensitive help"
Thimble.webmaker.org gives technical advice about HTML elements, CSS selectors and CSS properties explaining their function and where to use them. When the editor's cursor is touching something it can advise on (e.g. ![screen shot 2015-01-26 at 11 35 25 am](https://cloud.githubusercontent.com/assets/1616860/5903407/773c4248-a54f-11e4-99ff-4a76d9f34584.png) or ![screen shot 2015-01-26 at 11 36 20 a

[2015-01-26 16:51] sedge opened #13 "Write extension for HTML tag, CSS selector and CSS property highlighting"
Thimble will automatically highlight HTML opening/closing tags, CSS selectors and CSS properties when the editor cursor is on one;

-----------------------------
![screen shot 2015-01-26 at 11 49 22 am](https://cloud.githubusercontent.com/assets/1616860/5903753/892a6bb8-a551-11e4-9f35-c4c8902e6f92.png)

-----------------------------
![screen shot 2015-01-26 at 11 49 13 am](https://cloud.githubuser

[2015-01-26 17:59] KeniMorri opened #14 "Brackets Extensions do not load within browser"
Problem: Extensions do not appear to work in browser

Explaination: When running brackets with "python -m SimpleHTTPServer" or live-server, extensions within the browser do not appear to load.
To compound upon this, when trying to access the Extension Manager we receive this error:
![screenshot 2015-01-26 12 54 19](https://cloud.githubusercontent.com/assets/1750230/5905064/4172c464-a55b-11e4-9115-

[2015-01-26 18:05] humphd commented on #14
Extensions do work in the browser, but you have to bundle them properly, and tell it to load them by default.  Take a look at how the makedrive-sync-icon extension works in my bramble branch.

[2015-01-26 18:05] KeniMorri commented on #14
guess I should have asked on irc first, my bad

[2015-01-26 18:06] humphd commented on #14
Also note: we'll never be able to get the Extension Manager to work, since it will want to talk to a server we don't host, and we'll have cross-origin issues using XHR.  Probably we only want to worry about default/bundled extensions vs. user installed.

[2015-01-26 18:08] KeniMorri commented on #14
alright, I'll look into it, thanks.

[2015-01-26 18:08] #14 closed

[2015-01-26 19:09] KeniMorri opened #15 "Add HTMLHinter as submodule"

[2015-01-26 21:30] #15 closed

[2015-01-27 18:20] sedge opened #17 "Write extension for communication with the preview window"
Thimble has [sleeper](https://github.com/mozilla/thimble.webmaker.org/blob/master/public/friendlycode/js/fc/ui/live-preview.js#L21-L52) [code](https://github.com/mozilla/thimble.webmaker.org/blob/master/public/friendlycode/js/fc/ui/live-preview.js#L112-L128) [in](https://github.com/mozilla/thimble.webmaker.org/blob/master/public/friendlycode/js/fc/ui/live-preview.js#L131-L152) friendlycode (inacti

[2015-01-27 19:29] sedge opened #18 "Cut down unnecessary bloat in the brackets distribution file on our bramble branch"
Bracket's autoupdate functionality and some extensions aren't necessary for Thimble.

[2015-01-27 19:30] sedge opened #19 "Swap out makedrive for filer"
We want `filer` as a filesystem, not `makedrive`.

[2015-01-27 19:31] sedge opened #20 "Make bramble load whatever project Thimble provides it"
See [thimble.webmaker.org](http://thimble.webmaker.org).

[2015-01-28 19:15] sedge opened #21 "Plug bramble into thimble in place of codemirror"
This is a number of steps including:

1. Tearing codemirror out of thimble's friendlycode module
2. Putting bramble into an iframe in place of codemirror
3. Building a `postmessage` based proxy system to trick friendlycode into thinking it's interacting with codemirror
4. Building the other half of the proxy system as an extension for bramble

[2015-01-28 19:15] sedge commented on #21
@humphd WIP pr is living here: https://github.com/sedge/thimble.webmaker.org/pull/1/files

[2015-01-29 17:09] sedge commented on #20
As a followup, we're going to hack the [default page of brackets](https://github.com/humphd/brackets/blob/bramble/samples/root/Getting%20Started/index.html) to be the default make of Thimble for our MVP.

[2015-02-02 16:34] humphd opened #27 "Create in-browser Live Development infrastructure based on postMessage"
Brackets recently started to evolve its LiveDevelopment feature to [work in multiple browsers](https://github.com/adobe/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/README.md).  The new architecture allows the editor to talk to a browser over a transport layer (currently WebSocket based) and communicate bi-directionally between the preview and editor document(s).

Our goal with Mozill

[2015-02-02 16:35] humphd commented on #27
@busykai if you have pointers or thoughts on how we should approach this, we'd appreciate any guidance.  Especially if our work can be generalized so it can be upstreamed to Brackets proper vs. just used in our editor fork.

[2015-02-03 00:46] humphd commented on #27
One question I have is how best to abstract the transport and launcher, such that we can use postMessage and iframe versions instead of ws and default browser.

In https://github.com/humphd/brackets/blob/bramble/src/LiveDevelopment/LiveDevMultiBrowser.js#L803-L817 the default transport is assumed to be ws-based.  With the protocol I can later call `setTransport` on the protocol and swap it out; bu

[2015-02-03 02:13] busykai commented on #27
@humphd, thanks for cc'ing me. I'll need to read carefully through this, collect some context and comment in details later (soon), but, at a glance, we had very similar ideas on how it Live Development should evolve further, so upstreaming support for your use case is the right path.

[2015-02-03 13:47] busykai commented on #27
CC: @sebaslv

[2015-02-04 20:26] humphd commented on #27
Started in on this here https://github.com/humphd/brackets-browser-livedev.  Anything that doesn't need to live in Brackets proper can go in this extension, while we experiment.

I've got the basics of the Blob URL server done (untested, ported from my nohost work).  I'll do more this week to integrate the iframe browser, postMessage transport, etc.

[2015-02-07 19:54] busykai commented on #27
@humphd, current version of Thimble seems to use plain CodeMirror, right? So are planning to move it to Brackets?

Anyways, I assumed a couple of things, here are my thoughts which I hope you find helpful.

There's a `AppInit.extensionsLoaded()` which seems the right moment to flip it. Additionally, you could define it in the `"session"` scope of the `PreferencesManager` to make it is of highest p

[2015-02-09 16:32] humphd commented on #27
@humphd<https://github.com/humphd>, current version of Thimble seems to use plain CodeMirror, right? So are planning to move it to Brackets?

Correct.  Our plan is to rip out the raw CodeMirror instance and separate preview iframe, and do it all via a single Brackets based iframe with this modified live dev stuff.  We already have Brackets working in the browser with a filesystem based on IndexedD

[2015-02-12 15:53] #21 closed

[2015-02-12 15:54] sedge commented on #17
Our brackets only Live Preview has all this and more!

[2015-02-12 15:54] #17 closed

[2015-02-12 15:54] sedge commented on #13
Brackets does something similar enough.

[2015-02-12 15:54] #13 closed

[2015-02-12 15:55] sedge commented on #12
@humphd Do we care about this at all? I know Moz might, but if we don't I'll close this issue.

[2015-02-12 15:57] sedge opened #35 "Remove preview area from thimble"
Cuz brackets.

[2015-02-12 15:57] sedge opened #36 "Make sure thimble can save makes built in the brackets editor"
Thimble's mechanism for persisting a make from it's codemirror instance needs to be updated to persist the make from bramble. The `ThimbleProxy` extension may need to be updated to facilitate this.

[2015-02-12 16:16] humphd opened #37 "Reduce size of dist/"
Right now the Brackets code in `dist/` (once we build it with `grunt build`) weighs in at 12.1M on the wire.  This includes the HTML, minified JS and CSS, images, fonts, etc.

Looking at the list of things we load, there are some obvious places to start:
* Get rid of any extensions we don't need from https://github.com/humphd/brackets/blob/bramble/src/utils/ExtensionLoader.js#L398-L420
* Don't bui

[2015-02-12 16:17] humphd commented on #12
I think we can push this out of the MVP.  Can you get a milestone for Feb 20th going and just leave this out of it.

[2015-02-12 16:17] #18 closed

[2015-02-12 16:23] humphd commented on #19
This should include a few steps for our MVP:
* remove the MakeDrive submodule
* add the Filer submodule in its place
* rename `src/filesystem/impls/makedrive` to `src/filesystem/impls/filer` and all files underneath that from `MakeDrive*` to `Filer*`
* Expose `Filer` on `appshell` like we used to do with `MakeDrive` https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/makedrive/Mak

[2015-02-12 16:30] humphd opened #38 "Fix JSHint issues in bramble + bramble-extension code"
Trying to run `grunt build` on our bramble branch fails with a million JSHint issues, mostly in our extension code.  We need to get this all cleaned up so we can pass lint on travis, and get grunt to work for the build target.

In code we own, we should fix things.  In code we don't own (e.g., slowparse) we should tell jshint to ignore the file completely.

[2015-02-12 16:36] humphd commented on #37
It looks like we can probably reduce the CodeMirror2 modes by altering the following file:

https://github.com/adobe/CodeMirror2/blob/master/mode/meta.js

Notice that Brackets uses a submodule pointing to an Adobe fork of CodeMirror2.  We might need to do our own fork that alters the `mode/meta.js` file and cuts it down.

[2015-02-12 16:43] humphd commented on #37
Actually, this might be useful to explore too - http://codemirror.net/doc/compress.html

[2015-02-12 16:48] humphd opened #40 "Write deployment docs and script"
Building and deploying Bramble is a multi-step process.  It involves getting various repos set up, running various builds, collecting deps, etc.

We should document this, since I'm not sure everyone knows all the pieces (including me), and even better, we should write a script (maybe a custom Gruntfile?) that we use to automate the whole thing.  This could include doing things like running bower/n

[2015-02-13 15:49] sedge opened #42 "Hack thimble to conceal the brackets editor until it's fully loaded"
I'm not sure that there's a sane way to get brackets to load with panels hidden, rather than load with all of them visible and the user has to watch some disappear. Instead, I'm thinking Thimble should hide brackets as it loads and reveal it when it receives a postMessage from our `HideUI` extension saying "everything's ready!"

[2015-02-13 16:51] humphd commented on #42
That's an interesting idea.  Let's try it and see what it feels like.

[2015-02-17 15:45] sedge opened #44 "Land upstream copy/paste patch in our fork"
Brackets isn't enjoying when we completely overwrite the default html with new source code. It breaks hard and stops the preview process.

The console errors look like this:

[code]

[2015-02-17 15:46] sedge commented on #44
Those errors are on the blob html file too, so it looks like it needs to be regenerated somehow.

[2015-02-17 15:56] K-LV opened #45 "Remove any unnecessary connection and message events from PostMessageTransport.js"
Remove any unnecessary connection and message events from the PostMessageTransport.js file, located in the brackets-browser-livedev extension.

[2015-02-17 17:00] sedge commented on #44
Our testing is showing that brackets has an issue with this in the standard live development functionality as well as the experimental multi-browser version.

[2015-02-18 16:13] #35 closed

[2015-02-18 18:35] sedge commented on #42
My experimentation so far:

http://jsfiddle.net/h23ydzue/2/

[2015-02-18 19:01] sedge commented on #42
http://jsfiddle.net/h23ydzue/5/

[2015-02-19 16:07] #36 closed

[2015-02-19 16:08] sedge commented on #36
See: https://github.com/sedge/thimble.webmaker.org/pull/3

[2015-02-19 16:08] sedge commented on #20
See: https://github.com/sedge/thimble.webmaker.org/pull/3

[2015-02-19 16:08] #20 closed

[2015-02-19 16:12] #40 closed

[2015-02-19 19:00] sedge commented on #27
@humphd We have this working now (huzzah!). Should we close?

[2015-02-19 19:09] humphd commented on #27
Let's leave open while we track https://github.com/adobe/brackets/issues/10558 and https://github.com/adobe/brackets/issues/10634 upstream.

[2015-02-19 19:35] #19 closed

[2015-02-19 21:43] peterflynn commented on #37
@humphd Cool, just ran across your fork here -- I'm excited to see you guys making progress with the Nimble stuff!

For keeping the dist size low, I'm guessing you could get rid of the `node` folders under `extensibility` and `filesystem` (and their `node_modules` subtrees, which might be big-ish).  If you do that by modifying the Grunt script, feel free to send it back as a PR into the `pflynn/in

[2015-02-20 15:46] humphd opened #50 "PostMessageTransport: Error parsing message: process-tick"
The live preview postMessage stuff is failing on a `process-tick` message that's being sent from somewhere:

[code]

[2015-02-20 15:53] sedge commented on #50
@humphd What are the steps to reproduce this? Does this occur even when the preview stuff appears to be working?

[2015-02-20 15:58] humphd commented on #50
I get it on startup after I pulled down the latest bramble branch stuff.

[2015-02-20 16:43] sedge opened #51 "Deploy super-thimble somewhere accessible for testing"
Our modified thimble is ready to be deployed. Ideally, it wouldn't be deployed into Webmaker proper, because we can't devote time to automating the process yet.

We were thinking heroku, and we need to know how best to make it usable. Can we hook it up to the rest of webmaker with environment variables? Can it stand alone without webmaker-core?

cc: @Pomax

[2015-02-20 17:45] #42 closed

[2015-02-20 17:49] Pomax commented on #51
it'll work fine on Heroku as a content creator without make publication, *but* your heroku instance will need to be running with a database addon, because the sqlite writing it does is lost when the stub is powered down (it just restarts the stub, instead of saving the filesystem on shutdown).

[2015-02-20 20:24] humphd commented on #37
Started on this, making some progress - https://github.com/humphd/brackets/pull/53

[2015-02-20 23:29] humphd opened #54 "[Brackets LiveDev] Error executing a handler for Runtime.evaluate"
When I move my mouse over an `<html>` element in the editor, the live dev highlighting code blows up, I assume because it can't find an id for the element.:

[code]

Somewhat related to #44 I bet, and how the `<html>` element is being marked in the editor.

[2015-02-20 23:31] humphd commented on #54
This is probably something to file upstream, cc @busykai.

[2015-02-23 16:15] sedge opened #55 "Combine `thimbleProxy`, `HideUI` and `brackets-browser-livedev`"
There isn't a strong reason to keep them separate, and they're coupled together anyway.

[2015-02-23 16:32] #37 closed

[2015-02-23 16:33] humphd commented on #55
We should consider if other extensions we're doing could be added into that too.

[2015-02-23 16:43] humphd opened #56 "Deprecation warning in HTMLHinter's use of $().on()"
We should deal with this deprecation warning:

[code]

Which is being caused by this:

[code]

[2015-02-23 16:45] #38 closed

[2015-02-24 00:41] humphd commented on #54
My guess is that https://github.com/humphd/brackets-browser-livedev/pull/20 will have fixed this.  @gideonthomas, can you confirm?

[2015-02-24 05:46] gideonthomas commented on #54
Fixed by 654c4b91017b2af296cdc408d1bffad01d17777b

[2015-02-24 14:59] #54 closed

[2015-02-24 21:31] KeniMorri opened #59 "Replace current brackets instance within heroku deployment with dist"
Presently with our distribution on heroku, we are deploying brackets in unbulit form from the src/ of brackets, what we need to do is to grunt build and deploy brackets from dist

[2015-02-24 21:44] sedge commented on #59
Ideally, three things need to happen:

1. A branch for our "super thimble" needs to be created
2. We need to publish `bramble`'s dist folder as a module on npm
3. We need to patch the super thimble branch to use it.

[2015-02-25 17:41] #56 closed

[2015-02-25 17:48] gideonthomas commented on #44
This doesn't seem to be an issue anymore.

Except, it now manifests as https://github.com/adobe/brackets/issues/10634

[2015-02-25 17:56] humphd commented on #44
...which has a patch written already https://github.com/adobe/brackets/pull/10653 :)  We'll rebase when that lands, and all should be well.

[2015-02-25 18:58] #50 closed

[2015-02-25 19:11] humphd opened #62 "Connect Thimble UI to Brackets commands"
There are a few Thimble UI bits that we need to connect to Brackets, specifically the Undo, Redo, Size, and reload buttons.  Doing this would involve having the `onclick` for these cause a message to be sent to the Brackets iframe window, and then have that event get consumed by thimbleProxy such that it fired the correct command in the Brackets instance.  You can probably steal code from the Brac

[2015-02-25 19:17] humphd opened #63 "Don't console.log every postMessage transport event we receive in preview iframe"
Right now we're printing a ton of diagnostic crap in the iframe preview window, basically every time we get a message from the editor window via the postMessage transport.  There's really no need for this at this point.  Let's get rid of that so the console is less noisy.

[2015-02-25 19:35] KeniMorri commented on #62
Alright, I'll see what I can do.

[2015-02-26 14:44] AJDBenner commented on #63
@humphd This issue can be closed. It was fixed with this PR https://github.com/humphd/brackets-browser-livedev/pull/23

[2015-02-26 15:08] #63 closed

[2015-02-26 16:02] sedge opened #65 "Get our heroku deployment to integrate with webmaker"
Super thimble isn't playing nice with the rest of webmaker staging. In particular, we get a 403 error whenever `/verify` is hit on the super-thimble domain. This is a login.wm.o error.

[2015-02-27 17:55] gideonthomas commented on #55
assigned to @AJBenner

[2015-02-27 17:56] gideonthomas commented on #45
@K-LV any update on this?

[2015-02-27 18:02] gideonthomas opened #66 "Reduce distribution size and load times for Bramble"
There are a couple of things to do in this bug:

* There is a lot that can be removed in Thimble that Brackets does instead
* Figure out issues with Firefox loading a larger file size than Chrome
* Follow up pruning of code that we will not use in Brackets

@sedge @humphd any thing to add?

[2015-02-27 18:03] sedge commented on #44
@humphd Are there any other considerations we need to make if we land this on our fork?

[2015-02-27 18:06] sedge commented on #66
When thimble is being loaded, there's a number of requests (~70!) that just flat out fail. These need to be addressed.

[2015-02-27 18:07] gideonthomas opened #67 "Develop a solution to integrate/create Thimble's tutorial feature in Bramble"
Thimble has a neat [tutorial feature](https://thimble.webmaker.org/project/45564/remix) that we need to implement in Bramble to maintain parity with Thimble.

We need to figure out how to do this i.e.
* whether we can use most of existing Thimble code or
* implementing it from scratch or
* a combination of the two

[2015-02-27 18:08] gideonthomas commented on #67
also assigned to @AJDBenner

[2015-02-27 18:09] gideonthomas commented on #62
Assigned to @KeniMorri

[2015-02-27 18:14] sedge commented on #67
The mechanism behind this is pretty interesting.

Thimble "makes" have tags, little pieces of metadata that can help filter makes. A tutorial is simply a separate thimble make that is connected to a thimble project by including a special tag that includes a link to the make that will be the tutorial.

This system needs to be adapted, and I figure it could work in one of two ways:

1.  We allow thi

[2015-02-27 18:15] sedge commented on #67
For more details on this, see https://support.mozilla.org/en-US/kb/thimble-tutorials

[2015-02-27 18:16] gideonthomas commented on #67
@sedge who creates these makes?

Do we need the "Publish" feature to be implemented in Bramble for this to work so that custom makes can be used as tutorials? Or is that out of scope?

[2015-02-27 18:18] sedge commented on #67
Anyone can create a tutorial, but it is a two step process.

1. Create a thimble make that will be the tutorial
2. Create the make that the tutorial will guide the user through.

Check the link I posted for more details.

[2015-02-27 18:38] #51 closed

[2015-02-27 19:16] sedge opened #68 "Fix the brackets development workflow"
This is a couple of things:

1.  Get rid of as many submodules as possible
2.  Add `grunt` tasks for:
  1. Automatically updating our submodules/packages for extensions
  2. Automatically build and deploy our latest code to heroku

[2015-02-27 19:17] #59 closed

[2015-02-27 19:17] sedge commented on #27
@humphd Since we aren't waiting on upstream anymore, I'm going to close this.

[2015-02-27 19:17] #27 closed

[2015-02-27 19:20] sedge opened #69 "Fix postMessageTransport to be able to reload the preview"
See: https://github.com/adobe/brackets/blob/0ebf3737b8e2fba8c16dc839326338acd0aac2d2/src/LiveDevelopment/MultiBrowserImpl/protocol/remote/LiveDevProtocolRemote.js#L226

LiveDev has the ability to remotely cause the preview window (or iframe in our case) to reload, and we need to patch our implementation to cause this reload to pull in the state of the document being previewed.

[2015-02-27 19:21] sedge commented on #69
@K-LV Anything to add?

[2015-02-27 19:34] K-LV commented on #45
Yes. I discovered that the "connect" and "message" events weren't being triggered in my PostMessageTransport.js file at all, in [here] (https://github.com/K-LV/brackets-browser-livedev/blob/master/lib/PostMessageTransport.js#L42) and [here] (https://github.com/K-LV/brackets-browser-livedev/blob/master/lib/PostMessageTransport.js#L56). I fixed this [here] (https://github.com/K-LV/brackets-browser-l

[2015-02-27 20:19] KeniMorri opened #70 "Fix HTMLHinter to work properly in the browser"
Presently none of the functionality of HTMLHinter works in brackets within thimble, investigate this issue, and fix it.

[2015-03-01 21:58] humphd commented on #66
Hilariously, Thimble is loading jquery-ui (426K), jquery (262K), and other scripts in unminified form, which is adding a ton of heft.  So that will help a lot.  I'll fix upstream.  We *also* load jquery.min.

Other things not minified for some reason, and being loaded by friendlycode and/or brackets:

* require.js (we also load the minified version)
* slowparse.js (we also load this *twice* in HTM

[2015-03-02 15:17] humphd commented on #67
The tutorials also include some custom JS to do line highlighting in the editor when you hover over certain things in the tutorial text.  I don't know how it was doing that, but probably by talking directly to the CodeMirror instance or using postMessage?  Look into that, too.

I'd copy what https://github.com/gruehle/MarkdownPreview does and use a split panel in the editor.  You can probably load

[2015-03-02 15:24] sedge commented on #67
The tutorials were communicating directly with the CodeMirror instance, which is why I think we can probably just proxy those commands to the brackets CodeMirror instance as a shortcut to getting this working. Is that too much of a quick fix?

[2015-03-02 15:28] humphd commented on #67
Do what works for a first attempt.

[2015-03-02 15:36] humphd commented on #66
Filed/fixed https://github.com/mozilla/thimble.webmaker.org/pull/472 to fix minifying CDN resources in Thimble.

[2015-03-02 16:18] humphd commented on #66
Filed https://github.com/mozilla/webmaker-login-ux/issues/167 on webmakerLogin.min.js

[2015-03-02 16:21] sedge commented on #65
Integration with heroku's login server now works.

[2015-03-02 16:23] humphd commented on #65
Nice.

[2015-03-02 16:30] sedge commented on #65
At this point, publishing is broken and I'm following up with a couple of the core webmaker engineers to get the proper credentials to fix this.

[2015-03-02 19:49] gideonthomas opened #71 "Cannot open pre-made makes"
Currently, if you create a make and then publish it, then go to the URL for the make and click "Remix", it opens up the editor however, the content loaded in the editor is the default content and not the make's content itself.

https://github.com/humphd/brackets/issues/67 depends on this!

[2015-03-02 19:50] gideonthomas commented on #71
@sedge comments?

[2015-03-02 22:57] sedge opened #72 "Add unit testing to Super-Thimble"
Test coverage of the new features and the proxy would be nice, and help us a lot now that we have more than one person actively developing it.

[2015-03-03 15:58] sedge commented on #71
Thimble pre-renders the thimble `index.html` [here](https://github.com/sedge/thimble.webmaker.org/blob/mvpIntegration/routes/index.js#L41-L79) by passing it all the relevant information.

Try to trace it from there all the way to [this code](https://github.com/sedge/thimble.webmaker.org/blob/mvpIntegration/public/friendlycode/js/friendlycode.js#L81-L98) to make sure the make's contents get through

[2015-03-03 15:59] sedge commented on #71
[This file](https://github.com/sedge/thimble.webmaker.org/blob/mvpIntegration/public/scripts/friendlycode.js) kicks off the process once `index.html` is loaded on the client, so it's another important step in the chain.

[2015-03-03 17:07] #71 closed

[2015-03-03 17:12] humphd commented on #66
The font loading Brackets is doing adds a lot of weight on the wire.  Pomax filed a bug upstream on this, https://github.com/adobe/brackets/issues/10680

[2015-03-03 19:07] gideonthomas commented on #67
Seems like we can use almost all of thimble's existing code. However, a few fixes need to be done:
* `Uncaught TypeError: undefined is not a function` needs to be fixed. It crashes [here](https://github.com/sedge/thimble.webmaker.org/blob/mvpIntegration/public/scripts/tutorials.js#L101). This can probably be fixed by using @sedge's fix above
* https://support.mozilla.org/en-US/kb/thimble-tutorials

[2015-03-04 20:43] humphd opened #78 "Move away from Source Code Pro web fonts in favour of system fonts"
Brackets loads 300K+ of (gzipped) web fonts, and switching over to using system fonts is a pretty big saving.  @peterflynn wisely suggested moving away from web fonts in https://github.com/adobe/brackets/issues/10680#issuecomment-77119232, suggesting we use a `font-family` of `"Menlo Regular", Consolas, Inconsolata, "Vera Sans", "Lucida Console", Courier, fixed;`.  I did a quick test of this, and

[2015-03-04 20:46] humphd commented on #66
Filed #78 on reducing the size of fonts we load, which gets us down to the sub-600K level.

[2015-03-04 21:54] peterflynn commented on #78
I'd say references to "SourceSansPro" should be changed to the existing LESS var `@sansFontFamily`, and we should introduce a similar variable for the code font -- that's an easy change to take upstream.  Then the only diff your fork would have is changing the definition of those two vars.

For cleanliness you could also comment out / remove the `@font-face` declarations, but I'm pretty sure brows

[2015-03-05 05:41] Pomax commented on #78
one thing that we can do specifically here, is check the subsetting bits for these fonts - I suspect they're set to allow subsetting, which would allow us to run a proxy for serving the webfonts with only—say—the Latin blocks, drastically bringing down the resource size.

[2015-03-05 16:04] sedge opened #79 "Reduce the size of jquery-ui"
jQuery UI is being loaded for use in [this file](https://github.com/mozilla/thimble.webmaker.org/blob/master/public/friendlycode/js/fc/ui/details-form.js#L1). This issue involves:

1. Figuring out how it's being used, which probably means examining [the jQuery UI docs](http://learn.jquery.com/jquery-ui/getting-started/)
2.  Figure out how to replace the functionality it provides (if possible) or a

[2015-03-05 16:05] sedge commented on #79
Assigned to @AJDBenner

[2015-03-05 16:26] sedge opened #80 "Unify the module loading systems of `friendlycode` and `thimble`, removing duplicate loads"
Since `friendlycode` and `thimble` were originally separate repos, we have some duplicates being loaded. One of these is `jQuery`, which both thimble and  friendlycode load separately.

This issue will probably involve:

1.  Unifying the resource/module loading systems of `friendlycode` and `thimble` so they access the same resources (removing the need for duplication)
2.  Removing the [friendlyco

[2015-03-05 16:27] sedge commented on #80
Assigned to @kenimorri

[2015-03-06 14:23] AJDBenner commented on #55
@sedge @gideonthomas  this issue has been resolved with [this](https://github.com/humphd/brackets-browser-livedev/pull/27) PR

[2015-03-06 15:09] #55 closed

[2015-03-09 15:29] #79 closed

[2015-03-09 15:34] humphd commented on #66
Landed #74, which helps a bunch.

[2015-03-09 16:01] sedge opened #83 "Remove `optimizely.js` from thimble"
It's being loaded from a CDN:

![screen shot 2015-03-09 at 12 00 56 pm](https://cloud.githubusercontent.com/assets/1616860/6558678/f6f748a0-c653-11e4-878e-b1ab027f72c3.png)

[2015-03-09 16:01] sedge commented on #83
See: https://github.com/sedge/thimble.webmaker.org/blob/mvpIntegration/views/layout.html#L20

[2015-03-09 16:58] #83 closed

[2015-03-09 17:10] KeniMorri opened #84 "Fix Thimble x Brackets issue stemming from thimble undo/redo"
Presently when you delete certain portions of the code, you'll be met with an error in brackets live dev presented below:
![Example](https://dl.dropboxusercontent.com/u/26358556/Blog/Screenshot%202015-03-09%2011.20.18.png)

Will continue updating this post.

[2015-03-09 17:54] KeniMorri opened #85 "Fix Brackets Live-dev issue with deleting body"
Presently when we start brackets, if the user deletes the entire body tag we this error in the console:
![Brackets](https://dl.dropboxusercontent.com/u/26358556/Blog/Screenshot%202015-03-09%2013.15.26.png)

[2015-03-09 17:59] sedge opened #86 "Remove slowparse from thimble"
We have two slowparse instances being loaded in super thimble because a single instance can't be shared between the iframe brackets lives in and the window containing it.

Therefore, the solution is to remove slowparse from friendlycode (thimble). Ideally, slowparse was only being kept outside of brackets because we hadn't looked closely enough at it, and it's not doing anything valuable. In this

[2015-03-09 18:41] humphd commented on #84
I wonder if this is really an error we care about: a node in the DOM that was there isn't anymore, so it can't be selected.  It seems like a somewhat normal case for nodes to disappear, when they are being live edited.

[2015-03-09 21:06] humphd opened #87 "Remove the quickdocs extension"
According to https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#quick-edit (see the section on Quick Docs), you should be able to use Cmd+K or Ctrl+K to get documentation for the bit of html or css that you're mouse is sitting over.  When I try, I see:
[code]

The QuickDocs JSON is loaded lazily (i.e., only when you need it), and based on this stack, it looks like it's trying to get it dir

[2015-03-09 21:55] sedge commented on #87
This is a strong reason to switch from using RAM to using localstorage. It wouldn't need much tweaking filesystem-wise: we could still write the `index.html` file on every load of a thimble make, but the first time the storage is created the docs could be downloaded. We could even provide a prompt to ask the user if they'd like to?

This is a cool feature for a learning tool IMO. I'd be happy to t

[2015-03-10 14:31] sedge commented on #45
Assigned to @K-LV

[2015-03-10 14:31] sedge commented on #62
@KeniMorri Can you link to the PRs?

[2015-03-10 14:39] #67 closed

[2015-03-10 14:42] sedge commented on #69
https://github.com/humphd/brackets-browser-livedev/pull/28/files

[2015-03-10 14:48] sedge commented on #87
Let's rip it out.

[2015-03-10 14:53] sedge commented on #85
wontfix

[2015-03-10 14:53] #85 closed

[2015-03-10 14:56] sedge commented on #70
@KeniMorri Can you add steps to reproduce?

[2015-03-10 14:56] sedge commented on #84
wontfix

[2015-03-10 14:56] #84 closed

[2015-03-10 14:57] #72 closed

[2015-03-10 15:10] sedge opened #88 "Enable CSP for thimble.wm.o"
There are a bunch of errors:

![screen shot 2015-03-10 at 11 10 03 am](https://cloud.githubusercontent.com/assets/1616860/6577688/0c366486-c716-11e4-836e-f931feab1a75.png)

[2015-03-10 15:38] KeniMorri commented on #62
Added Listener in thimble proxy in PR's AJDBenner/thimbleProxy:
https://github.com/AJDBenner/thimbleProxy/pull/13
https://github.com/AJDBenner/thimbleProxy/pull/11
Updated Brackets to latest version of that submodule in here:
https://github.com/humphd/brackets/pull/77
https://github.com/humphd/brackets/pull/76
And Added postMessageTransport to thimble proxy within bramble proxy:
https://github.com

[2015-03-10 17:41] humphd opened #89 "Match indent width between Brackets and default content"
![screen shot 2015-03-10 at 1 38 51 pm](https://cloud.githubusercontent.com/assets/427398/6581067/e20ff806-c72a-11e4-8f7f-68ae3419502a.png)
In the above screenshot, you can see that our default indent in the Brackets editor is 4 spaces, but the initial content uses 2 spaces.  This means that content is always unaligned, and it looks off.  We should either change the initial content to be 4-space i

[2015-03-11 14:10] sedge opened #90 "Put a feature list together of friendlycode vs brackets"
Enduser features, beginner focused.

[2015-03-11 14:23] gideonthomas commented on #90
https://github.com/humphd/brackets/issues/87

[2015-03-11 14:34] gideonthomas commented on #87
@sedge are we abandoning this?

[2015-03-11 14:42] KeniMorri opened #91 "Fix odd multi-file error that duplicates current doc into preview window"
Presently with multi-files, if we create another file, then return to index.html any keys pressed within brackets will duplicate whatever is in the preview window, presented below in a screen shot and video:
![screenshot 2015-03-11 10 39 03](https://cloud.githubusercontent.com/assets/1750230/6598570/f3ba7fbc-c7da-11e4-8dad-72780a5c3965.png)
https://www.youtube.com/watch?v=oowVRR8IDZI&feature=youtu

[2015-03-11 14:48] humphd commented on #87
Yes, we're going to drop this for now.

[2015-03-11 14:54] K-LV commented on #91
@KeniMorri I'm working on this, it's related to this [issue] (https://github.com/humphd/brackets-browser-livedev/pull/28)

[2015-03-11 15:07] gideonthomas commented on #90
https://etherpad.mozilla.org/superthimble

[2015-03-11 15:10] gideonthomas commented on #62
@KeniMorri is this fixed?

[2015-03-11 15:10] KeniMorri commented on #62
Yesh

[2015-03-11 15:12] #62 closed

[2015-03-11 15:32] AJDBenner commented on #66
[This](https://github.com/sedge/thimble.webmaker.org/pull/11) PR will help reduce the size by about 100K before gzip

[2015-03-11 17:45] K-LV commented on #91
@KeniMorri upon further investigation, it appears that the [copy/paste] (https://github.com/adobe/brackets/pull/10653) patch fixes this issue.

[2015-03-11 19:43] K-LV commented on #69
I've updated my [PR] (https://github.com/humphd/brackets-browser-livedev/pull/28/files) to include support for multiple files

[2015-03-12 14:45] humphd opened #94 "Remove bottom margin/padding from editor iframe and/or Brackets status bar"
![screen shot 2015-03-12 at 10 43 11 am](https://cloud.githubusercontent.com/assets/427398/6620035/bee06412-c8a4-11e4-937e-dac0d10ff5fa.png)

There's a bit of unwanted margin or padding at the bottom of the editor iframe, or perhaps inside the editor itself.  You really notice it when the file view is open, and the colours contrast.  It would be nice to fix this.

[2015-03-12 15:13] humphd commented on #65
FYI, I've filed a bug upstream in Thimble to figure out full deployment, too:

https://github.com/mozilla/thimble.webmaker.org/issues/474

[2015-03-12 15:16] AJDBenner commented on #45
[This](https://github.com/humphd/brackets-browser-livedev/pull/34) PR fixes this.

[2015-03-12 16:02] #45 closed

[2015-03-12 16:30] AJDBenner commented on #94
I'm looking into this issue

[2015-03-12 16:43] #89 closed

[2015-03-12 18:01] humphd commented on #90
This is great, thanks.  I've sent the mail.

[2015-03-12 18:01] #90 closed

[2015-03-12 18:43] humphd commented on #88
https://github.com/sedge/thimble.webmaker.org/pull/14 fixes a bunch of 404s

[2015-03-12 18:52] #68 closed

[2015-03-12 19:10] humphd opened #98 "Fix JSHint issues introduced in browser-livedev extension"
[code]

[2015-03-12 19:11] humphd commented on #98
I feel like we already fixed these.  Did we land a patch that was done on old code and lost these fixes?

[2015-03-12 19:12] humphd commented on #98
Yeah, I thought so.  We fixed this in https://github.com/humphd/brackets-browser-livedev/commit/2fcf0f0e2ce682c5d15821cfe55be8f2b571e6f5.  Did we regress somehow?

[2015-03-12 21:14] sedge commented on #65
Fantastic. We've hit a wall on this, since I'd need a dedicated domain to make `make-valet` work on heroku. Cuz reasons haha

[2015-03-13 14:24] humphd commented on #98
This was fixed with a rebase and force push.

[2015-03-13 14:24] #98 closed

[2015-03-13 14:32] #86 closed

[2015-03-13 15:01] gideonthomas commented on #44
Fixed with e81907d6c9b8c609127d5c9aadc809dd4efa1984

[2015-03-13 15:17] #44 closed

[2015-03-13 15:22] humphd commented on #88
https://github.com/sedge/thimble.webmaker.org/pull/15 fixes 95% of the CSP warnings

[2015-03-13 16:35] #87 closed

[2015-03-13 16:53] humphd commented on #88
So we're left with 2 issues in the console, neither of which is critical, but we should fix.

1) We need to load the CSS/Fonts for the Filer dialogs, which requires doing a bower install in the extension's directory.  We're not really using these dialogs yet, so that can be done later.

2) The crap we get here:

[code]

is because we don't have a place where these reports are going.  We probably s

[2015-03-13 16:56] jbuck commented on #88
@humphd we could enable CSP on thimble, I guess? :D

[2015-03-13 16:58] humphd commented on #88
Have you guys done that elsewhere?  How was it?  What will it mean for things the user loads via the editor?

[2015-03-13 18:02] AJDBenner commented on #66
[This](https://github.com/sedge/thimble.webmaker.org/pull/16) PR helps reduce the size.

[2015-03-13 19:04] jbuck commented on #88
We have it enabled on some of our sites. It shouldn't mean anything for the user, because CSP only applies to the editor context, not the rendering iframe. Removing CSP Report-only mode is also option, if enforcing CSP is too difficult.

[2015-03-13 20:44] AJDBenner commented on #94
I've noticed this error occurs in chrome and not firefox. Also, I believe it's being caused by the div in thimble with class="source-code" within thimble.

[2015-03-13 21:09] humphd commented on #88
Except that the way we isolate the different parts of the app with Bramble is different.  Instead of Thimble holding an editor and a preview iframe, we put the editor + preview in another iframe (so Thimble hosts the Brackets iframe which holds a preview iframe).  So I think it might cause us some issues.  Let's follow-up next week on irc.

[2015-03-16 14:10] sedge opened #104 "Clean up HTMLHinter UI"
It could look a lot prettier!

[2015-03-16 14:11] #80 closed

[2015-03-16 14:25] humphd commented on #66
The only concrete thing left is the font switch, which is #78, so I'm going to close this bug.  We made a huge dent, nice work!

[2015-03-16 14:25] #66 closed

[2015-03-16 15:17] humphd opened #105 "Figure out strategy for reloading inline JS changes"
First reported by @KeniMorri, and confirmed by @K-LV and me, Brackets won't reload inline javascript on changes to an HTML file. According to [their docs](https://github.com/adobe/brackets/wiki/Troubleshooting#css-html-and-javascript) (see final bullet), you have to manually reload for inline JS changes to show in live preview.

<blockquote>For JavaScript and other external file types, when you sa

[2015-03-16 15:25] humphd opened #106 "Maybe enable insertHintOnTab feature"
In the list of preferences for Brackets, one that's turned off, but might be useful for us to enable is `insertHintOnTab`.  What it does is insert the currently selected code hint when the tab key is pressed.

My vote is that we should enable this.  Can people try turning it on/off and see what they think?

[2015-03-16 15:26] sedge commented on #105
Thimble has a reload button already, so the tricky part would be how to force the reload in a clean manner. I'm not confident this can happen without changes to brackets code.

[2015-03-16 15:27] sedge commented on #106
This is a great feature. I'm with you on this.

[2015-03-16 15:28] humphd commented on #105
What we need to know is if there is some way to determine in the preview document/DOM (i.e., via messages from over the postMessage transport/protocol) when updates have stopped.  If we were alerted via a message in the live dev protocol, we could somehow update the UI in the preview to show the user they need to do something (e.g., put a gray filter of the page with a Reload button in the middle

[2015-03-16 15:29] humphd commented on #106
See https://github.com/adobe/brackets/wiki/How-to-Use-Brackets#list-of-supported-preferences for the complete list.

[2015-03-16 15:32] sedge commented on #105
Sounds like a job for the sedgehammer!

[2015-03-16 15:42] humphd commented on #105
I did a bit of digging.  The issue here is not with Brackets, as such, but the browser.  As you type more in the script tag's body, the protocol does update the preview side with that new content.  However, once a script is loaded by the browser, it won't re-parse it just because it changes.

Maybe we need some kind of way to track changes to the script elements as we change them?

[2015-03-16 15:47] humphd commented on #105
Here's what happens when we add a new script tag to the editor on the other side of the live dev protocol (i.e., this is what gets received in the preview iframe via the protocol):

[code]
As you can see, it knows that it's inserting a `script` tag.  Maybe that provides us a way to add some extra code to watch for changes to it?

[2015-03-16 16:01] humphd commented on #105
@busykai, @sebaslv I wonder if you have any advice here.  Basically, what I'm looking for is a Live Dev flow like so:
* User has an HTML document in the editor, and iframe-based MultiBrowser LiveDev preview open (what our fork does, basically)
* User adds an inline script element to the document in the editor
* The remote protocol applies this DOM update, and also sets up some kind of listener on

[2015-03-16 17:55] AJDBenner commented on #94
This issue doesn't seem to be critical so we are removing it from the PPP milestone.

[2015-03-16 18:56] sedge opened #107 "Make thimble load brackets from another domain"
This is important to protect the security of webmaker's ecosystem and its users. To accomplish this, we'd need to:

* [x] Add configuration options that allow us to specify which domains can send postMessages to and from the thimble and brackets domains
* [x] Reconfigure the brackets iframe to load from an external domain
* [x] Add a grunt task that would serve brackets from a separate local domai

[2015-03-16 19:06] humphd commented on #107
It's also worth adding that we're eventually going to want to be able to load from the S3 bucket at https://mozillathimblelivepreview.net/ and ideally with a sub dir (maybe https://mozillathimblelivepreview.net/bramble) in order to not break current Thimble.  This includes figuring out the TravisCI magic we need for publishing our Bracket's `dist/` folder automagically.

cc @jbuck

[2015-03-16 19:07] sedge commented on #107
Updated.

[2015-03-16 19:14] humphd commented on #107
I think I'd clarify that we only need to start/run a static server for local development, and we might even want to avoid that, and just let people run their own, rather than making the Thimble stuff overly complex.

That is, for local dev you'd grab the branch of Brackets that you want, and run your own static web server in the `dist/` dir, then point your env at that URL (http://localhost:8888 o

[2015-03-16 19:40] KeniMorri opened #108 "Fix Odd Brackets Large Text Issue"
In relation to LARGE Text, brackets acts oddly in relation to where the user's Cursor Highlights.

Setup:
Chrome,
Thimble in windowed mode

Steps:
1. Load thimble,
2. Change Size to Large,
3. Press the area below the paragraph,
From here it branches into 2 possible routes:

4a. The cursor correctly gets placed on line 11(the last empty line),
5a. Reload Page,
6a. Press the area below the paragraph

[2015-03-16 21:01] humphd commented on #108
Is this a duplicate of #105?  If so, please close.  If not, please add details.

[2015-03-16 21:06] K-LV commented on #69
**Update**
I've been looking at the way regular Brackets handles CSS files. This is what I've found so far:
* When a CSS file is added to a Live HTML Document it should trigger the "StylesheetAdded" event.
![screen shot 2015-03-16 at 4 19 17 pm](https://cloud.githubusercontent.com/assets/9330361/6675632/69cabb24-cbf8-11e4-9f0a-b2468a415a0c.png)
* The event is picked up [here] (https://github.com/h

[2015-03-16 21:13] humphd commented on #69
Is this just something that's missing from the MultiBrowser LiveDev stuff (i.e., does Brackets have it in the full LiveDev code)?

[2015-03-17 16:02] AJDBenner commented on #78
https://github.com/humphd/brackets/pull/110 fixes this issue

[2015-03-17 17:44] humphd commented on #108
Why are we persisting the state of the editor?  Why not have a reload just reset everything?  If it's putting things in the filesystem, note that we are formatting it on every reload.

[2015-03-18 15:35] #78 closed

[2015-03-18 16:35] humphd opened #113 "Deal with 404s in filer-dialogs extension"
![screen shot 2015-03-18 at 12 31 25 pm](https://cloud.githubusercontent.com/assets/427398/6713740/cc5dd64a-cd6a-11e4-88e6-5ed16b8b0f98.png)

The [filer-dialogs extension](https://github.com/ScottDowne/filer-dialogs) adds File > Open and File > Save As dialogs for our filer filesystem.  It needs a build step to install fonts from font-awesome using `bower`.  We don't have that in our Gruntfile, so

[2015-03-18 16:53] humphd commented on #105
We're not going to have a solution for this by Friday, so I'm moving out of this milestone.

[2015-03-18 18:34] AJDBenner opened #114 "Error when trying to use an iframe tag."
![screen shot 2015-03-18 at 2 32 54 pm](https://cloud.githubusercontent.com/assets/9154982/6716417/c39d296e-cd7b-11e4-8735-eb04a48254b7.png)
This error shows up when trying to use the iframe tag.

[2015-03-18 18:40] humphd commented on #114
That's not our code, but rather Github not allowing you to "click jack" their code by putting it in an iframe.  See http://en.wikipedia.org/wiki/Clickjacking.  Try another domain.  Lots of big sites will block this.

[2015-03-18 18:42] KeniMorri commented on #114
Ye, try a site that doesn't disallow clickjacking like,

    <iframe src="http://www.w3schools.com">
      <p>Your browser does not support iframes.</p>
    </iframe>

[2015-03-18 18:44] AJDBenner commented on #114
I see, w3schools seems to work. I'll close this.

[2015-03-18 18:44] #114 closed

[2015-03-18 20:52] K-LV opened #115 "Split NoHostServer into two servers: HTMLServer and StaticServer"
Things to do:

* Register both servers with different Priorities 9001, 9000, such that HTMLServer.js tries first to serve a file, then StaticServer.js gets it in brackets-browser-livedev/main.js ~L150.  This will involve rewriting _getServer so it works for the two different servers.

    Look at servers in https://github.com/adobe/brackets/tree/master/src/LiveDevelopment/Servers

    HTMLServer.j

[2015-03-18 20:57] humphd commented on #115
We also need to rework how we do `urlToPath` and `pathToUrl` in our servers.  This is where we should be using the blob's we create in Filer.  Probably we'll still need one special case for getting the instrumented HTML asynchronously.

[2015-03-18 20:58] humphd commented on #69
Depends on #115. Moving out of PPP.

[2015-03-18 20:59] humphd commented on #107
WIP in https://github.com/sedge/thimble.webmaker.org/pull/18

[2015-03-18 21:53] humphd commented on #106
Fixed by https://github.com/humphd/brackets-browser-livedev/pull/35

[2015-03-18 21:53] #106 closed

[2015-03-19 15:12] AJDBenner opened #117 "Indentation looks incorrect on the <tr> tag"
When you make the &lt;tr&gt; tag within a table, the auto indentation seems to be incorrect when you hit enter to move the &lt;/tr&gt; tag to the next line.
![screen shot 2015-03-19 at 11 02 22 am](https://cloud.githubusercontent.com/assets/9154982/6733427/9572f6e2-ce28-11e4-8718-4cacf29bc227.png)

[2015-03-19 15:39] humphd commented on #117
Is this known/filed on Brackets upstream?  What happens in desktop Brackets 1.2?

[2015-03-19 19:09] AJDBenner commented on #117
It looks like this issue happens on desktop Brackets 1.2, I haven't been able to find this issue filed in Brackets.

[2015-03-19 20:20] AJDBenner opened #118 "Console error when editing CSS using the inline CSS widget"
If you open the inline CSS widget for a HTML element with CSS applied to it and edit the CSS in the widget you get this console error.
![screen shot 2015-03-19 at 4 17 59 pm](https://cloud.githubusercontent.com/assets/9154982/6740061/98859788-ce53-11e4-84dd-cc15ecc8a26a.png)
![screen shot 2015-03-19 at 4 18 42 pm](https://cloud.githubusercontent.com/assets/9154982/6740076/ae34b9f6-ce53-11e4-88dd-0

[2015-03-19 20:33] humphd commented on #118
My strong suspicion is that we're running this through the slowparse/htmlhint stuff, and the DOM is different enough to cause things to break.  Can you try disabling the HTMLHint extension and see if you can reproduce?

[2015-03-19 20:43] AJDBenner commented on #118
When reproducing this error with HTMLHinter turned off you still receive the "data-brackets-id=1 not found" error

[2015-03-20 00:25] sedge commented on #118
@AJDBenner Does that cause any functionality to break?

[2015-03-20 00:26] sedge commented on #117
@AJDBenner If you can isolate a simple set of STR (steps to reproduce) then you should file it upstream.

[2015-03-20 01:28] humphd commented on #118
That's *probably* another issue related to things moving around in the preview DOM, and not finding elements to highlight--I wouldn't read it as part of the other error.  Note, too, that in your screenshot above, the errors are coming from two different pages: the `errorDisplay.js` is in the editor, and the other ones are within a blob URL, meaning it's running in the preview.

So eliminating the

[2015-03-20 14:06] AJDBenner commented on #118
Eliminating the HTMLHint makes the "Uncaught TypeError" go away, but the "data-brackets-id=1 not found" error still remains. It doesn't seem to break anything in the live preview though.

[2015-03-20 14:13] AJDBenner commented on #118
Actually, I'm mistaken. After changing the CSS in the widget, if you close the widget and click on the &lt;p&gt; tag element this error is displayed.

![screen shot 2015-03-20 at 10 09 55 am](https://cloud.githubusercontent.com/assets/9154982/6753005/52187a04-cee9-11e4-9e2a-87341009f5ed.png)

If you try to change the content within the &lt;p&gt; tag after this error the live preview is broken and

[2015-03-20 14:41] sedge commented on #65
Blocked on @jbuck getting a heroku deployment working with Webmaker's staging suite

[2015-03-20 14:47] KeniMorri commented on #91
Fixed with copy/paste patch

[2015-03-20 14:47] #91 closed

[2015-03-20 15:03] humphd opened #119 "Create HTMLServer LiveDev Server for HTML files"
Splitting off from #115, this bug is about implementing a new LiveDev server called `HTMLServer.js` in our browser-livedev extension (`brackets-browser-livedev/nohost/HTMLServer.js`).  See pattern for implementing a server in https://github.com/adobe/brackets/tree/master/src/LiveDevelopment/Servers

We need to add code to overload the `canServe()` method in `BaseServer` like so https://github.com/

[2015-03-20 15:06] KeniMorri commented on #117
The basic premise of this issue is, when you make a <table> tag with autocomplete, it creates </table> after your cursor, so when you go to press enter, it puts u in the same column as <table> so:

    <table>
    </table>

thus when you start typing out <tr> you'll be here:

    <table>
    <tr></tr></table>

then when you press enter between the <tr> tag it'll end up looking like this:

    <tab

[2015-03-20 15:07] humphd opened #120 "Create StaticServer LiveDev Server for non-HTML files"
Splitting off from #115, this bug is about implementing a new LiveDev server called `StaticServer.js` our browser-livedev extension (`brackets-browser-livedev/nohost/StaticServer.js`). See pattern for implementing a server in https://github.com/adobe/brackets/tree/master/src/LiveDevelopment/Servers.

This server should offer to serve files (i.e., not instrumented livedocs) as blobs.

[2015-03-20 15:11] AJDBenner commented on #117
This issue has been filed upstream https://github.com/adobe/brackets/issues/10770.
Here's a better representation of the issue.

![demo2](https://cloud.githubusercontent.com/assets/9154982/6754254/cdc46ca0-cef1-11e4-8246-8914a7aba260.gif)

[2015-03-20 15:18] humphd opened #121 "Filesystem should automatically create/manage BLOB URLs, LiveDocuments for files"
Splitting off from #115, this bug is about adding a new responsibility to the filesystem for keeping BLOB URLs in sync with file writes, deletes, renames, etc.  The goal is to allow synchronous access to BLOB URLs for a given path, which means maintaining a cache for these on every filesystem write (since accessing the data blocks is always asynchronous).

The Brackets Filesystem needs to hold a r

[2015-03-20 15:19] KeniMorri opened #122 "Figure out why certain file types do not work with img tag on hover event"
Presently with the `<img>` tag in relation to hovering over the src, there are certain file types that don't presently appear to work, these being:

bmp
no file type(extension)
tiff(but it doesn't appear to be a web file format, so neglect able I imagine)

The following are presently working:

svg
jpg
jpeg
png
gif

[2015-03-20 15:21] humphd opened #123 "Better integrate Launcher with LiveDev HTMLServer and BlobUtils"
Splitting off from #115, this bug is about changing the Launcher to use BLOB URLs generated by the appropriate server (see #119, #120) vs. talking to the server directly.  We should be able to just do `browser.update(url)`.

[2015-03-20 15:25] humphd opened #124 "Remove NoHostServer.js and register HTMLServer.js and StaticServer.js"
Splitting off from #115, once we fix #119 and #120, we need to change our browser-livedev extension to register (with LiveDev server manager) and use the new `HTMLServer` (priority 9001) and `StaticServer` (priority 9000) servers.  This bug is about swapping our server implementation from the single NoHostServer to these new servers.

[2015-03-20 15:25] humphd commented on #115
I've split this bug into 5 other bugs to make it easier to work on this in stages.  I'm going to close this bug in place of those.

[2015-03-20 15:25] #115 closed

[2015-03-20 15:36] humphd commented on #122
There's a possible way to hack this upstream to make it work for any URL.  It involves programmatically trying to assign a URL to an `img` element's `src`, and listening for `onload` and `onerror`:

[code]
I'd look in Brackets' upstream issues and see if this is filed already.

[2015-03-20 15:37] KeniMorri opened #125 "Figure out why Quick Edit refuses to disappear"
Quick edit = Cmd + E

Presently if we expose a Tag, ID, or Class with quick edit that presently does no actually link to any local css files, when we try to close it with cmd+e it goes away for a brief second, then reappears immediately.

The colour picker is unaffected by this, it works as expected.

Extra notes: You can remove quick edit with esc, or by clicking the close button though.

[2015-03-20 15:50] AJDBenner commented on #125
From my testing, quick edit only comes back immediately after closing it if there isn't any style included on the page.

[2015-03-20 16:36] humphd commented on #70
Closable yet?

[2015-03-20 17:00] humphd commented on #121
One improvement to my pseudo-code I wrote earlier this week, where I was suggesting we do `Filer.blobs`.  That's not a great idea, because it's not tied to an instance.  We should put the public facing API for accessing these blobs on the `fs` instance somehow.

[2015-03-20 17:12] gideonthomas commented on #104
finxed with 633bd75bde265dbcb5369f4c0c3b69113ff76b8f

[2015-03-20 17:12] #104 closed

[2015-03-20 17:12] gideonthomas commented on #70
fixed with 633bd75bde265dbcb5369f4c0c3b69113ff76b8f

[2015-03-20 17:12] #70 closed

[2015-03-20 17:16] humphd opened #127 "HTMLHint UI can get in broken state"
![screen shot 2015-03-20 at 1 13 17 pm](https://cloud.githubusercontent.com/assets/427398/6756866/2e004498-cf03-11e4-842a-8d43a798d773.png)

STR:

* Open the default HTML page
* delete the openeing &lt; in front of the paragraph element starting "Make something..."
* get an error, click the ! icon to show the error
* try to fix the error while the error is visible, note that it isn't dismissed
* c

[2015-03-20 17:47] AJDBenner opened #128 "Cannot open helpful links within the HTMLHinter"
When an error like this is displayed

![screen shot 2015-03-20 at 1 42 24 pm](https://cloud.githubusercontent.com/assets/9154982/6757397/1cf18096-cf07-11e4-9f51-5915c095d4cb.png)

The user is unable to click the link to be redirected to a list of CSS properties. This error message shows in the console.

![screen shot 2015-03-20 at 1 42 49 pm](https://cloud.githubusercontent.com/assets/9154982/6757

[2015-03-20 18:33] KeniMorri opened #129 "HintHinter Gutter too large, and bubble looks odd in Large Text Mode"
Presently the current HTML Hinter has a few very marginal issues expressed in picture below:

![untitled](https://cloud.githubusercontent.com/assets/1750230/6758329/b3f84ce4-cf0d-11e4-900b-7a2948513c68.png)

The gutter has increased in size leaving the user with less space to code in and the current Bubble looks weird in Large Text mode.

[2015-03-20 18:34] AJDBenner opened #130 "HTMLHinter stays highlighted when there are two errors and they're both fixed."
STR:
- Load default page
- Remove the > from the meta tag
- Remove the > from the title tag
- Add the > back to the meta tag to fix the error
- Add the > back to the title tag to fix the error

No errors show in the console.

[2015-03-20 18:40] KeniMorri commented on #130
![untitled](https://cloud.githubusercontent.com/assets/1750230/6758502/09a61e40-cf0f-11e4-938f-875d8616acd0.gif)

You mean this?

[2015-03-20 18:43] humphd commented on #121
See discussion in https://github.com/humphd/brackets-browser-livedev/pull/37/files#r26865304--I think we also want to manage LiveDocuments for HTML files when we write them.

[2015-03-20 18:44] KeniMorri opened #131 "HTMLHinter Error Finding oddity"
Presently if you break a > on the beginning tag of a pair, then break tags above it, then fix the original tag the highlighting remains

![untitled](https://cloud.githubusercontent.com/assets/1750230/6758572/6e56e950-cf0f-11e4-9e03-ebfdb98737bf.gif)

[2015-03-20 18:44] humphd commented on #130
This was fixed by @gideonthomas recently, but I don't know if it landed.  It's a dupe of #127.

[2015-03-20 18:45] humphd commented on #131
I *think* the fix @gideonthomas is doing in #127 will fix this.  Please confirm with his patch.

[2015-03-20 19:26] AJDBenner commented on #130
@humphd it looks like this issue still happens after @gideonthomas patch.

[2015-03-20 19:39] #127 closed

[2015-03-20 19:41] KeniMorri commented on #131
Fixed in latest update to HTMLHinter

[2015-03-20 19:41] #131 closed

[2015-03-20 19:52] #130 closed

[2015-03-20 19:52] AJDBenner commented on #130
My fault, @gideonthomas patch does fix this

[2015-03-20 19:54] humphd commented on #118
Moving out of PPP

[2015-03-20 20:26] K-LV commented on #121
Related to this [PR] (https://github.com/humphd/brackets/pull/92/files).

[2015-03-20 20:33] AJDBenner commented on #118
This issue is filed upstream, but it seems to act differently with upstream than with Bramble. https://github.com/adobe/brackets/issues/10773

[2015-03-22 23:57] AJDBenner commented on #117
peterflynn took a look at this bug upstream and said it's a bug/missing feature in CodeMirror. He also said it's expected that the opening `<tr>` tag is expected to be indented like this.
[code]

[2015-03-23 00:21] humphd commented on #117
Do you want to see if it's filed upstream with CodeMirror and file if not?

On Mar 22, 2015 7:57 PM, Andrew Benner <notifications@github.com> wrote:

peterflynn took a look at this bug upstream and said it's a bug/missing feature in CodeMirror. He also said it's expected that the opening <tr> tag is expected to be indented like this.

<table>
    <tr>
    </tr>
</table>

—
Reply to this email dire

[2015-03-23 14:10] AJDBenner commented on #117
This issue is filed in the CodeMirror repo as well https://github.com/codemirror/CodeMirror/issues/3147

[2015-03-23 14:41] humphd commented on #128
It's probably just that we need to implement opening a link in a new tab here:

https://github.com/humphd/brackets/blob/bramble/src/thirdparty/browser-appshell.js#L74-L79

[2015-03-23 16:30] AJDBenner commented on #117
I was directed to test this issue [here](http://codemirror.net/demo/closetag.html) and it doesn't seem to reproduce in codemirror/CodeMirror. This could possibly be that adobe Brackets instance of CodeMirror is pointing to an old commit.

[2015-03-23 17:14] K-LV commented on #121
@gideonthomas says that he will take on finishing this up

[2015-03-23 20:23] humphd commented on #122
I filed https://github.com/adobe/brackets/issues/10786 upstream.

[2015-03-23 20:41] humphd opened #134 "Phase out file:/// URIs and replace with URL.createObjectURL() and BLOBs"
Filed upstream, so that image preview etc can work in-browser.

https://github.com/adobe/brackets/issues/10787

[2015-03-24 15:21] KeniMorri commented on #125
Alright with a little bit of testing I've found the general issue with why quick edit refuses to disappear.
So to start I'll show off what happens in brackets presently:

![brackets](https://cloud.githubusercontent.com/assets/1750230/6805068/7930476c-d217-11e4-8f66-61daf2b77f7b.gif)

In this gif you can see me Expose the p tag, then encircle where the cursor presently is,
Then I expose the ol tag,

[2015-03-24 16:05] AJDBenner commented on #117
https://github.com/humphd/brackets-browser-livedev/pull/40 fixes this issue.

[2015-03-24 16:24] #117 closed

[2015-03-24 16:29] humphd commented on #121
@gideonthomas one thing to note when you are doing this work, I realize that I never used `URL.revokeObjectURL()` to clean up dead BLOB URLs, see https://developer.mozilla.org/en-US/docs/Web/API/URL/revokeObjectURL

Probably we should do that when we delete them from the cache.

[2015-03-24 16:58] gideonthomas commented on #128
@AJDBenner you can take this bug if you want

[2015-03-24 17:14] AJDBenner commented on #128
https://github.com/humphd/brackets/pull/135 fixes this issue.

[2015-03-24 17:33] #128 closed

[2015-03-24 19:30] #121 closed

[2015-03-24 19:43] gideonthomas opened #138 "Prefer blob URLs from cache whenever possible"
This bug has two parts:
* Currently, in our html rewriter code [here](https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/lib/HTMLRewriter.js#L46-L52) and [here](https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/lib/HTMLRewriter.js#L83-L98), we fetch from disk and then generate a blob url. Instead, we should try to check if one already exists for that path in ca

[2015-03-24 20:22] humphd commented on #138
I *think* that if there isn't a cached BLOB URL already existing, it means that `writeFile()` was never called for that path, and therefore trying to re-read it isn't going to produce anything new.  One interesting side-effect of doing this change is that it would turn the process into something synchronous, since it's just going to be O(1) lookups.

[2015-03-25 14:01] gideonthomas commented on #105
This *can* be an upstream change. Before calculating the DOMDiff, instead of calculating a diff for anything inside a `<script>` tag, we can make it so that if anything inside the `<script>` tag changes, we generate a diff that represents the entire `<script>` tag. This would mean that we'd have to change the code that generates the new id's for every DOM element change, to change the id of the `<

[2015-03-25 14:16] humphd commented on #105
Short of advice from our Brackets friends, I wonder if it's worth doing an experiment here.  We'd have to be careful to separate changes to a `script` element that points to an external resource (e.g., has `src`) vs. one where we're changing its text content.

[2015-03-25 17:04] humphd commented on #123
We're probably going to have to still have the HTMLServer and launcher talk to each other, since we always need the generated/instrumented HTML source vs. what's on disk.  This bug should probably morph to be about not caching HTML files in BlobUtils, since we can't really use them, and/or putting the BLOB URL we actually serve into cache.

[2015-03-25 18:59] AJDBenner commented on #129
https://github.com/KeniMorri/HTMLHinter/pull/6 will fix this issue.

[2015-03-25 20:04] #129 closed

[2015-03-26 01:11] humphd opened #140 "Don't use brackets.getModule() in src/"
Brackets is dying because of [this line](https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/lib/async.js#L13), which was copy/pasted from the brackets-browser-livedev extension and should be using require:

[code]

[2015-03-26 06:48] KeniMorri opened #141 "Figure out why Brackets Line Numbers Gutter is so large"
Presently Brackets code mirror gutter has 50px of bloat:
![screenshot 2015-03-26 02 40 31](https://cloud.githubusercontent.com/assets/1750230/6841498/005c7d50-d362-11e4-927c-008d5894f137.png)

From reading comments around the code I've found out the partial reasoning behind this seems to be that making the gutter any smaller breaks the code mirror instance, shown here:
![screenshot 2015-03-26 02 4

[2015-03-26 15:44] AJDBenner commented on #108
This PR should fix this issue https://github.com/sedge/thimble.webmaker.org/pull/20

[2015-03-26 15:58] K-LV opened #143 "Change content of new HTML files to not be empty."
Right now, when you create a new HTML document, the content of that new file is empty. This leads to problems when trying to preview it. This solution is to intercept the writing process of HTML files and change the contents to a default page.

[2015-03-26 16:07] humphd commented on #143
Make sure we put documentation about why we're doing this  (e.g., because we always preview docs immediately in LiveDev) in the code that does this.

[2015-03-26 17:19] AJDBenner commented on #125
When you disable the HTMLHinter extension this issue still persists.

[2015-03-26 17:43] AJDBenner commented on #125
From my research this is what is happening.

When you hit CMD + E [this](https://github.com/humphd/brackets/blob/bramble/src/editor/EditorManager.js#L294) function is called which calls [this](https://github.com/humphd/brackets/blob/bramble/src/editor/EditorManager.js#L225) function. When you hit CMD + E again to try and close the inline widget the call stack is the exact same as previously stated

[2015-03-26 17:53] AJDBenner opened #144 "Spacing is incorrect on <html> tag when using autocomplete."
This is what happens when you hit enter to autocomplete.

![demo](https://cloud.githubusercontent.com/assets/9154982/6853090/2a7876ae-d3bf-11e4-951b-f0eb9ba0859b.gif)

This is what happens when you hit tab to autocomplete.

![demo](https://cloud.githubusercontent.com/assets/9154982/6853110/602ca874-d3bf-11e4-93d7-798e25ffe2ad.gif)

This error doesn't happen in desktop Brackets.

[2015-03-26 17:58] AJDBenner commented on #144
This issue doesn't occur if `<!doctype html>` is declared.

[2015-03-26 18:45] humphd commented on #144
I'm not sure this is a big deal.  I'd WONTFIX this, personally.

[2015-03-26 19:24] AJDBenner commented on #125
I've been able to narrow this issue down further. The reason CMD + E isn't closing the inline widget is because the widget doesn't have focus. The focus is in the editor.

If you click inside the widget then hit CMD + E it will close the quick edit. The desktop version of Brackets has this issue too. If you open the inline widget in desktop Brackets then click somewhere in the editor then try to h

[2015-03-27 13:52] sedge commented on #65
Closed with https://github.com/mozilla/thimble.webmaker.org/issues/474

[2015-03-27 13:52] #65 closed

[2015-03-27 13:52] sedge commented on #107
Closed with https://github.com/mozilla/thimble.webmaker.org/issues/474

[2015-03-27 13:52] #107 closed

[2015-03-27 13:55] sedge commented on #113
Do we want to remove fontawesome completely?

[2015-03-27 13:58] sedge commented on #105
I like Gideon's idea. I'll give it a spin.

[2015-03-27 13:58] humphd commented on #113
Well, we are now using it for the gutter icon in HTMLHinter.  So I say we start by making this work.  Can we do this in such a way that we make sure we only load it once?  And only load the smallest set of what is needed for our icon use?  Keep an eye on overall size increases.

[2015-03-27 13:59] #144 closed

[2015-03-27 14:12] humphd commented on #88
Let's finish this off by trying to turn on CSP, now that @sedge has done the domain boundaries between the editor/preview and app.

[2015-03-27 14:18] humphd commented on #140
This was fixed by https://github.com/humphd/brackets/commit/789ca6d143798a0fb8b810cf36951a0d7813c200

[2015-03-27 14:18] #140 closed

[2015-03-27 14:21] humphd commented on #88
This might be a bit tricky to do at the moment:

[code]

[2015-03-27 14:26] AJDBenner opened #146 "Hook up the reload button in thimble to reload the livedev preview."
Right now clicking on the reload button in thimble does nothing. We want to make the button reload the rendered html document when pushed.

[2015-03-27 14:29] sedge commented on #88
The worst ones are the `Refused to evaluate a string as JavaScript` errors. I'm not sure how we can get around that, but a properly protected site would lock that down.

[2015-03-27 14:30] sedge commented on #88
Everything else I can deal with. Should we allow unsafe-eval? @jbuck What do you think?

[2015-03-27 14:57] KeniMorri commented on #146
This feature was proposed by, well, me a while ago, but we didn't need it back then. You should bring this up with @humphd to see how you should proceed with this. If all we wanted to do was refresh the content then:

1. Hook up reload button to executeCommand inside Bramble Proxy
2. Make a new command inside executeCommand to send a reload command to brackets-livedev
3. Add another command to rec

[2015-03-27 15:09] sedge opened #147 "Refactor grunt publish tasks"
Since we no longer serve brackets from `gh-pages` we can do away with the build step when we publish updates to submodules in bramble.

[2015-03-27 15:17] sedge commented on #105
This is up for grabs again.

[2015-03-27 16:58] AJDBenner commented on #146
[This](https://github.com/humphd/brackets-browser-livedev/pull/44) PR and [this](https://github.com/sedge/thimble.webmaker.org/pull/21) are a WIP to fix this issue.

[2015-03-27 17:56] KeniMorri opened #148 "Investigate new ways in order to display HTMLHinter Hint"
Presently we spawn a second gutter to the left of the line numbers gutter, this current method wastes a lot of horizontal space which is very important when it comes to our web implementation of brackets due to space wasted on the preview. This problem is refactored further if we consider that we do not know how the user will use our application.

Possible Solutions:
1. Override the Gutter in rela

[2015-03-27 18:53] AJDBenner commented on #125
I've notice that in Bramble you aren't able to create a "new rule". I think this may be causing the issue. When you create a new CSS file then you have the option to create a "new rule" and this error doesn't occur. Here is what I mean.

![demo](https://cloud.githubusercontent.com/assets/9154982/6874844/c9a3958e-d490-11e4-8fae-4df2ee381b8b.gif)

[2015-03-27 18:57] jbuck commented on #88
Ideally we don't, but I don't know if that's possible. I defer to you!

[2015-03-28 01:08] humphd opened #150 "Fix colour editor for use in browsers that don't use -webkit- prefix"
The inline colour editor tool in Brackets isn't designed to work outside WebKit.  Here's what it looks like in the desktop Brackets app:

![screen shot 2015-03-27 at 8 58 33 pm](https://cloud.githubusercontent.com/assets/427398/6879192/b297eb9a-d4c4-11e4-9e6b-a1a90b4b9b0c.png)

Here's what it looks like in Bramble running in Firefox:

![screen shot 2015-03-27 at 9 05 22 pm](https://cloud.githubuse

[2015-03-28 01:14] humphd commented on #150
For those playing along from home, I used http://www.colorzilla.com/gradient-editor/ to build those cross-browser gradients above.

[2015-03-28 01:14] Pomax commented on #150
http://stackoverflow.com/questions/18452885/building-a-4-corners-colors-css3-gradient offers quite a few ways to achieve this, it looks like some of those should be possible here

[2015-03-30 19:54] le717 commented on #150
Just to quickly note: there is a bit more than LESS at play here, namely [this line](https://github.com/adobe/brackets/blob/master/src/extensions/default/InlineColorEditor/ColorEditor.js#L174) (which, IIRC, is the old WebKit gradient syntax). As you noted, there is a lot of `-webkit-` prefixed styles. Although we can't totally remove them until Linux gets CEF 2721, updating these to standardized v

[2015-03-30 19:58] gideonthomas opened #153 "Thimble is broken"
Reported by @KeniMorri and @K-LV
![screen shot 2015-03-30 at 3 55 27 pm](https://cloud.githubusercontent.com/assets/5816130/6905329/3142f354-d6f5-11e4-8a66-7b95cd24921e.png)
 is shown when we  try to load thimble locally which uses whatevers on brackets:bramble

Seems like Thimble is not passing the "bramble:init" postMessage to brackets-browser-livedev which is why it never fulfils it's initExten

[2015-03-30 20:01] humphd commented on #150
Excellent, thanks for the link to the other code we have to touch.  Yeah, I want this fix to happen upstream, and will file it there once we make some headway.

[2015-03-30 20:03] gideonthomas commented on #153
The problem starts with [this](https://github.com/sedge/thimble.webmaker.org/commit/7b2c8d2913fc117fcf616edf7cfea6407545b50a) commit which allows thimble to use brackets from another domain

[2015-03-30 20:05] humphd commented on #153
Paging @sedge...is this just locally or upstream too?  NOTE you need to update your .env locally to get the right domains.

[2015-03-30 20:11] humphd commented on #153
https://github.com/sedge/thimble.webmaker.org/commit/b63ece9ec6287694ee65c05fe21e39c3e9d575ff#diff-bb503f3d9047bcd4a5730559f1e16560R36 should be made smarter to know about port details, too.  Question, why are we doing this parsing at all?  Why not have different configs for different scenarios?

[2015-03-30 20:12] humphd commented on #153
https://github.com/sedge/thimble.webmaker.org/commit/b63ece9ec6287694ee65c05fe21e39c3e9d575ff#diff-bb503f3d9047bcd4a5730559f1e16560R36 should be made smarter to know about port details, too.  Question, why are we doing this parsing at all?  Why not have different configs for different scenarios?

[2015-03-30 20:12] humphd commented on #153
https://github.com/sedge/thimble.webmaker.org/commit/b63ece9ec6287694ee65c05fe21e39c3e9d575ff#diff-bb503f3d9047bcd4a5730559f1e16560R36 should be made smarter to know about port details, too.  Question, why are we doing this parsing at all?  Why not have different configs for different scenarios?

[2015-03-30 20:15] sedge commented on #153
Let's do different configs - one for the origin that serves bramble and another for where the submodule is being served from.

It's the difference between `someorigin.com` and `someorigin.com/subroute/[dist or src]`

[2015-03-30 20:20] humphd commented on #153
Who can work on this so we don't leave Thimble broken?

[2015-03-30 20:24] humphd opened #154 "See if we can learn from this paper"
http://www.andreaforte.net/ParkICER2013.pdf is an interesting read, and it makes me wonder if there is anything we could learn from it and/or implement in Bramble to help those learning web dev.

[2015-03-30 20:42] gideonthomas commented on #153
fixed with https://github.com/sedge/thimble.webmaker.org/commit/16ce24c42b024e236d9f948c8c2a39a659baae03

[2015-03-30 20:42] #153 closed

[2015-03-30 20:47] #119 closed

[2015-03-30 20:48] #120 closed

[2015-03-30 20:48] #124 closed

[2015-03-30 21:22] #123 closed

[2015-03-30 21:41] humphd opened #155 "Experiment with some extensions"
Here's a list of interesting extensions that would be neat to try with Bramble.  Step 1 is testing them all with our fork to see if they all work.  Step 2 is figuring out how to enable some of the UX around the ones that need interaction via status bar or menu:

* https://github.com/szdc/brackets-cdn-suggestions
* https://github.com/sprintr/brackets-color-palette
* https://github.com/dnbard/bracke

[2015-03-30 21:55] gideonthomas opened #156 "CSS styles not updating preview"
With the last patch for multi-files landing in brackets-browser-livedev, when you add a `<link>` tag to a local css file, it should update the live preview immediately, but it does not. It seems like the blob url to the css file is being generated but the message is either not reaching the iframe or is not being used in the iframe because the link element cannot be seen in the live preview DOM.

@

[2015-03-31 00:26] K-LV commented on #156
@gideonthomas hopefully this [PR] (https://github.com/humphd/brackets/pull/157) fixes this issue

[2015-04-01 15:14] gideonthomas commented on #113
Seems like HTMLHinter is going to be using an image instead!

[2015-04-01 17:45] AJDBenner commented on #150
[This](https://github.com/humphd/brackets/pull/158) PR should fix this issue.

[2015-04-01 19:24] busykai commented on #105
@humphd, I was away hence the delay. The solution you're suggesting seems OK with exception that DOM updates are not needed when the page is reloading -- it will get fresh current copy of the content of the editor. Since reload is an "expensive" operation, it should be done in limited amount of circumstances, e.g. when there's a copy-paste (and the resulting document is syntactically correct); whe

[2015-04-01 19:24] #146 closed

[2015-04-01 19:26] gideonthomas commented on #156
Fixed with 155a8620b371f05624b527925064c73f351661b7

[2015-04-01 19:26] #156 closed

[2015-04-01 19:28] gideonthomas commented on #143
Fixed with 155a8620b371f05624b527925064c73f351661b7

[2015-04-01 19:28] #143 closed

[2015-04-01 19:32] gideonthomas commented on #108
Fixed with efeafe76d1ea5ce7556b6eb3055892f5c87f1104

[2015-04-01 19:32] #108 closed

[2015-04-01 19:38] gideonthomas opened #159 "CSS styles do not update the preview on using quick edit"
STR:
* Create an html file, save
* Create a css file, save
* Add a `<link>` tag in the html file to reference the css file
* Cmd+E on an element (which has styling rules in the CSS file) to open quick edit
* Begin editing a rule
* Witness an error in the console

[2015-04-01 20:08] humphd commented on #105
So auto-reloading is one solution, but I get that it's expensive.  What about just making it clear to the user that the preview DOM is now out of sync, and a reload will be required to get the scripts to the same place as the editor?  This could be done with UI in the preview.  Then it's on the user to do the reload when it makes sense.  In addition, you could have a pref to auto-reload in this ca

[2015-04-01 20:19] busykai commented on #105
Yeah, it can be done either way (UI indication or auto-reload). These are actions, however. My point is being we're not detecting the conditions for the action.

I am favoring auto-reload because, while being expensive, it is more explicit and straightforward. UI indication, in my experience, however clever, will result in some folks wondering what's going on (as it would require to understand the

[2015-04-01 20:31] humphd commented on #105
OK, I'm with you now.  Yes, I'd favour automatic intervention vs. clever UI for this, too.

So should this get filed upstream?  How are we going to move it forward?  This is already a blocker for us.

[2015-04-01 21:05] busykai commented on #105
I have filed adobe/brackets#5656 which is more or less covers editing existing tag, but does not treat the paste usecase. I have couple of free days ahead, let me draft something, at least to estimate the complexity of the change. Since it's a blocking issue for you, I will put more priority to it.

[2015-04-01 21:11] humphd commented on #105
@busykai++

[2015-04-02 14:24] humphd commented on #105
As an aside, https://github.com/Matt-Esch/virtual-dom is interesting.

[2015-04-02 14:53] gideonthomas commented on #69
Fixed with ce9a45d41c72739c8b779a0fb63f113a12416c1b

[2015-04-02 14:53] #69 closed

[2015-04-02 16:26] KeniMorri commented on #155
Current Progress:
cdn-suggestions: working

[2015-04-02 17:20] KeniMorri commented on #154
I'm not going to assign this to myself, but I will give it a read when I have time

[2015-04-02 17:40] KeniMorri commented on #155
In depth Analysis:
https://github.com/szdc/brackets-cdn-suggestions
1. Works fine, doesn't throw any errors

[2015-04-02 18:21] K-LV opened #160 "Move filer files to src/filesystem/impls/filer/lib"
Move filer files in src/filesystem/impls/lib to src/filesystem/impls/filer/lib

[2015-04-02 19:23] humphd commented on #148
https://github.com/KeniMorri/HTMLHinter/pull/8 is fixing this, which I am hoping we'll get in today.

[2015-04-02 19:54] humphd commented on #148
This just needs to land via submodule update in bramble.  Leaving open til then.

[2015-04-02 21:23] #148 closed

[2015-04-02 21:24] gideonthomas commented on #141
Fixed with 09e0913e93c84a4c45274b7988ec2fb4a3d85eb0

[2015-04-02 21:24] #141 closed

[2015-04-02 21:26] gideonthomas commented on #159
moving out of PPP.1 as issue is more complicated than expected.

[2015-04-03 16:58] busykai commented on #105
@humphd, thanks for the reference! i'll take a look at it. so far we hadn't problems with out version of virtual DOM. the real trick is how to translate to edits to DOM to DOM modifications on the remote.

at any rate, if you merge both `kai/fix-5656-live-dev` and `kai/fix-10821-ld-allow-reload-in-browser` from `adobe/brackets`, you should get a working version which reloads the browser when there

[2015-04-03 18:51] humphd commented on #105
I tried merging these two branches onto our stuff (and also reverted the copy-paste fix we applied locally, see https://github.com/humphd/brackets/commits/revert-copy-paste-fix).  I can see that it's reloading all the time now, as expected; however, it's not changing the contents of the preview.  Even simple HTML edits cause a reload, but don't show up in the preview.

This might be due to how we

[2015-04-03 18:53] humphd commented on #105
BTW, in case one of my guys wants to look at this, I put all the work up at https://github.com/humphd/brackets/tree/issue105-revert-copy-paste.

[2015-04-03 22:15] busykai commented on #105
ooops. sorry about reloading all the time, my bad. haven't checked the draft fix after fixing the reload issue. please merge `kai/fix-5656-live-dev` once again.

[2015-04-06 15:01] humphd opened #162 "Revoke stale URL Objects for a given file whenever we create a new one"
In `content.js` we have:

[code]

We call this in a bunch of places to create HTML (when we launch a URL) and CSS (when we rewrite CSS) files reachable via the iframe browser.  Every call to `URL.createObjectURL()` probably needs to have a matching `URL.revokeObjectURL()` sometime in the future, so that we don' t leak URL objects.  The most common case for this is during a reload, where we are thr

[2015-04-06 15:46] K-LV opened #163 "Fix right-click context-menu disappearing issue on Firefox"
Firefox seems to have a problem when right-clicking on the side panel. Right-clicking the empty, dark, area produces nothing on Firefox while on Chrome it displays a menu. A work-around, for Firefox, is to right-click an existing file, hold it, and left-click the desired option.

| Firefox                     |  Chrome |
|------------------------- | ------------------------- |
| ![ff-right-click](

[2015-04-06 16:23] sedge opened #164 "Update deployment to gzip files on S3"
S3 won't dynamically gzip files it serves, so they must be uploaded gzipped and [S3 needs to be informed about the change](http://docs.travis-ci.com/user/deployment/s3/#Setting-Content-Encoding-header).

[2015-04-06 16:27] sedge commented on #164
This will require a rethinking of how we build and deploy our stuff to S3. Currently, travis-ci runs `grunt build-browser` and then deploys the built package to S3. We will need to modify either the build step (`gruntfile.js`) or the deploy logic (`.travis.yml`), possibly both.

[2015-04-06 16:52] humphd commented on #105
I've remerged, thanks for the extra fix.  You can play with it here:

http://humphd.github.io/brackets/dist/

I think it's mostly working, but there are some odd things.  First, any change to a top-level child of the `html` element will now cause a reload, e.g., if I add a newline before/after an existing element like the `p` tag.  This isn't horrible, but it's more churn than necessary, I think.

[2015-04-06 17:09] sedge commented on #164
This dun work

[2015-04-06 17:42] humphd commented on #105
I think I found the reload issue, fix is in https://github.com/humphd/brackets-browser-livedev/pull/49

I've updated http://humphd.github.io/brackets/dist/ with that fix, too, and it works well in Chrome/Safari.  Firefox seems to still get behind and need more changes to reload and catch up.

[2015-04-06 17:57] humphd commented on #162
Just got this error testing things:

```uncaught exception: out of memory```

Yeah, this is bad :(  We need a fix.

[2015-04-06 18:33] K-LV opened #167 "Remove duplicate HTML file"
There are currently 2 default.html files in bramble. One in the [brackets-browser-livedev] (https://github.com/humphd/brackets-browser-livedev/blob/master/lib/default.html) extension and one in the [filesystem] (https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/lib/default.html) extension. The fix should remove the latter.

[2015-04-06 18:52] humphd commented on #162
Another thought occurs to me.  In `iframe-browser.js` we do this, when we alter the iframe's `src`:

[code]

Before we alter the `iframe.src`, we could do:

[code]

We might already have enough code paths to deal with CSS files and images.

[2015-04-06 19:57] K-LV opened #169 "Make default HTML file HTML5 compliant"
The default.html file in filesystem/impls/lib is currently not HTML5 compliant.

[2015-04-07 15:02] #169 closed

[2015-04-07 15:13] #160 closed

[2015-04-07 15:26] gideonthomas commented on #159
We have discovered a problem with this issue.

Changes to a CSS file should be propagated to the preview as they are made. This means that a user should be able to click on an element, use quick edit to edit the style rules for that element and the changes should be reflected in the preview (if you save the changes to the css file, currently, it still does not update the preview unless you switch

[2015-04-07 15:31] humphd commented on #159
Doing a REGEX on XML is madness, don't do it.  This is why we use `DOMParser` in the rewriter.  I agree with not using 404s.  We should also be careful to have a strategy for cleaning up blob urls when they aren't needed any more.  Figuring out when it's safe to clean them up might be tricky.

[2015-04-07 17:29] K-LV commented on #167
Filed an [issue] (https://github.com/humphd/brackets/pull/170) in extension brackets-browser-livdev to do the opposite (i.e. remove the default.html file from there and use the one in bramble instead)

[2015-04-07 17:32] #167 closed

[2015-04-07 17:34] KeniMorri opened #173 "Fix odd large text issue on load"
STR: Difficult
1. Load thimble
2. Change Text to Large
3. Reload Page
4. Error may be present, no guarantee

Example of error:
![screenshot 2015-04-07 13 33 19](https://cloud.githubusercontent.com/assets/1750230/7029296/b5fee3e2-dd2a-11e4-81a1-3227ea0c7687.png)
Note how close the Editor is to the gutter

Basically somehow, on load, the extension initializes the font change too early in brackets lo

[2015-04-07 17:38] KeniMorri opened #174 "Fix HtmlHinter errorToggle Disappearing issue"
When dealing with multiple files if we spawn the errorToggle button, then move onto a different file and spawn the errorToggle on that file the toggle disappears from the initial file.
![error](https://cloud.githubusercontent.com/assets/1750230/7029396/6673ac80-dd2b-11e4-9c64-081281bc4f87.gif)

[2015-04-08 14:38] humphd commented on #138
Assigning to @K-LV, since I want this done in conjunction with #162.

[2015-04-08 17:25] KeniMorri commented on #163
Found out whats going on, basically:

Firefox:
![screenshot 2015-04-08 13 23 13](https://cloud.githubusercontent.com/assets/1750230/7050948/b9d2126e-ddf2-11e4-8b3e-4a497302c584.png)

Chrome:
![screenshot 2015-04-08 13 23 28](https://cloud.githubusercontent.com/assets/1750230/7050951/bfd4c7c4-ddf2-11e4-8d0e-71bfb8deb92a.png)

Figuring out a fix now

[2015-04-08 18:10] humphd commented on #163
Yeah, this is really interesting, and for sure it's 1/2 of the problem.  I wonder why the `project-files-container` doesn't stretch 100% of the way down?  Talking with folks on the brackets irc channel, one working theory is that Brackets is using old-style flex-box syntax, and Firefox is doing the wrong thing based on that.  I can't immediately see any `-webkit-*` type stuff being applied to this

[2015-04-08 18:12] humphd commented on #163
The other problem here is that the `oncontextmenu` event handler seems to close the menu when the mouse button is released on Firefox but not Chrome.  So there's at least 2 bugs here, and it might be worth separating that out.

[2015-04-08 18:28] humphd commented on #163
I wonder if `.box-flex()` needs a rewrite https://github.com/adobe/brackets/blob/ae17456a596965a1247b79ddb82c6e1518bc6e5e/src/styles/brackets_mixins.less#L55L59

[2015-04-08 19:32] gideonthomas commented on #159
Fixed with humphd/brackets-browser-livedev@475fdad65f5f91b8425667159da3b11fe41722f2

[2015-04-08 19:32] #159 closed

[2015-04-08 19:39] gideonthomas opened #175 "Live preview does not update blob url on save"
Noticed by @K-LV

When we add a `<link>` tag to our html document and then go to make changes in the CSS file that is linked, it updates the preview fine. However, if we save that CSS document and then try to make changes, the live preview does not update as intended.

This seems to be because when we do a save, a new blob url representation is generated for the CSS file and that is the blob url u

[2015-04-08 19:45] AJDBenner commented on #150
This issue has also been filed upstream https://github.com/adobe/brackets/issues/10853

[2015-04-08 20:05] gideonthomas commented on #162
https://github.com/gideonthomas/nimble/commit/ce9d70be1bc6cc77100682cf5e2a9bbe57479736#commitcomment-10629979

[2015-04-08 20:21] gideonthomas commented on #162
Another place we need to revoke the blob url is when we call `serveLiveDoc` in bbld where we generate a new blob url for the instrumented document. We should probably cache it and revoke it when we generate a new one

[2015-04-08 20:31] #138 closed

[2015-04-08 21:42] humphd commented on #162
Talking with @K-LV about this on irc, I think the right strategy here is to move `Content.toURL()` into `BlobUtils` and rename it to `createURL(path, data, type)`.  The code would be something like:

[code]

Then all consumers of Blob URL Objects are free to use them without having to worry about lifetime management or leaks.

[2015-04-09 10:34] petetnt commented on #150
As a general (related) note, (at least when the upstream gets rid of all the `-webkit-` prefixes), for the Brackets-in-browser use-case I think it would make sense to add an [autoprefixer](https://github.com/less/less-plugin-autoprefix) for the `grunt-less` task which would (automagically) solve this and all the other possible prefix-related problems with just one additional dependency and one add

[2015-04-09 14:47] humphd commented on #150
@petetnt an interesting idea.  @AJDBenner you should do an experiment to see what that's like (separate to this bug).  NOTE: for compatibility we are dependent on the following browsers in order to support our in-browser filesystem and web server code: https://github.com/filerjs/filer#compatibility

[2015-04-09 15:03] humphd opened #177 "Land brackets-browser-livedev in src/extensions/default"
We started out with `brackets-browser-livedev` as a submodule, partly because we wanted to keep `src/` is clean as possible for merging/submitting upstream work.  In that time the extension's code has become critical to working of Bramble, and I think it's time to consider landing the code directly in the repo and not using a submodule anymore.  Too often changes span both repos, and it's annoying

[2015-04-09 17:15] AJDBenner opened #178 "Add an autoprefixer to the grunt-less task"
It was suggested in a comment [here](https://github.com/humphd/brackets/issues/150#issuecomment-91189541) that Bramble would benefit from adding an autoprefixer to the `grunt-less` task. This should help to clear up any prefix-related issues.

[2015-04-09 17:21] AJDBenner commented on #178
Fixed with https://github.com/humphd/brackets/pull/179

[2015-04-09 17:41] KeniMorri opened #180 "Update Brackets Sidebar Flex CSS"
Presently brackets is using an outdated version of flex, due to this the sidebar is not rendered properly within firefox

 Firefox                     |  Chrome
------------------------- | -------------------------
 ![screenshot 2015-04-08](https://cloud.githubusercontent.com/assets/1750230/7050948/b9d2126e-ddf2-11e4-8b3e-4a497302c584.png) | ![screenshot 2015-04-08](https://cloud.githubusercontent

[2015-04-09 20:20] KeniMorri commented on #163
This issue has been split into 2, refered to in #180 and fixed in #182

[2015-04-10 14:20] #162 closed

[2015-04-10 20:37] K-LV commented on #180
I can also confirm that, after adding this patch, the context menu is now visible when right-clicking in Firefox. However, it goes away unless right-click, hold, and hover over the menu.
![ff-right-click](https://cloud.githubusercontent.com/assets/9330361/7096918/5d0d3f00-df9f-11e4-96e6-dbfed72fea3e.gif)

[2015-04-13 15:26] KeniMorri commented on #174
This issue most likely arises due to the extension only keeping track of 1 button at a time, I initially was looking into fixing this issue by using a Codemirror.on("Focus",) method but this might be a little bit resource intensive, due to focus relating to many things.

[2015-04-13 16:26] #178 closed

[2015-04-13 17:44] humphd opened #185 "Allow ?ui=1 to override hiding of all desktop UI"
For the Thimble case, we really want to hide the menu bar, sidebar, toolbar, etc.  But it would be nice if we could override this and allow the full UI to still be displayed.  Let's alter the `brackets-browser-livedev` extension to check for a `ui=1` on the query string, and skip hiding UI elements when present.

[2015-04-13 17:52] KeniMorri commented on #180
Although in general, the fixes I proposed in PR #182 does correct the issues in firefox, in relation to these lines:
https://github.com/humphd/brackets/blob/bramble/src/styles/brackets_mixins.less#L71-L76
I cannot seem to find a suitable replacement for them within the flex method. I can't find anything in relation to it breaking yet though.

[2015-04-13 17:56] humphd commented on #180
What about elsewhere in the CSS/LESS?  Are there other places that need similar fixes?

[2015-04-13 17:58] KeniMorri commented on #185
Alright, I'll look into implementing this

[2015-04-13 18:44] AJDBenner commented on #174
Fixed with https://github.com/KeniMorri/HTMLHinter/pull/9

[2015-04-13 18:58] #174 closed

[2015-04-13 19:24] humphd opened #187 "Add SVG back to language/languages.json"
I purged a bunch of languages that aren't needed from `src/language/languages.json` so that CodeMirror wouldn't load modes for them all.  However, I removed SVG, and we need it in for a patch I'm doing with QuickView.

Basically, adding these lines to our file:

https://github.com/adobe/brackets/blob/5daf5bea63b0ef602d3213427c1edb6a987150ba/src/language/languages.json#L101L106

[2015-04-14 15:15] K-LV commented on #69
That commit lies in the extension brackets-browser-livedev [here] (https://github.com/humphd/brackets-browser-livedev/commit/ce9a45d41c72739c8b779a0fb63f113a12416c1b); part of this [PR] (https://github.com/humphd/brackets-browser-livedev/pull/45).

[2015-04-14 15:30] KeniMorri commented on #187
This is fixed in #188

[2015-04-14 15:32] K-LV commented on #163
Update: using @KeniMorri's [fix 182] (https://github.com/humphd/brackets/pull/182), when you right-click on the lower portion of the sidebar the context-menu seems to function normally.
![ff-right-click](https://cloud.githubusercontent.com/assets/9330361/7140547/e4205d68-e299-11e4-8354-204b0e59dc45.gif)

[2015-04-14 15:35] humphd commented on #163
This makes me wonder if there is some extra click handler of some kind attached to the `li` for the `index.html` file in the tree.

[2015-04-14 15:40] AJDBenner opened #189 "Allow for a detached live preview window"
We would like to add a feature that allows the user to open the live preview in a new window (detached live preview). When the new window is opened the editor will hide the in-editor preview window (attached live preview), but still keep it up to date. When the detached live preview is closed the attached live preview will automatically open with the most up to date version of the document. This f

[2015-04-14 15:40] #187 closed

[2015-04-14 15:59] AJDBenner opened #190 "Add a button to toggle between an attached and detached live preview state"
This is part of https://github.com/humphd/brackets/issues/189. We need to add a button that allows the user to toggle between the two preview states.

[2015-04-14 16:01] AJDBenner opened #191 "Keep track of the detached vs attached live preview state"
This is part of #189. We need a method that allows bramble to keep track of the live preview state. It should know if the preview is detached or attached.

[2015-04-14 16:03] AJDBenner opened #192 "Add an event handler on the detached live preview"
This is part of #189. We need to have an event handler as part of the detached live preview window to know if the detached live preview is open or closed.

[2015-04-14 16:09] AJDBenner opened #193 "Hide the attached live preview window when the detached live preview is opened"
This is part of #189. We need to add functionality that will hide the attached preview when the detached live preview is open. When the attached live preview is hidden it should still be updated as the document changes.

[2015-04-14 16:10] AJDBenner opened #194 "Open the attached live preview window when the detached live preview is closed"
This is part of #189. We need to add functionality that will open the attached live preview when the detached live preview is closed.

[2015-04-14 16:15] K-LV opened #195 "Manage both the attached and detached live preview windows"
Splitting off from #189. We need to make sure that both the attached and detached live preview windows are always in sync. That way, when we toggle between them, they will always show the most up-to-date content. This will be done at the transport layer.

[2015-04-14 16:18] K-LV opened #196 "Open new live preview window"
Splitting off from #189, we need to open up a new window that will have the same content as the, current, attached live preview. This will require setting the URL of the new window to be that of the attached live preview source Blob URL.

[2015-04-14 17:38] humphd opened #197 "Implement MVP of Visual Image Picker extension"
One of the biggest requests we've gotten for improvements to Thimble is that it needs an easier way to deal with image selection.  Right now the process is much more complicated than it needs to be, since it requires leaving the editor window, searching for an image, figuring out the right URL (image URL vs. HTML wrapper displaying the image), copy/pasting, discussions of fair use, etc.

There are

[2015-04-14 17:44] mjschranz commented on #197
As far as what Popcorn Maker does for all of this, it really just parses what the user inputs and checks if it's some sort of URI for a media it knows about (YouTube, SoundCloud, Vimeo, etc) and if it doesn't pass any it assumes a normal search which then sends an AJAX request to the registered endpoint on it's server provided by https://github.com/mozilla/webmaker-mediasync.

I obviously don't kn

[2015-04-14 17:51] humphd opened #198 "Startup project should allow arbitrary content, and multiple files"
A request I've gotten from a few people is to allow starting the app with arbitrary content, which might be a single HTML file, or a bunch of HTML, CSS, JS files.  You can already do this with sites like jsfiddle, where I can author some content, save it, get a URL and when you open it, you get back the same content.  I want to be able to do this with an entire web project that has many files.  In

[2015-04-14 17:58] humphd commented on #198
Talked to @modeswitch on irc, and his old tar code is in this commit: https://github.com/filerjs/filer/commit/ad3aa5eac8f7730009ad7c1fe84cccfb133a7c7c

[2015-04-14 18:03] davidascher commented on #197
My contribution to this thread is to tell the story of a conversation I had
with Stuart Butterfield back when he was CEO of Flickr.  We were talking
about how both nice it was that they had enabled creative commons licensing
for images on an opt-in basis.  I was bemoaning the fact that he couldn't
make it opt-out, and he replied: "it doesn't matter -- suppose you're
looking for a CC image of a pum

[2015-04-14 18:08] humphd commented on #197
@davidascher I think that makes a lot of sense.  @mjschranz, is the `webmaker-mediasync` stuff smart enough to only get CC licensed images?  If not, can it be taught to do so?

[2015-04-14 18:11] humphd commented on #198
It would be interesting to think about publishing as "tar the filesystem, and send that to the server" and edit/open as "xhr a tar file from the server and expand to the filesystem."

[2015-04-14 18:11] mjschranz commented on #197
It definitely could be. Only thing needed to be changed there would be the Flickr specific service code.

[2015-04-14 18:18] humphd commented on #197
In addition to CC license by default, it would also be useful to default to "Safe" for the Safety Level we search, https://www.flickr.com/help/filters/#258.  This is what http://www.photosforclass.com/ does.

[2015-04-14 18:27] mjschranz commented on #197
I think I already do that but I recall testing in the past definitely being hit/miss and depandant on what users submitted/flagged inappropriate. I recall the default search being for cats on our image plugin and we wound up getting images of kitten fetuses which was rather not nice.

[2015-04-14 18:33] modeswitch commented on #198
Yeah, that's a wonderful idea.

I had planned to add support for something like this as an option during formatting anyway, and this would be a more general version of that.

[2015-04-14 18:40] mjschranz commented on #197
While we are here, what license were you specifically looking at? It looks like multiple from CC are supported based on https://www.flickr.com/creativecommons/ and https://www.flickr.com/services/api/explore/flickr.photos.licenses.getInfo.

Multiple licenses can be specified in search VIA csv. Are we thinking all of the ones listed that are actually Create Commons or only a subset of those?

[2015-04-14 18:42] humphd commented on #197
As long as the image is one they can rightfully use, I don't think it matters.  People almost certainly won't care, so this is more about removing friction on the way to getting an image into the editor.

[2015-04-14 18:57] mjschranz commented on #197
@humphd https://github.com/mozilla/webmaker-mediasync/pull/14

[2015-04-14 19:57] davidascher commented on #197
Right.  Any CC license will do for our purposes.  (Extra credit for, when
embedding the image, doing so in a way that links back to the source flickr
page e.g. as an extra IMG attribute).

[2015-04-14 20:01] mjschranz commented on #197
I don't know if my code does that but I can certainly look into it to make sure that if that is available I'll choose that option.

[2015-04-14 20:30] KeniMorri opened #199 "Fix firefox context menu multi-element css oddities"
Presently within firefox whenever 2 items reside on the same line in a context menu, the second element is pushed to the second line, and rendered far to the right as seen below:

| File Options | Project Manager | Color picker |
| --- | --- | --- |
| ![screenshot 2015-04-14 16 25 55](https://cloud.githubusercontent.com/assets/1750230/7146686/622a6626-e2c3-11e4-92a4-439a5bdb6c43.png) | ![screensho

[2015-04-15 15:22] #185 closed

[2015-04-15 16:52] humphd commented on #105
The work by @K-LV and @gideonthomas to make reloads happen correctly and efficiently at the protocol-level is now in, and so I've landed all of this now, which included:

* Rebasing `humphd/bramble` onto `adobe/brackets/master` (we are now at https://github.com/adobe/brackets/commit/873e8d5ca7a10b878b5fa09c930b677c80c54096)
* Reverting the patch for copy-paste fixes in Live Dev in https://github.c

[2015-04-15 16:52] #105 closed

[2015-04-15 17:35] humphd opened #201 "Fix HTML hint errors in Firefox"
I've noticed that HTML hints are crashing in Firefox since I rebased.  I've filed, and fixed this upstream https://github.com/adobe/brackets/pull/10907

[2015-04-15 17:40] KeniMorri commented on #180
Updated main post

[2015-04-15 18:58] K-LV commented on #196
Fixed in https://github.com/K-LV/brackets-browser-livedev/commit/fb52b2c1607065e5d4127d00b4f8e85ae8968f41.

[2015-04-15 18:58] #196 closed

[2015-04-16 14:30] humphd commented on #164
@jbuck, do you have tips for @sedge on what has to happen to make this work?  It's fairly high on my priority list to get this squared away so we can start pointing people at the work.

[2015-04-16 14:35] sedge commented on #164
[This commit](https://github.com/humphd/brackets/commit/c34943cb467c695420af25505fa5a65c2abfe0b8) attempted to solve this problem, but ended up getting `304` response codes on the entire `/brackets` subdirectory. Most of the work is complete, but I won't have the time to attend to this for another few days.

If someone can spot what I did wrong so that I can *quickly* correct it then I could fix t

[2015-04-16 15:36] AJDBenner commented on #190
Fixed with https://github.com/AJDBenner/brackets-browser-livedev/pull/3

[2015-04-16 15:45] humphd opened #202 "See if we can reduce reloads for non-script changes to the DOM"
In #105 we landed patches by @busykai to allow inline script changes to trigger a reload, and thus let the preview better reflect the state of the editor.  They work great.  The patch also fixed the issue of copy-pasting/replacing the entire `html` element, which is a common case for us.

One effect of these changes is that we reload often, and unnecessarily in cases where we are simply editing so

[2015-04-16 16:44] jbuck commented on #164
When you run the compression script, [every single file becomes a 20 byte broken gzip file](https://github.com/gruntjs/grunt-contrib-compress/issues/132). Hooray!

[2015-04-16 16:47] AJDBenner opened #203 "Move CSS-in-JS stuff to the css file."
We have some instances of CSS within JS files via jQuery. It would be nice to move these instances into the CSS/LESS file to help keep things tidy.

[2015-04-16 16:51] sedge commented on #164
@jbuck ++

[2015-04-16 16:51] #190 closed

[2015-04-16 16:52] humphd commented on #164
[code]

[2015-04-16 17:00] humphd commented on #164
@sedge if that PR works, let's just use the commit in package.json until they update npm.

[2015-04-16 18:01] K-LV commented on #195
Closed with https://github.com/AJDBenner/brackets-browser-livedev/commit/6ebac073fd4bd2430218ad3391aceb40dbcac834

[2015-04-16 18:01] #195 closed

[2015-04-16 19:53] K-LV commented on #191
I believe this solves this issue https://github.com/AJDBenner/brackets-browser-livedev/commit/6ebac073fd4bd2430218ad3391aceb40dbcac834

[2015-04-16 20:23] #191 closed

[2015-04-16 20:28] AJDBenner commented on #193
Fixed with https://github.com/AJDBenner/brackets-browser-livedev/pull/5

[2015-04-16 20:29] #193 closed

[2015-04-16 21:20] AJDBenner opened #204 "Add image change on live preview button."
It would be nice to change the image of the live preview button to reflect the preview state. Basically, have one image for a detached live preview and a different button for an attached live preview.

[2015-04-16 21:25] humphd commented on #192
If this proves to be hard to do, just using the `detachedWindow` instance directly, another solution would be to use the remote transport script to add a `unload` event handler that sends a messages over the transport indicating that the window is closing.  We could then deal with this on the editor side and do whatever clean up is necessary.

[2015-04-16 21:30] humphd opened #205 "Detachable preview status bar icon should be a toggle"
Our current status bar button for the detachable live preview is one-way, namely, it assumes that you want to detach the preview and open it in an external window.  However, it would be nice if it *also* worked the other way too, and when you click it to detach the preview the following happened:
* icon changes to the one I specified here https://github.com/AJDBenner/brackets-browser-livedev/pull/

[2015-04-16 21:33] humphd commented on #204
Dupe of #205

[2015-04-16 21:33] #204 closed

[2015-04-16 21:47] humphd commented on #202
I realize that I'd merged an older branch of `kai/fix-5656-live-dev` which didn't have https://github.com/adobe/brackets/commit/f22dc1c754254c461cca831e9f985bf282d459b2.  I've corrected this now, and our `bramble` branch has it.

It makes things a bit better, in that the `shouldReload` case is now not triggered if I just edit text content within an existing node.  But if I try to add a `p` element

[2015-04-16 22:08] humphd commented on #202
Tracing through this code, I'm almost wondering if we shouldn't do a hybrid approach, and not do the `shouldReload` case for `html` and add this back https://github.com/adobe/brackets/pull/10653/files, leaving `shouldReload` for `script`.  Needs some testing.  It might not be perfect, but I think it might be less noisy with reloads for the common case (e.g., altering a small bit of the DOM vs. who

[2015-04-17 13:33] busykai commented on #202
@humphd, `html` was added in `shouldReload` to address adobe/brackets#10634: editing html root nodes (`html`, `body`, `head`) cannot be done in a reasonable fashion via injected scripts (this is the reason why adobe/brackets#10653 was not a reliable solution), so any DOM edited subtree which has `html` as the root would cause reload.

[2015-04-17 14:14] KeniMorri commented on #205
I've implemented a toggle in my experimental branch here:
https://github.com/AJDBenner/brackets-browser-livedev/pull/7

another change is a switch to svg's because they'll scale nicer

[2015-04-17 14:31] KeniMorri commented on #154
Skimming through this article, they bring up.
Their editor seems pretty straight forward, with HTML + CSS + Preview,
- I was thinking that with our new detachable preview pane that it would be possible to have a layout similar to such:
![screenshot 2015-04-17 10 28 36](https://cloud.githubusercontent.com/assets/1750230/7203946/887c0afc-e4ec-11e4-81fa-49cc9778b416.png)

So that the user doesn't nee

[2015-04-17 14:40] humphd commented on #175
This can get closed now, right?

[2015-04-17 14:45] K-LV commented on #175
@humphd not yet. Waiting on review for https://github.com/humphd/brackets/pull/184.

[2015-04-17 15:43] humphd opened #206 "MVP of a Mobile Preview mode"
Currently the preview we do is showing what things look like on desktop.  It would be neat if we could switch to a preview that looks like what you'd get running on a mobile phone.  Let's add a simple version of this by doing the following:
* Add another status bar toggle button with two icons from http://modernuiicons.com/: appbar-iphone and appbar-monitor.  By default it would show the phone ico

[2015-04-17 20:52] humphd opened #208 "Remove Haskell from src/language/languages.json"
With the recent rebase onto Adobe's master, Haskell found its way into `languages.json`.  We can remove it.

[2015-04-17 20:58] humphd opened #210 "Get rid of unnecessary Tern plugins: Angular, Require, Doc Comment"
In https://github.com/humphd/brackets/blob/bramble/src/extensions/default/JavaScriptCodeHints/tern-worker.js#L40 a bunch of plugins are loaded for Tern (the JS code hints tool) that we really don't need.  We can remove these, and save some download size, and also some complexity in the autocomplete results we'll see for globals.

[2015-04-17 20:59] AJDBenner commented on #208
Fixed with https://github.com/humphd/brackets/pull/209

[2015-04-17 21:05] #208 closed

[2015-04-17 21:55] humphd commented on #210
I'll do this, I'm most of the way through it now.

[2015-04-18 03:15] humphd opened #211 "Figure out a sane way to load Tern definition files for browser, es5"
If you look at how the JS hints code works, it's expecting to be able to load JSON definition files directly from the filesystem: https://github.com/humphd/brackets/blob/bramble/src/extensions/default/JavaScriptCodeHints/ScopeManager.js#L59-L109

This works well in desktop Brackets, but won't work in browser, unless you somehow seed the filesystem with these files before they are needed (an option

[2015-04-18 03:15] humphd commented on #211
See http://ternjs.net/doc/manual.html#typedef to understand the way that these files work.

[2015-04-18 03:18] humphd commented on #211
NOTE: we killed the WebPlatformDocs extension for doing this exact same thing, and maybe the solution we use here will also mean we can do the same for it.

[2015-04-18 13:18] humphd commented on #211
I think we can fork these files and drop the `!url` and `!doc` bits to save a bunch of space.  It don't think Brackets uses them at present, and they will just add download size we don't need.

[2015-04-19 04:01] K-LV opened #212 "Change how related stylesheets and scripts are indexed in Bramble"
Brackets keeps a list of related stylesheets and scripts pertaining to a particular live HTML document. These scripts and stylesheets are indexed by URLs as seen here.

![screen shot 2015-04-18 at 11 05 46 pm](https://cloud.githubusercontent.com/assets/9330361/7217980/8744a5d4-e61f-11e4-9022-684156e84697.png)

To get this list, of related documents, Brackets calls the [isRelated] (https://github.c

[2015-04-20 14:04] humphd commented on #202
Alright, given that let's keep things as they are.  Thanks.

[2015-04-20 14:04] #202 closed

[2015-04-20 14:27] humphd commented on #210
Docs on tern plugins here: http://ternjs.net/doc/manual.html#plugins  I'm going to disable them all, because none of them are really important in the browser case, and they just confuse the results we get back.  Even Doc Comment isn't that helpful unless you have a pre-existing tree with lots of well defined JSDoc style docs.

[2015-04-20 15:10] #175 closed

[2015-04-20 15:54] sedge commented on #164
Done!

[2015-04-20 15:54] #164 closed

[2015-04-20 15:55] sedge opened #215 "Update package.json to point at the latest grunt-contrib-compress"
This is pending an upstream merge of [this PR](https://github.com/gruntjs/grunt-contrib-compress/pull/149)

[2015-04-20 17:02] #211 closed

[2015-04-20 17:02] #210 closed

[2015-04-20 17:48] AJDBenner commented on #206
Fixed with https://github.com/humphd/brackets-browser-livedev/pull/63

[2015-04-20 17:55] #206 closed

[2015-04-20 18:17] humphd opened #218 "Switching from Mobile to Desktop preview modes should reload"
The editor and preview can get out of sync.  STR:
* Switch to mobile view
* Change the DOM via the editor (e.g., add a `p` tag with contents)
* Switch to desktop view, notice that the new content isn't there

It's probably using the original blob url instead of loading a new one.  We should just trigger a reload when we switch views to fix this.

[2015-04-20 18:19] humphd opened #219 "Allow overflow scrolling when in mobile preview mode"
![screen shot 2015-04-20 at 2 15 10 pm](https://cloud.githubusercontent.com/assets/427398/7237227/2564dcea-e768-11e4-9051-f68ccb186d2a.png)

In the mobile preview mode, we don't have the proper overflow scrolling for cases where the window isn't large enough to display the entire contents.  This is probably also a problem with desktop mode, but isn't going to get hit as often.

[2015-04-20 18:34] gideonthomas commented on #219
how would we fix this? make the size of the phone smaller? Seems like it won't look too good

[2015-04-20 18:34] gideonthomas commented on #219
Oh wait, nvm I understand now

[2015-04-20 18:47] AJDBenner commented on #219
Fixed with https://github.com/humphd/brackets-browser-livedev/pull/64

[2015-04-20 18:53] KeniMorri commented on #163
Temp fix in PR https://github.com/humphd/brackets/pull/214

[2015-04-20 23:35] humphd opened #220 "[Firefox] "SecurityError: the operation is insecure." accessing sheet.cssRules"
Firefox is picky about accessing stylesheets from other domains:

[code]

See http://stackoverflow.com/questions/21642277/security-error-the-operation-is-insecure-in-firefox-document-stylesheets for an idea on fixing.

[2015-04-20 23:41] humphd commented on #220
The code is from [https://github.com/adobe/brackets/blob/b8f92c1b36c2a15396e36b732d7f3fe52e8f4a8d/src/LiveDevelopment/MultiBrowserImpl/protocol/remote/DocumentObserver.js#L60](LiveDevelopment/MultiBrowserImpl/protocol/remote/DocumentObserver.js).

cc @busykai

[2015-04-21 03:26] busykai commented on #220
@humphd is it nightly or any FF will do? I'll re-file this with `adobe/brackets` with your permission.

[2015-04-21 13:47] humphd commented on #220
I've confirmed this is reproducible upstream, and filed here https://github.com/adobe/brackets/issues/10965

[2015-04-21 15:06] KeniMorri opened #221 "Fix LivePreview being unable to jump between local files"
Presently we are unable to jump between local html files within thimble inside the live preview

Thimble
![thimble](https://cloud.githubusercontent.com/assets/1750230/7255295/4d083662-e816-11e4-8408-a12d4db827d3.gif)
Brackets
![thimble2](https://cloud.githubusercontent.com/assets/1750230/7255298/4deab7b2-e816-11e4-9a15-d7c266a966f1.gif)

[2015-04-21 15:35] KeniMorri opened #222 "Bramble locks up if user uses while tag"
If the user mistakenly types in a while statement that is true in any fashion, brackets will lock up, this issue also persists in mozilla thimble
![true](https://cloud.githubusercontent.com/assets/1750230/7255818/b765a6b8-e819-11e4-8e5a-78edf50975c6.gif)

[2015-04-21 15:57] humphd commented on #222
Yeah, good catch.  We probably need to hook into the "auto-run JavaScript" checkbox in Thimble to enable/disable running the scripts for this case.  Can you dig into how it works in Thimble?

[2015-04-21 16:00] humphd commented on #221
@gideonthomas can you look at this one?

[2015-04-21 16:03] #219 closed

[2015-04-21 16:12] gideonthomas opened #223 "Figure out why content goes missing when switching between mobile/normal preview"
STR:
* Switch to mobile preview
* Add a `<p>` tag with content in the editor
* Switch back to normal view
* The newly added `<p>` tag is missing in the live preview.

<strong>Need to confirm:</strong>
Whether the `<p>` tag is actually there and only the content is missing or whether the entire new element is missing

The above confirmation needs to be made as this might be a problem with Brackets

[2015-04-21 16:14] #218 closed

[2015-04-21 16:40] humphd opened #224 "Add paste-and-indent extension to our defaults"
This is really helpful when you are pasting code you find on the web into the editor, and want it to have the right indents:

https://github.com/ahuth/brackets-paste-and-indent

Let's add this as a submodule to Bramble, and add it to `ExtensionLoader` for our set of detaultExtensions.

@KeniMorri, can you do this?

[2015-04-21 17:29] humphd opened #226 "Properly support protocol-less URLs"
[code]

Will work fine, and load the script.

[code]

Will fail to load the script, because it will look for it in the filesystem.  We need to deal with the special case of `//` at the start, and not treat that as a path separator (it is actually legal to do that).

[2015-04-21 18:30] gideonthomas commented on #222
seems like this is a problem in http://jsbin.com/ too lol

[2015-04-21 18:34] humphd commented on #222
Yeah, but it's solved in Thimble, if we just do what they do.

[2015-04-21 20:09] KeniMorri opened #228 "Figure out why Brackets Status Bar disappears using mobile preview"
If you click outside of the mobile preview, the brackets status bar disappears, even pressing within the preview does not make the status bar reappear. The status bar will only reappear if you press back into brackets
![screenshot 2015-04-21 16 02 59](https://cloud.githubusercontent.com/assets/1750230/7261549/a6985b9c-e840-11e4-9ba5-91fb3fd4d022.png)

vs.

![screenshot 2015-04-21 16 04 39](https:/

[2015-04-21 20:16] K-LV commented on #192
Done in https://github.com/humphd/brackets-browser-livedev/commit/74a9fdabf3f99868fb38985caa082557e3ccecbd

[2015-04-21 20:16] #192 closed

[2015-04-21 20:17] K-LV commented on #194
Done in https://github.com/humphd/brackets-browser-livedev/commit/74a9fdabf3f99868fb38985caa082557e3ccecbd.

[2015-04-21 20:17] #194 closed

[2015-04-21 20:17] K-LV commented on #205
Done in https://github.com/humphd/brackets-browser-livedev/commit/74a9fdabf3f99868fb38985caa082557e3ccecbd.

[2015-04-21 20:17] #205 closed

[2015-04-21 20:18] K-LV commented on #189
Done in https://github.com/humphd/brackets-browser-livedev/commit/74a9fdabf3f99868fb38985caa082557e3ccecbd.

[2015-04-21 20:18] #189 closed

[2015-04-21 20:24] humphd commented on #228
![screen shot 2015-04-21 at 4 23 49 pm](https://cloud.githubusercontent.com/assets/427398/7261844/dc476074-e842-11e4-8ef0-76b6f4630f7c.png)

I notice that in the DOM, the children of the `status-bar` div are all getting `display:none` added for some reason.

[2015-04-21 20:24] humphd commented on #228
Sorry, closed by accident, re-opened.

[2015-04-21 20:39] humphd opened #230 "Update our Travis config to use container builds, caching"
See http://docs.travis-ci.com/user/workers/container-based-infrastructure/, which Jon says will give us some nice build-time improvements.  Assigning to @sedge.

[2015-04-21 20:40] humphd commented on #230
Also http://docs.travis-ci.com/user/caching/

[2015-04-21 20:40] humphd commented on #230
See https://github.com/mozilla/id.webmaker.org/blob/fe361d070705459bd3ca4efa829dd9e29315c677/.travis.yml#L5-L8

[2015-04-22 06:19] awebdeveloper opened #231 "all dialogs throw error"
Throws error on opening of any dialogs

Uncaught Error

 function showOpenDialog(allowMultipleSelection, chooseDirectories, title, initialPath, fileTypes, callback) {
        // FIXME
        throw new Error();
    }

[2015-04-22 13:22] humphd commented on #231
Which branch are you using?  If you're on the `bramble` branch, this should work.

[2015-04-22 13:52] humphd opened #232 "[IE10] DOM7001: Invalid argument 'url'. Failed to revoke Blob URL: 'undefined'"
I'm not sure if this is the cause of the issue or not, but the preview doesn't load in IE10 and we get this warning about a `url` not being properly revoked.  That would point at our code, at least.

![screen shot 2015-04-22 at 9 50 57 am](https://cloud.githubusercontent.com/assets/427398/7276032/353ea920-e8d5-11e4-913e-4798b3fce4ba.png)

Someone needs to dig into what is happening here so we can

[2015-04-22 14:28] humphd opened #233 "[IE10] SCRIPT5: Access is denied. when detaching preview"
When you try to detach the preview into its own window, IE throws a security exception:

![screen shot 2015-04-22 at 10 26 04 am](https://cloud.githubusercontent.com/assets/427398/7276770/1f1d061e-e8da-11e4-83a5-fa31cd36d3a2.png)

Doing a bit of reading about this, I *think* that it doesn't like the way we're loading the preview iframe, and that it thinks it's another domain.  Some sites I've read

[2015-04-22 14:43] humphd commented on #221
https://github.com/humphd/brackets/pull/227 is fixing this.

[2015-04-22 15:43] AJDBenner commented on #203
Fixed with https://github.com/humphd/brackets-browser-livedev/pull/69

[2015-04-22 16:17] AJDBenner commented on #125
From what I've found the issue occurs [here](https://github.com/humphd/brackets/blob/bramble/src/editor/CSSInlineEditor.js#L317). The `disabled` class is added to the `New Rule` button until list is known. The issue is that the `disabled` class is never removed [here](https://github.com/humphd/brackets/blob/bramble/src/editor/CSSInlineEditor.js#L342). Unfortunately, this issue isn't fixed If you m

[2015-04-22 17:37] AJDBenner commented on #125
Fixed with https://github.com/humphd/brackets-browser-livedev/pull/70

[2015-04-22 17:40] KeniMorri commented on #228
As I suspected the reasoning why we're losing the Status bar is because we're losing focus from an editor.

STR: In vanilla brackets
1. Open Brackets (Assuming you're set to No Split curently)
2. Click View
3. Select Vertical Split
4. Click within the 2nd panel
5. Observe that the status bar disappears

Basically from what we can gleam from this is that the area surrounding the iframe in our mobil

[2015-04-22 17:41] #203 closed

[2015-04-22 17:47] K-LV commented on #228
So, if we made the iframe live inside a new preview window it might solve the problem? If so, this might also fix https://github.com/humphd/brackets/issues/233#issue-70142770.

[2015-04-22 18:03] humphd commented on #228
Can we somehow prevent the preview frame holder from getting focus?

[2015-04-22 20:07] humphd commented on #226
I am starting to think that this is caused by protocol-relative links not knowing which protocol to use when living inside a page with a blob url.  If I add a `<base href="https://bramble.mofostaging.net/">` to the `head` of this document, it works.

[2015-04-22 20:20] humphd commented on #226
Talked to bz about this, and what we're seeing is correct per the spec:

[code]

So I think the answer here is to have the preview document include a `base` element that points to some real URL that's got the right protocol.  Probably we can use the same URL that is being used to host the preview iframe.

[2015-04-22 20:24] humphd commented on #226
To be clear, I mean we'd have to programmatically inject the following (which we can do when the transport adds the extra protocol scripts):

[code]

[2015-04-22 20:25] humphd commented on #226
This code here: https://github.com/humphd/brackets-browser-livedev/blob/master/lib/PostMessageTransport.js#L136-L144

Could add the `<base ...>` above the injected `<script>` block.

[2015-04-22 20:39] humphd commented on #228
Another option is to have the `click` event just call `focus()` on the editor, and force it back there.

[2015-04-22 20:53] AJDBenner commented on #125
This bug has been filed upstream https://github.com/adobe/brackets/issues/10975

[2015-04-22 20:55] humphd commented on #222
https://www.youtube.com/watch?v=EA74ODg1qKE and http://codepen.io/quezo/javascriptn/improving-infinite-loop-detection are interesting prior art.

[2015-04-22 21:00] humphd commented on #222
https://github.com/jsbin/loop-protect is what jsbin does.  It's an interesting situation for us, since we have acorn already in our tree, and could do something with better AST matching.  A lot of work, though.

[2015-04-22 21:28] humphd opened #234 "Try adding InlineTimingFunctionEditor"
Brackets has a default, built-in timing editor for bezier curves and css.  We should try turning it on, see how big it is, and how useful.

cc @Pomax.

[2015-04-22 21:39] #226 closed

[2015-04-22 22:05] KeniMorri opened #235 "Setup Thimble "Run Javascript" Checkbox to send post message"
Presently this checkbox does nothing
![screenshot 2015-04-22 18 05 08](https://cloud.githubusercontent.com/assets/1750230/7286462/22f91b98-e91a-11e4-8c00-7ff5f3abe65b.png)

We want it to send a post message to brackets.

[2015-04-23 13:46] humphd commented on #222
I asked the author of Acorn about whether there is code that already does this, and he gave me two other links we could think about:
* https://t.co/ffF8nIm2jl
* https://t.co/eq8WdIYkLx

The JavaScriptCodeHints plugin already has Acorn in it, so we're currently loading it.  Maybe we can extend it?

[2015-04-23 15:13] humphd commented on #231
I'm going to close this, since we do this in `bramble` here: https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/filer/FilerFileSystem.js#L21-L27.  Feel free to file more bugs if you get stuck.

[2015-04-23 15:13] #231 closed

[2015-04-23 15:38] K-LV commented on #118
@AJDBenner I can't get this error to reproduce in our latest bramble code. Can you confirm?

[2015-04-23 15:48] AJDBenner commented on #118
It still reproduces for me.

STR:
- add style to `<p> tag` like this `<style>p {color: red; }</style>`
- push CMD + E
- change the color using the inline widget
- click in the `<p> tag` and change the content

[2015-04-23 16:05] K-LV commented on #118
I see. I was testing using an external style sheet. So it appears the issue is only present using internal CSS.

[2015-04-23 16:53] #224 closed

[2015-04-23 17:46] #125 closed

[2015-04-23 17:58] humphd opened #238 "Markdown Support"
I'm not sure if this is a great idea to do by default or not, but it would be pretty easy to build a LiveDev server for Makrdown files, which automatically builds blob urls that point at rendered HTML vs. Markdown.  This is sort of how our HTML Server works now.  We'd just need to use some kind of JS markdown parser like https://github.com/chjj/marked (there are a lot of them, not sure which is be

[2015-04-23 18:02] humphd commented on #238
marked is only 19K, which is pretty good https://github.com/chjj/marked/blob/master/marked.min.js

[2015-04-23 19:17] #228 closed

[2015-04-23 20:13] #235 closed

[2015-04-24 14:59] K-LV commented on #173
We haven't seen this bug in a while. Re-file if it appears again.

[2015-04-24 14:59] #173 closed

[2015-04-24 15:02] K-LV commented on #163
We are landing this and filing upstream.

[2015-04-24 15:18] AJDBenner commented on #118
I have filed this bug upstream https://github.com/adobe/brackets/issues/10773

[2015-04-24 15:43] #163 closed

[2015-04-24 15:47] #180 closed

[2015-04-24 16:01] #221 closed

[2015-04-24 16:42] #150 closed

[2015-04-24 17:39] humphd opened #239 "LESS files served with wrong content-type from S3, "not well formed" error in Firefox"
The LESS files used in extensions (i.e., the ones not parsed by the build system and turned into css) are being sent to S3 without a proper content-type.  A LESS file is really a `text/css` file, but S3 ends up just using `application/octet-stream`.  Then, when they are XHR'ed by the browser at runtime, they are flagged as not being well formed XML documents by Firefox.

It's not a critical bug, b

[2015-04-24 18:02] humphd opened #240 "Support XHR in live dev preview via postMessage transport layer"
It would be nice if users could write code like this:

[code]

Basically, we'd be allowing the user to request files from their filesystem using XHR.  Doing this would involve the following:
* injecting a new script into the preview DOM that replaces `window.XMLHttpRequest` with a custom function
* the new `window.XMLHttpRequest` would have the same API as the original (note: there are two version

[2015-04-24 20:12] K-LV commented on #94
Can confirm that this issue occurs in Chrome, Safari, and Opera but not in Firefox.

[2015-04-24 20:39] humphd commented on #94
All of which are using WebKit or Blink vs. Gecko.  I wonder what IE does?

[2015-04-25 23:27] humphd opened #241 "Use a custom Filer that doesn't have things Bramble doesn't use"
Filer isn't small, and there's no point in us including bits of it we don't use in Bramble.  I'd like to see us figure out the set of things we need from `fs` and `shell` and do a custom version for Bramble.  This can either be done upstream or we can just fork it (Filer is pretty much done at this point).

[2015-04-27 00:32] humphd opened #243 "Create a proper iframe API for embedding Bramble into a site"
Thimble embeds Bramble in an iframe and then communicates with it using `postMessage`.  This design is a common one, and it will always be necessary in order to isolate Bramble from an actual web app, since Bramble allows (and encourages!) arbitrary script execution.

We already have requests to use Bramble in other web apps, and it would be nice if we generalized how we're doing it such that any

[2015-04-27 00:33] humphd commented on #243
cc @brianfeister

[2015-04-27 00:59] brianfeister commented on #243
Thanks so much for notifying me! I'll be lurking. Still haven't rolled my sleeves up and attempted integrating this project in it's current state into our (Angular) web app.  I'm sure there will be lots of lessons learned there.

[2015-04-28 15:16] humphd opened #244 "Automatic debugger support"
One neat trick you can do is to open the dev tools in your browser, add the `debugger` keyword to a line, and get dropped directly into the running script at that line so you can debug:

![screen shot 2015-04-28 at 11 14 39 am](https://cloud.githubusercontent.com/assets/427398/7372991/ee3ce9de-ed97-11e4-9358-d023620cf097.png)

It would be interesting to experiment with adding a way to click beside

[2015-05-01 19:17] humphd opened #245 "Make localization configurable via URL param"
Brackets uses [RequireJS's i18n localization](https://github.com/adobe/brackets/wiki/Localization).  The choice about which locale to use is done in `src/main.js` [here](https://github.com/humphd/brackets/blob/bramble/src/main.js#L50-L60).  Given that Bramble is always going to need to be loaded into an iframe, and given how early the locale is set (i.e., we can't do this via `postMessage` to our

[2015-05-02 15:21] gideonthomas commented on #244
I think this would be great to do as an extension

[2015-05-05 15:25] sedge commented on #244
+1

[2015-05-05 17:06] sedge opened #246 "Create ImageUrlCodeHinter provider based on UrlCodeHinter"
We want a code hinter that activates when:

1. `<img src=` is typed
2. In a CSS file, `background : url(` is typed
3. In an HTML file, in a style tag, `background : url(` is typed
3. In an HTML file, in a style attribute, `background : url(` is typed

and provides a list of files in the (for MVP) root of the project.

[2015-05-05 17:07] sedge commented on #246
Once this is complete, we want to add an option for "Take a picture", allowing a webcam snapshot or a stock image if webcam WebRTC stuff isn't supported.

[2015-05-05 17:07] humphd commented on #246
`ImageUrlCodeHinter`?

[2015-05-05 17:08] humphd commented on #246
Let's begin by basing this on `UrlCodeHints`.

[2015-05-05 18:50] #240 closed

[2015-05-05 21:27] humphd opened #248 "Move Toolbar to left-hand side, update buttons"
I think we should consider borrowing Visual Studio Code's left-hand toolbar style:

![screen shot 2015-05-05 at 5 15 58 pm](https://cloud.githubusercontent.com/assets/427398/7483144/9c4b7420-f34a-11e4-9155-cee5957204a6.png)

My thinking is that we put the editor on the left, and the preview on the right.  Therefore the tooling should go with the editor pane.

I'd also like to change the button lay

[2015-05-06 00:35] sedge commented on #248
In general, +1.

It would be nice to get some designer feedback on this. My instinct is that the toolbar will quickly become cluttered and disorganized if we try and stuff all of that in without thinking it through.

[2015-05-06 14:19] humphd commented on #248
Agreed.  I'll get some UX help with this before we move forward.

[2015-05-08 16:33] gideonthomas opened #252 "Leverage the LESS parser in the CSSRewriter"
We currently use our own parsing mechanisms and regexes to parse and rewrite CSS. However, we should probably use the LESS parser that brackets provides [here](https://github.com/adobe/brackets/blob/77e5509c0483508dc19072b44ddb58cc56135c2e/src/index.html#L50) instead so that we run into fewer parsing bugs.

[2015-05-08 17:00] humphd commented on #220
This has landed upstream, we need to rebase.  I'm waiting on @gideonthomas to land some other fixes first, let's do this early next week.

[2015-05-08 17:25] humphd commented on #252
The LESS version used in Brackets is older than the new docs.  We have to use `less.parser` and `.toCSS()`.  See https://github.com/adobe/brackets/blob/04efd92ae3d91ea70c6481a7e32e6e4f41676d55/src/utils/ExtensionUtils.js#L121-L131 for an idea of how to call the parser.  I'm not sure how you pass a custom plugin so it will let us rewrite image URLs.  See https://github.com/less/less-plugin-inline-u

[2015-05-08 17:39] humphd commented on #252
It looks to me like Plugins were added in Less v2, so this might be tricky without also updating Less.

[2015-05-08 17:40] humphd commented on #252
Maybe http://stackoverflow.com/questions/26607819/remove-properties-from-rendered-less-css/26610628#26610628 provides a way?

[2015-05-08 18:23] Pomax commented on #252
small note: LESS<2 is incompatible with node v12, so you're going to want to update LESS regardless, if you want to keep the project runnable for people on the current version of Node

[2015-05-08 20:26] gideonthomas opened #257 "SelfieTaker: Some CSS properties don't work"
This is more of a usability issue:
the background-image property in a CSS file should show code hints for the url function but it does not show Take a selfie until you type in the first quote (which should not be the case since it does not need quotes).

![background-image bug](https://cloud.githubusercontent.com/assets/5816130/7544852/00bd650c-f59f-11e4-9512-bb53477e4718.gif)

[2015-05-08 20:34] humphd commented on #257
I noticed this too.  It's probably worth filing upstream for the UrlCodeHints extension, too.

[2015-05-08 20:37] humphd opened #258 "Updating filesystem image URLs often requires a refresh"
The preview can get stuck with old image content if you alter the `src` value for an `img`.  STR:
* Create an `img` and choose `Take a Selfie...`
* Take a selfie, and create `/selfie1.png`
* Repeat the steps above and create a second `img` with `/selfie2.png`--make sure you can tell the images apart
* In the editor, change both URLs to point to `/selfie1.png` and then `/selfie2.png` and notice wha

[2015-05-08 21:01] humphd commented on #258
You can see the issue here, with the 1st and 2nd image showing, but I use the 2nd url twice.

![screen shot 2015-05-08 at 5 00 19 pm](https://cloud.githubusercontent.com/assets/427398/7545522/cafe5bd8-f5a3-11e4-9afc-cde8c5878299.png)

[2015-05-11 01:56] sedge commented on #257
Has this been confirmed in vanilla brackets? I suspect it's in our logic somewhere.

[2015-05-11 13:52] JordanTheriault opened #259 "Renaming files with same name gives "Unknown Error" warning"
When renaming files, the user is given an unknown warning when they attempt to name a file the same as another one in the directory.

This should give an error which informs the user there is already a file with the same name.

![screenshot 2015-05-11 09 49 38](https://cloud.githubusercontent.com/assets/5931078/7566178/5e67ee7c-f7c3-11e4-8912-817c8a3fea18.png)

[2015-05-11 14:00] sedge commented on #257
I've confirmed that UrlCodeHints doesn't have this problem:

![screen shot 2015-05-11 at 9 59 16 am](https://cloud.githubusercontent.com/assets/1616860/7566389/7d16c018-f7c4-11e4-912f-bb9e830f3af4.png)

[2015-05-11 14:06] humphd commented on #257
NOTE: you did `background` vs. `background-image`.  Can you see if that matters?

[2015-05-11 14:15] sedge commented on #257
Good catch - `background-image` with `url(` is broken upstream too.

[2015-05-11 15:04] gideonthomas opened #260 "Test path resolution of post message transport messages"
We use some very complex regex strings in `PostMessageTransport.js` which are very fragile.

We need to test them so that they do not match unnecessary portions in a message and replace them with something unwanted, thus corrupting the message string.

We will need to find out all possible variations of messages that are sent and received using post message and create tests for the path resolution

[2015-05-11 15:08] #258 closed

[2015-05-11 16:30] gideonthomas commented on #257
@sedge can you file this upstream?

[2015-05-11 17:18] sedge opened #261 "Remove brackets as a submodule from thimble"
Brackets has to run from a separate domain, meaning there's not much of an advantage to including it with thimble as a submodule.Brackets has to run from a separate domain, meaning there's not much of an advantage to including it with thimble as a submodule.

[2015-05-11 19:00] JordanTheriault opened #262 "404 error on setting image tag src"
Whenever a string of any value is added to src of the img tag within the editor, a 404 error occurs. The 404 error occurs on every stroke after src is specified.

This error does not take place in the CSS url() case.

This happens despite a blob url being generated in the case of the selfie extension. Further, the image rendering in the preview works.

This leads to a large number of requests bein

[2015-05-11 19:30] JordanTheriault commented on #262
Image will display is the string to a valid file is removed and re-added, so it is likely not an issue with nohost.

This seems to only when a diff check takes place.

[2015-05-11 19:33] sedge commented on #262
This appears to happen on any change to the editor after the `src` attribute of an `<img>` tag has been populated.

[2015-05-11 20:06] sedge opened #263 "Switch HTMLhinter to use slowparse from npm"
We need to add a `package.json` file to the extension's folder and use it to install slowparse for us.

[2015-05-11 20:11] humphd commented on #262
This turns out to be caused by [https://github.com/KeniMorri/HTMLHinter](HTMLHinter), which is where we use SlowParse.  @Pomax, any ideas what would cause SlowParse to actually try and load an `img`'s `src` URL?

Let's disable HTMLHinter on Bramble until we fix this.

[2015-05-11 20:16] humphd commented on #262
@gideonthomas confirms this is being caused by slowparse.

[2015-05-11 20:40] Pomax commented on #262
Slowparse builds an active DOM, so the quickest path to success here will be to write a dropin for the `document` API we're using in https://github.com/mozilla/slowparse/blob/gh-pages/src/DOMBuilder.js, with minimal `Node` (the data structure, not Node.js) implementations for appending children and setting attributes.

[2015-05-12 14:41] JordanTheriault opened #266 "Enhancement: User modes"
User modes would improve tutorials and user experience by fine-tuning the coding environment. These modes are for CSS editing, HTML-only, advanced, basic and more. They will be enable or disable extensions and features depending on the mode selected.

[2015-05-12 15:21] humphd commented on #266
From a backend point of view #265 would make this pretty easy.

[2015-05-12 15:49] JordanTheriault opened #267 "Integrate new ID login system"
Integration of the [new mozilla ID system](https://github.com/mozilla/id.webmaker.org) and Bramble.

[2015-05-12 16:09] #267 closed

[2015-05-12 16:52] humphd opened #268 "Make HTMLHinter more usable"
I would like to see our HTMLHinter get improved in a few ways:
* don't make the entire line pink when it's in error.  If you're typing an HTML tag, it will always be in the error state (and pink) until you close it.  This is annoying in practice.  I'd suggest we only show the line number and ! icon for the error message at left/right.
* don't run slowparse all the time, just when the editor is act

[2015-05-12 16:54] humphd commented on #266
This also ties into #243, where we could do an API for this.

This bug probably belongs in Thimble, where we'd define a series of URLs for use with the editor iframe.  These URLs would disable/enable various extensions using what we landed in #265.

[2015-05-12 16:56] humphd commented on #262
This is being fixed in https://github.com/mozilla/slowparse/pull/79

[2015-05-12 16:57] humphd commented on #261
This doesn't belong here, put it in mozilla/thimble.

[2015-05-12 17:00] #261 closed

[2015-05-12 17:00] humphd commented on #259
I tried this in desktop Brackets, and it does this:

![screen shot 2015-05-12 at 12 58 36 pm](https://cloud.githubusercontent.com/assets/427398/7593248/b2f43e3a-f8a6-11e4-9827-5e8d2258e36e.png)

The error message comes from our filesystem impl, where we map Filer errors to Brackets errors.  The fix will be in https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/filer/FilerFileSyste

[2015-05-12 17:01] #266 closed

[2015-05-12 17:04] gideonthomas commented on #257
Filed upstream https://github.com/adobe/brackets/issues/11088

[2015-05-12 17:08] sedge commented on #246
The current state of this feature is stored in https://github.com/humphd/brackets/tree/selfie .

Closing.

[2015-05-12 17:08] #246 closed

[2015-05-12 17:55] sedge commented on #263
Blocked by: https://github.com/mozilla/slowparse/pull/79

[2015-05-12 18:44] #259 closed

[2015-05-12 18:45] humphd opened #270 "Renaming a folder is broken"
I'm not sure what is happening, but Brackets doesn't seem to do the right thing when you rename a folder.

[2015-05-12 18:48] humphd commented on #270
I see an error, actually:

[code]

It's dying in Filer here:

[code]

[2015-05-12 19:17] JordanTheriault opened #271 "Selfie: UI jumping during video stream load"
UI is doing a re-size once video loads which is visually unappealing.

Options to fix:
1. Wait for the stream to load, then present modal
2. Set background size since we know what it will be, and set the background colour to black.

[2015-05-12 19:18] sedge commented on #271
@humphd Here's how it looks now on my marginally less powerful machine:

![resizefixed](https://cloud.githubusercontent.com/assets/1616860/7596198/fd11fe0e-f8b9-11e4-96ea-fe51945ce68d.gif)

[2015-05-12 19:18] JordanTheriault commented on #271
^ from [this branch](https://github.com/JordanTheriault/brackets/tree/issue264)

[2015-05-12 19:20] humphd commented on #270
This is a filer bug, I'm fixing in https://github.com/filerjs/filer/pull/351

[2015-05-12 19:32] JordanTheriault opened #274 "SelfieTaker: Cat image is sized incorrectly on polaroid"

[2015-05-12 19:38] sedge commented on #274
Cuz:
![screen shot 2015-05-12 at 3 37 43 pm](https://cloud.githubusercontent.com/assets/1616860/7596604/e19b6a9a-f8bc-11e4-8aa4-1bd35834d4c3.png)

[2015-05-12 19:45] JordanTheriault commented on #274
fixed in [#275](https://github.com/humphd/brackets/pull/275)

[2015-05-12 20:11] #270 closed

[2015-05-13 14:19] humphd commented on #220
@gideonthomas can I do a rebase onto Adobe's master yet?  Then I can close this.

[2015-05-13 22:28] humphd opened #278 "Land Selfie extension in extensions/extra"
We're getting requests to try out the new selfie extension.  Let's land it in `src/extensions/extra` for now, and then people can use it via `?enableExtensions=...` for testing, but we won't ship it by default until it's done.

Hurray for dynamic extension loading!

[2015-05-14 19:49] JordanTheriault opened #282 "Remove unused languages"
There is the option to switch the editing mode to Markdown, but it will not render it in markdown. This doesn't seem to match the scope of the app, so it may be worth while to simply remove the unused/irrelevant options.

![screenshot 2015-05-14 15 45 27](https://cloud.githubusercontent.com/assets/5931078/7640343/b3ca6b26-fa50-11e4-978f-921df6fea11c.png)

[2015-05-14 20:40] sedge commented on #282
My vote is that we scrap that entire dropdown and automatically switch based on the file type.

We could write an extension to make this manual for advanced users.

[2015-05-15 00:42] humphd commented on #282
The way to deal with this is probably to create a `BasicUI` extension, which hides the entire status bar.  I strongly suspect the mobile preview, and detach preview, need to move out of the status bar anyway.

A side note: this is a very useful menu, since it lets you enable a mode for a file type that doesn't match the known extension list.  I wouldn't want to remove it on its own, but hiding for

[2015-05-15 02:57] sedge commented on #282
I like the idea of hiding it vs removing. What if we wrote an extension that just controls UI, and let thimble dictate what's shown through querystring (ala extensions)? That seems to be the most flexible way moving forward and it could be simple at first.

[2015-05-15 03:02] humphd commented on #282
I don't think you want to introduce too many separate configuration axes.  We already have separate extensions, and modes will let us bundle extensions for convenience.  Our UI isn't so complex beyond that that we need a separate way to also specify those bits; also, I think it makes compatibility with extensions harder, if we also are adding/removing bits of UI per extension run.

I'd still sugge

[2015-05-15 03:05] sedge commented on #282
That's sound reasoning.

[2015-05-15 14:46] humphd commented on #201
This is landed in our fork now, closing.

[2015-05-15 14:46] #201 closed

[2015-05-15 14:47] humphd commented on #220
This has landed in our fork now, closing.

[2015-05-15 14:47] #220 closed

[2015-05-15 14:47] humphd commented on #122
I got sick of waiting for this to land upstream, so I've just landed it on our fork.  Closing.

[2015-05-15 14:47] #122 closed

[2015-05-15 14:48] humphd commented on #260
I suggest we move this out of the current milestone, unless you get everything done and need more to do.

[2015-05-15 15:15] #230 closed

[2015-05-15 18:23] humphd opened #285 "[IE] brackets-paste-and-indent throws in IE, fails to load"
[code]

[2015-05-15 18:58] humphd commented on #285
This is a bug upstream, for which I've done a PR: https://github.com/adobe/brackets/pull/11124

[2015-05-15 19:28] #232 closed

[2015-05-15 19:32] humphd commented on #233
The mobile and detachable preview need to get refactored and use the new `lib/compatibility.js` stuff I landed to make the preview work in IE.  Basically, we have to `document.write()` the raw HTML into the window/iframe vs. using a blob URL, since IE doesn't support blob URLs with type `text/html`.

[2015-05-15 21:12] humphd commented on #134
We should do this for the selfie stuff to work.

[2015-05-17 02:41] humphd opened #287 "Additional download size savings"
The top JS files by size when you download Bramble are:
* react.js 645K
* codemirror.js 339K
* immutable.js 138K
* acorn (loaded twice, once for main thread, once for worker) 95K
* require.js 81.4K

That's 1,298.4K, which is more than a meg.

These are all thirdparty libs that are just being used vs. developed.  It seems to me that it makes more sense to use the aggressively, and officially, minif

[2015-05-17 03:01] humphd opened #288 "Eliminate Inspector.json"
The 3rd largest file loaded by Bramble is https://github.com/adobe/brackets/blob/decd8e4602d1bd17b048e35ac6a2097f2836d539/src/LiveDevelopment/Inspector/Inspector.json at 231K of mostly strings that can't be minified well.  I need to look at this more closely, but a quick glance leads me to believe that we don't need it in the browser at all with MultiBrowserLiveDev.

@busykai, can you confirm?  If

[2015-05-18 02:45] busykai commented on #288
@humphd, yes, it's CDT's interface from which `Inspector` interface is generated. It's not needed and not used in the multi-browser version.

I believe a much more efficient solution, loading-wise, would be to avoid loading entire `LiveDevelopment/LiveDevelopment`implementation. You'd need to remove initialization [main.js:307-308](https://github.com/humphd/brackets/blob/bramble/src/LiveDevelopmen

[2015-05-18 17:42] JordanTheriault commented on #278
Merge pending at #284

[2015-05-18 17:43] #274 closed

[2015-05-18 17:43] #271 closed

[2015-05-18 17:45] JordanTheriault commented on #245
Merge pending in #283

[2015-05-18 18:10] gideonthomas commented on #263
Unblocked with 67984bd83ad067a5b301d5b3b0da7c1c4d100332

[2015-05-18 18:38] gideonthomas commented on #262
will be fixed with https://github.com/humphd/brackets/issues/263

[2015-05-18 23:19] Pomax commented on #262
Slowparse has been patched and updated.

[2015-05-19 15:07] gideonthomas commented on #245
Fixed with 022ec9d98732fa6247d6b280e235ff9b586237c4

[2015-05-19 15:07] #245 closed

[2015-05-19 15:55] #278 closed

[2015-05-19 16:13] gideonthomas commented on #257
https://github.com/adobe/brackets/pull/11139

[2015-05-19 16:45] #287 closed

[2015-05-19 16:47] JordanTheriault opened #290 "Right-clicking randomly deletes text from the editor window"
Right clicking on text once highlighted deletes the text from the editor.

![zzh1gsi](https://cloud.githubusercontent.com/assets/5931078/7708649/163fba90-fe25-11e4-9019-90da183b05b4.gif)

[2015-05-19 16:55] humphd commented on #290
I bisected, and this was caused by https://github.com/adobe/brackets/commit/a0daa3a79d679201c5017529d5f0e5aa3a3232ea upstream.

[2015-05-19 17:05] sedge commented on #290
Filed upstream @ https://github.com/adobe/brackets/issues/11142

[2015-05-19 18:07] JordanTheriault commented on #199
Related to [bug id488725](https://bugzilla.mozilla.org/show_bug.cgi?id=488725) in Firefox. Trying to locate an effective CSS fix for this issue.

[2015-05-19 18:11] gideonthomas commented on #233
`PostMessage` is not well supported in IE so we are gonna disable the detachable preview button for IE10 and below and have it work in IE11 partially (only when a reload is triggered by the editor)

[2015-05-19 19:13] #233 closed

[2015-05-19 19:14] humphd commented on #288
@busykai, thanks for the ideas.  I started in on this (see [WIP patch](https://github.com/humphd/brackets/commit/e5f4dfa56985b21a40eb63e0597fef0687763e6f)), but it looks like it's going to mean a bunch of changes to other parts of the code that `require` `LiveDevelopment/LiveDevelopment` and `Inspector`.  For example, lots of stuff seems to need access to one or both of these, even if they aren't

[2015-05-19 19:28] humphd commented on #288
Actually, it's `src/brackets.js` that's causing these to get included by `require` in the `_initTest` stuff.

[2015-05-19 19:37] humphd commented on #288
I think I got something that's not too horrible.  @busykai, can you take a look at https://github.com/humphd/brackets/pull/291 and see if you see any obvious problems?  This seems to stop a lot of what I don't need from loading, without too much surgery.

[2015-05-20 14:02] humphd commented on #285
@gideonthomas I suspect I'm not going to get a fast reply to this upstream fix.  Can you please review it, and we can take it here in the meantime.

[2015-05-20 14:06] humphd commented on #257
This landed upstream.  I'm going to rebase today at some point in order to get this fix.

[2015-05-20 14:33] sedge opened #293 "Localize selfie-taker"
The selfie taker extension `ImageUrlCodeHints` needs localization.

[2015-05-20 14:46] gideonthomas commented on #285
@humphd sure, do you want to do a pr here?

[2015-05-20 14:50] gideonthomas commented on #285
nvm r+ for the PR adobe#11124

[2015-05-20 14:52] #288 closed

[2015-05-20 14:54] humphd commented on #285
I've landed this in bramble locally, I'm going to close here.

[2015-05-20 14:54] #285 closed

[2015-05-20 15:02] #257 closed

[2015-05-20 15:09] humphd commented on #199
I'm going to move this out of the current heartbeat, it's not critical to this release.

[2015-05-20 16:26] JordanTheriault commented on #199
Everything except colour picker fixed in #295

[2015-05-20 17:35] #134 closed

[2015-05-20 18:00] humphd opened #297 "Filer Filesystem can't remove directories"
[Brackets Filesystem] Unknown I/O error e {name: "EPERM", code: "EPERM", errno: 50, message: "unlink not permitted on directories", path: "foo"…}

We need `rmdir` for the directory case.

[2015-05-20 18:47] #297 closed

[2015-05-20 19:48] gideonthomas commented on #262
Fixed in 40bd5f4040034628cc75b7b10577ce9016d5cc39

[2015-05-20 19:48] #262 closed

[2015-05-20 20:01] #263 closed

[2015-05-21 06:31] abose commented on #285
@humphd I have merged the PR in brackets. Thanks :)

[2015-05-21 14:45] gideonthomas opened #300 "HTMLHinter needs to be localized"
After landing HTMLHinter in the source tree with slowparse as an npm dependency, slowparse currently only provides en-us localized strings for the HTML error messages. We can probably use thimble's mechanism to localize slowparse error messages.

[2015-05-21 17:07] gideonthomas opened #302 "Add full functionality for XHR from local fs"
This primarily involves two things:
* the XHR shim that is implemented in brackets-browser-livedev [here](https://github.com/humphd/brackets-browser-livedev/blob/master/lib/xhr/XHRShim.js) relies on event listeners attached to the XHR object (`onerror`, `onreadystatechanged`, etc.). We need to deal with the case where `addEventListener` is used instead.
* `getAllResponseHeaders` is not implemented

[2015-05-21 17:51] gideonthomas opened #303 "Enable Multi-file publishing"

[2015-05-21 17:51] gideonthomas opened #304 "UX fs revealing"

[2015-05-21 17:52] gideonthomas opened #305 "Hook up brackets to use thimble's filesystem"

[2015-05-21 17:57] gideonthomas opened #306 "Support importing/exporting .zip archives"
* Maybe dropbox integration?
 * Just the design
* As zipped files (import/export)
* Drag and drop?
* URL to files?

[2015-05-21 18:07] gideonthomas opened #307 "UI/UX Markdown Quick Start doc"
Allow creating a markdown file to describe instructions for creating web apps which maybe are rendered instead of the default `index.html` file.

[2015-05-21 19:16] humphd opened #308 "Cross-origin error with brackets-cdn-suggestions"
In Thimble I see:

[code]

We need to have that load from `https://api.jsdelivr.com/v1/CDNJS/libraries?fields=name,mainfile,versions`, which seems to exist:

[code]

[2015-05-21 19:17] humphd commented on #308
Probably this https://github.com/szdc/brackets-cdn-suggestions/blob/master/modules/jsdelivrAPI.js#L7 and maybe more needs to get fixed.

[2015-05-21 20:01] JordanTheriault opened #311 "Extension Localization"
Set the appshell language in thirdparty/browser-appshell.js and in ExtensionLoader to allow localization for extensions.

[2015-05-21 20:02] humphd commented on #307
Depends on #238 for backend bits.

My idea here is that we introduce conventions around having a markdown file in a multi-file project, and if present, render it along with the preview.  For example, imagine if `README.md`, `INSTRUCTIONS.md`, `LEARN.md`, etc were names that triggered the editor to do something different on start-up.  Normally we look for an `index.html` file to render in the previ

[2015-05-21 20:03] humphd commented on #300
See https://github.com/adobe/brackets/tree/master/src/extensions/samples/LocalizationExample

[2015-05-21 20:06] humphd commented on #311
See:
* https://github.com/humphd/brackets/blob/bramble/src/thirdparty/browser-appshell.js#L29-30
* https://github.com/humphd/brackets/blob/bramble/src/main.js#L50-L62
* https://github.com/adobe/brackets/blob/72001b06f57381de31874106517244fc8f967353/src/utils/Global.js#L96-L99
etc

[2015-05-21 20:08] humphd commented on #306
If we decide to allow DnD into the filetree or editor window somehow, we should consider whether to do this upstream or just in our fork--there are bugs on this and/or Trello cards for this feature in Brackets.

[2015-05-21 20:10] humphd commented on #302
We can probably simulate the `addEventListener` and `removeEventListener` stuff with https://github.com/humphd/brackets/blob/bramble/src/utils/EventDispatcher.js

[2015-05-21 20:10] humphd commented on #302
I think for `getAllResponseHeaders` we can just have a simple set of things we return, like `Date`, `Content-Type`, `Content-Length`, `Server` and that's probably enough?

[2015-05-21 20:13] humphd commented on #305
We discussed this a bit today and there are some things to ponder, for example, how deep do we want your file tree to be?  Do we show you the current project, or do all your previous projects also show?

I think the simplest way to do this is to have each editing session use `/` and have only the files for the current project be in the file tree.  If you want to work on another project, you open a

[2015-05-21 20:16] humphd commented on #306
The "unzip into filesystem" stuff is something I wrote here, and we could rework into an extension we load if you need that feature (i.e., don't always load it, since the zip/unzip code isn't small):

https://github.com/humphd/nohost/blob/master/src/webserver.js#L29-L84

[2015-05-21 20:22] gideonthomas commented on #302
We also need to deal with the `Accept` header; if it is set, we should try to serve it as the requested MIME type?

[2015-05-21 20:23] humphd commented on #302
I think solving this fully is a rabbit hole we should be careful we don't fall into.  Let's deal with the common cases, which I'd argue are "whatever jquery does" and leave it at that.

[2015-05-22 01:06] humphd opened #312 "Design generic in-progress dialog"
There are a bunch of async operations we need to do in Bramble that need to somehow indicate to the user that they need to wait.  This includes things like processing files, downloading/uploading files, or any other long running operation we have to do on the main thread.

I'd like to see us come up with a generic, reusable dialog that we can use in a bunch of situations to communicate this inform

[2015-05-22 11:48] humphd commented on #252
Looks like LESS v2.3.1 is coming upstream in the 1.4 milestone.

[2015-05-22 12:08] humphd commented on #241
Here's what we use:

[code]

That's `stat`, `exists`, `readdir`, `mkdir`, `rename`, `readFile`, 'writeFile`, and `watch`.  At the moment, we don't use anything in the `Shell`; however, when I do the zip/unzip stuff, I'll need some things, so we shouldn't remove the `Shell` totally--as long as `Filer` still has it, I can extend it when I need to use that stuff.

Probably the best way to approach th

[2015-05-22 12:09] humphd commented on #241
https://developers.google.com/closure/compiler/docs/api-tutorial3 shows how to do this.

[2015-05-22 18:27] #238 closed

[2015-05-22 18:43] humphd opened #314 "404s on staging"
I'm seeing these 3 404s on staging right now, none of which should happen afaict:

[code]

[2015-05-22 18:43] humphd commented on #314
@gideonthomas, @JordanTheriault can you two look, these are things from your recent bugs.

[2015-05-22 19:41] sedge commented on #314
Filer-dialogs was never corrected, but there's a [WIP patch](https://github.com/humphd/brackets/pull/151) I wrote that got lost. It needs lazy loading of font-awesome once to be shared between any extensions that need. it.

[2015-05-22 19:42] sedge commented on #314
`bramble_overrides.css` is the firefox fix, but hasn't been forced to be included in the build step which is why it can't find it on staging.

[2015-05-22 19:44] sedge commented on #314
In fact, @JordanTheriault has a patch for the bramble_overrides stuff here: https://github.com/humphd/brackets/pull/310/files

[2015-05-22 19:55] humphd commented on #314
The filer-dialogs stuff got changed yesterday, see https://github.com/humphd/brackets/pull/309.  @gideonthomas, why is it 404ing?

[2015-05-22 19:58] humphd commented on #306
From discussions today, our plan is:
* Allow a user to `Import` a file or files.  This could be done with a button and dialog box, drag-and-drop, both
* If it's a regular file or files, we add it to the current filesystem
* If it's a zip file, we ask whether they want to expand it into the current filesystem OR use it as the basis for a new project
* We also allow a user to `Open` a project by URL

[2015-05-22 20:01] humphd commented on #305
Our solution is going to be that your filesystem is a project, that is, your root dir `/` is the top of your current project.  You can't see other projects from this filesystem.

[2015-05-22 20:06] gideonthomas commented on #314
looking into it

[2015-05-22 20:20] #314 closed

[2015-05-25 13:53] JordanTheriault commented on #312
A whimsical animation may be best for this, such as the one created for the [Mozilla Dev Derby](http://codepen.io/Sonick/pen/vijJl) or the ghost animation in Snapchat as it's entertaining, but does not indicate a specific time.

[2015-05-25 14:06] humphd opened #316 "Allow dropping files on Bramble"
We need to allow the user to drag-and-drop files onto the editor for #306, and perhaps other issues in this heartbeat.  At first, this will simply write the given file into the filesystem.  Later we can do more intelligent things with zip archives.

This will also require some UI work later for the `dragover` and `dragenter` events, to indicate that we know you are dragging something.  I'll file t

[2015-05-25 14:51] JordanTheriault opened #317 "Create a project managment layer in thimble using makedrive"
[Makedrive](https://github.com/mozilla/makedrive) will allow us to do block-level synchronization for user data.

[2015-05-25 14:52] JordanTheriault opened #318 "Alter WebPlatformDocs to use MDN"
![screenshot 2015-05-25 11 39 08](https://cloud.githubusercontent.com/assets/5931078/7799355/19c78320-02d3-11e5-9f23-a5591bb17d9f.png)

WebPlatFormDocs currently uses [WebPlatform.org](http://webplatform.org) to pull information. We can alter this to use the [MDN documentation](http://developer.mozilla.org) instead. They have an API which we can use.

[2015-05-25 14:54] JordanTheriault opened #319 "HTML Hinter UI Update"
Changing HTML Hinter to better reflect the UI of inline editors will ensure the visual experience is uniform.

[2015-05-25 15:03] JordanTheriault opened #320 "Port in HTML Tag Information from Thimble classic"
Because these suggestions are local, rather than needing a connection they are a great extension for users who are not always online. Furthermore, hints in Bramble currently does CSS hints. Porting this to the extensions/extra of Thimble would be useful.

Thimble's implementation:
![screenshot 2015-05-25 10 58 57](https://cloud.githubusercontent.com/assets/5931078/7798874/9fa84e3a-02cd-11e5-9b32-6

[2015-05-25 18:40] gideonthomas commented on #317
Few changes need to happen to makedrive here (there could be more which we will find out after we switch to using it):
* The auth stuff needs to be changed so that we can use the new ID system
* We need to be add logic to disable redis locks on syncing
* https://github.com/mozilla/makedrive/pull/458 needs to be landed so that other problems that were already existing with makedrive (e.g. broken co

[2015-05-25 20:25] humphd opened #321 "Uncaught TypeError: Cannot set property of #<XMLHttpRequest>"
When I paste the following HTML into Bramble, I get the error below:

[code]

The console shows the following errors:

[code]

[2015-05-26 02:12] gideonthomas commented on #321
I don't understand -.-
This has never come up before. Now its actually throwing errors if we set `readonly` properties

[2015-05-26 04:01] sedge commented on #321
I checked out as far back as https://github.com/humphd/brackets/commit/1371c51e6ac8c7e964b1c1354662e6074a4804b9 and this still produced that error.

[2015-05-26 04:08] sedge commented on #321
A `git bisect` revealed https://github.com/humphd/brackets/commit/630a44f082065dc1135c55a7597f4446771d8fc1 as the culprit.

[2015-05-26 12:47] humphd commented on #321
Could be a browser update and change to rules around modifying native objects and read only properties.

On May 25, 2015 10:12 PM, Gideon Thomas <notifications@github.com> wrote:

I don't understand -.-
This has never come up before. Now its actually throwing errors if we set readonly properties

—
Reply to this email directly or view it on GitHub<https://github.com/humphd/brackets/issues/321#issu

[2015-05-26 15:33] humphd commented on #113
This is fixed now, can we close? @gideonthomas

[2015-05-26 15:38] #316 closed

[2015-05-26 20:01] humphd opened #324 "Replace extension dependencies in `node_modules` with submodule equivalents"
Is the Travis/Gruntfile build stuff not doing the right thing, and missing deps?

[code]

[2015-05-26 20:02] humphd commented on #324
NOTE: this was loading the following URL: https://bramble.mofostaging.net/?enableExtensions=HTMLHinter

[2015-05-26 20:06] humphd commented on #324
Seems to work fine locally in both `src/` and `/dist` builds.

[2015-05-26 20:48] humphd commented on #324
Two problems:
* we don't copy `node_modules/` to `dist/`
* we have our path expansion wrong for the `src/` vs. `dist/` case here https://github.com/humphd/brackets/blob/bramble/src/extensions/extra/HTMLHinter/parser.js#L7-L9

To get the `node_modules/` into `dist/` you can do this:

[code]

Getting the paths right is left to the reader.

[2015-05-27 14:58] sedge commented on #324
@humphd We see the problem in deployment when accessing `/dist`, but it would exist for `/src` too. Basically, if we are copying `node_modules` then we have to copy it to both `/src` and `/dist` in order to write the paths once and have them work in both places.

I propose that we move third-party extension dependencies to `src/thirdparty` using submodules, or copying stuff wholesale, so that we s

[2015-05-27 14:59] humphd commented on #324
Agree, make it work using `src/thirdparty` and submodules.  That's the Brackets way.

[2015-05-27 16:43] #324 closed

[2015-05-27 16:48] sedge commented on #317
We need this layer to use `makedrive` to pull down the project that a user selects, to manage which projects are open (so a project can't be opened more than once at a time) and to communicate changes to and from brackets.

[2015-05-27 17:02] gideonthomas commented on #317
I don't think makedrive (at least on the client side) should manage which projects are open. One approach that we could use is to restrict how we display the list of a user's projects to the user when they open up thimble. As per our current conceptual design, when a user opens up thimble (logged in), the user sees a list of their projects (and maybe other's published projects) which is done by qu

[2015-05-27 17:05] sedge commented on #317
Makedrive wouldn't be managing the projects, that's for sure.

Thimble needs logic to determine what to allow a user to open. I like your idea of including a flag in the `GET /user` data for which projects are already active in a bramble instance, but thimble still needs to know how to handle that.

[2015-05-27 17:06] gideonthomas commented on #317
I think we also need (for IE compatibility) to prefer using `MessageChannel` if it is supported (Firefox does not support it by default), and fallback on `PostMessage` otherwise.

[2015-05-27 17:08] gideonthomas commented on #317
^ this is mainly because IE does not support `Transferable`  objects so passing `ArrayBuffer`'s across `postMessage` will be a pain (continuous serialization and deserialization cycles)

[2015-05-27 17:09] gideonthomas commented on #317
Here's out current plan btw https://etherpad.mozilla.org/thimble-plublish-plan

[2015-05-27 17:10] sedge commented on #212
@humphd Is this a problem? I'm confused about this issue.

[2015-05-27 17:12] sedge commented on #198
@humphd Have we already solved this? If not, we'll need to. I suspect your patch to switch makedrive providers might do the trick.

[2015-05-27 17:14] sedge commented on #155
This is probably worth revisiting once we have multi-file figured out.

[2015-05-27 17:20] sedge commented on #147
This was fixed in https://github.com/humphd/brackets/commit/c8aeffc99ddc11e7d3815c7e6f42e298740551bc

[2015-05-27 17:20] #147 closed

[2015-05-27 17:23] sedge commented on #118
This is no longer occuring.

[2015-05-27 17:23] #118 closed

[2015-05-27 17:27] sedge commented on #12
see #320 for the latest on this issue.

[2015-05-27 17:27] #12 closed

[2015-05-27 17:27] gideonthomas commented on #113
Well, I don't think this is technically fixed. It just doesn't show up anymore because we stopped using filer-dialogs in humphd/brackets@9929a0cca25275fe4e2278e42f28e22e60e9c8c9

[2015-05-27 18:48] #113 closed

[2015-05-27 18:55] sedge commented on #177
@humphd This seems small, and a quick win. Shall I?

[2015-05-27 18:58] JordanTheriault commented on #320
I'm currently having trouble with this due to it's localization. @alicoding contact me when you return from vacation.

[2015-05-27 19:02] JordanTheriault commented on #199
#295 is now merged, and all that remains is to fix the colour picker.

[2015-05-27 19:05] sedge commented on #290
This has been reported as fixed, and brackets has been rebased.

[2015-05-27 19:05] #290 closed

[2015-05-27 21:00] #177 closed

[2015-05-27 21:11] alicoding commented on #320
@JordanTheriault I'm in JSConf but still available to answer some questions if you need me :)

[2015-05-27 21:22] sedge commented on #312
I'm not sure this is relevant for this milestone. Removing

[2015-05-27 21:35] sedge commented on #304
I'm not sure this issue adds much to the discussion of what to do. @flukeout filed on thimble (https://github.com/mozilla/thimble.webmaker.org/issues/527) so maybe we should continue the convo there and file for specific fixes in brackets?

[2015-05-27 21:35] #304 closed

[2015-05-27 21:39] sedge commented on #303
This also seems to be confusing the issue. I'm going to suggest we defer back to mozilla/thimble.webmaker.org#522

[2015-05-27 21:39] #303 closed

[2015-05-27 21:45] sedge commented on #305
At this point we've decided that thimble will be responsible for the filesystem proper, and some portion of it will be exposed to brackets depending on which project is open.

[2015-05-27 21:55] sedge commented on #317
This issue shouldn't live here. See: mozilla/thimble.webmaker.org#531

[2015-05-27 21:55] #317 closed

[2015-05-28 13:59] JordanTheriault commented on #320
Oops, right! Correction -> *from conference
@alicoding
I downloaded everything Webmaker/Thimble from Transifex, but why does localized.js in webmaker-i18n search for "strings/en-US" while Transifex doesn't have the same naming and also doesn't have en-US?

I am porting over ContextSensitiveHelp from Thimble.

[2015-05-28 18:59] humphd commented on #305
I've got a proxied filesystem working with MessageChannel in https://github.com/humphd/brackets/tree/standalone.  I need a few days of work on it to make it perform better, and to fix some loading bugs in Firefox.

[2015-05-28 19:06] humphd commented on #212
This could evolve to become a bug, but isn't yet.  I think we should fix it when it is.  Closing for now.

[2015-05-28 19:06] #212 closed

[2015-05-29 14:10] humphd commented on #305
We need to remove all the `process-tick` events between filer windows: https://github.com/filerjs/filer/issues/352.

[2015-05-29 14:18] humphd commented on #197
There's no way we'll get to this in this heartbeat.  Also, @flukeout and @cassiemc, fyi about this bug for later.

[2015-05-29 15:38] humphd opened #328 "QuickDocs using MDN"
https://twitter.com/humphd/status/604107003456294912

Let's see if we can hijack the WebPlatformDocs/QuickDocs stuff to use this in a new extension.  Make sure we check for existing code we can steal in https://brackets-registry.aboutweb.com/ (search for MDN).

[2015-05-30 17:40] humphd opened #331 "Pressing ENTER after </html> causes TypeError: Cannot read property 'mark' of null"
The HTMLInstrumention in Brackets doesn't seem to like you moving beyond the end of the `<html>...</html> <-- here` content with the cursor.

STR:
- go to https://mozillathimblelivepreview.net/bramble/dist/
- move your cursor to the end of `</html>`
- press ENTER
- look at console

[code]

Not a huge problem, but noisy on the console.

cc @busykai

[2015-05-30 18:24] humphd opened #332 "Improve startup experience"
It takes too long to get Bramble started.  Depending on the connection and browser, you can have a long period with no content (white page while a ton of CSS loads, blocking rendering), then a bunch of churn for extension loading, where we alter the UI.  We can do a lot better.

I'd like for us to tackle this problem on two fronts:
- actual startup performance
- perceived startup performance throu

[2015-05-30 18:44] humphd commented on #332
NOTE: despite my great love for the idea of `ServiceWorkers`, I don't think it's time to bother yet http://caniuse.com/#feat=serviceworkers

[2015-05-30 23:32] humphd opened #334 "Theme switching for light and dark theme"
It looks like the Thimble UI is going to want dynamic theme switching via some kind of API call.  Ideally we'll implement this in a `postMessage` way to the the Bramble code (i.e., our extension).  Brackets appears to ship with both a light and dark theme by default, so ti should be easy enough to tap into this now.  All the code for managing the current theme is in https://github.com/adobe/bracke

[2015-06-01 14:56] #300 closed

[2015-06-01 15:03] JordanTheriault commented on #328
There is not an existing Brackets extension which can do this. However, WebPlatformDocs can be altered to retrieve JSON from MDN using $json.

[2015-06-01 15:06] JordanTheriault commented on #332
This could be converted into an ongoing milestone where we set particular timing goals. That video by Google is very informative and we can turn specific fixed into issues.

[2015-06-01 15:32] sedge commented on #305
As a followup, we have to tolerate the `process-tick`. See filerjs/filer#352 for updates.

[2015-06-01 17:14] JordanTheriault commented on #328
@humphd The current WebDocs uses a static JSON library of property descriptions scraped from WebDocs, and simply has links to each page. This method is fast, but is the vision for this, to grab the most current information from the MDN website while the user is using the extension?

[2015-06-01 17:17] humphd commented on #328
I think we should probably write a little node script or something to download the latest JSON file from MDN, and we can run it every so often; but let's cache the JSON in the extension, and XHR it when we need it.  Or do you think we should just XHR it from MDN on demand?  Either way we need to XHR it on first use.

[2015-06-01 17:29] JordanTheriault commented on #328
Two ways:
1. Scrape MDN, and simply add it in as Brackets with name, description, and URL. XHR from our JSON file.
2. XHR from MDN based on the current prop name.

The question really is - how often does the description for these change? Probably not often, and in that case scraping MDN and providing URLs may be the best method of achieving this.

[2015-06-01 17:30] humphd commented on #328
What does "scrape MDN" mean?

[2015-06-01 17:38] JordanTheriault commented on #328
Unless we recycle the [WebPlatformDocs JSON file](https://github.com/MarcelGerber/brackets/blob/html-docs/src/extensions/default/WebPlatformDocs/html.json) and change the URLs, we will need to scrape MDN for the prop names and descriptions, as well as the URL. [This has been done in 2012](https://github.com/toolness/Hacktionary). Because MDN doesn't provide a JSON file with all the prop names and

[2015-06-02 15:50] #321 closed

[2015-06-02 18:18] humphd commented on #306
I've done the file-import via dnd, so I've morphed this into the zip import/export bits.

[2015-06-02 18:19] humphd commented on #248
I'm going to close this, now that we have @flukeout helping doing UX design.  We'll address this in other ways.

[2015-06-02 18:19] #248 closed

[2015-06-02 18:20] humphd commented on #234
This is possible now, via `?enableExtensions=InlineTimingFunctionEditor`, closing.

[2015-06-02 18:20] #234 closed

[2015-06-02 18:20] humphd commented on #198
We're solving this in Thimble, closing here.

[2015-06-02 18:20] #198 closed

[2015-06-02 18:22] humphd commented on #241
I don't think this is worth doing.  I did an experiment with aggressive dead code removal, and even then it only saved 15K or 20K.  Closing.

[2015-06-02 18:22] #241 closed

[2015-06-02 18:51] humphd opened #336 "Implement Bramble-side of autosave"
We want to have Bramble do transparent autosave, and eliminate the need for explicit Save buttons.  Autosave will trigger external actions in the hosting app, which we'll solve in https://github.com/mozilla/thimble.webmaker.org/issues/480.

For this bug, we need to accomplish this flow:
* User changes the editor
* XXms after some set of event(s), making sure we don't save more often than XXms:

[2015-06-02 22:22] sedge commented on #334
**Update**:

Theme extensions aren't being loaded, because in order to determine if an extension is a theme brackets tries to load it from the filesystem using [loadPackageJson](https://github.com/humphd/brackets/blob/bramble/src/utils/ExtensionLoader.js#L246) rather than using `require`.

This doesn't break anything because `package.json` files only seem to indicate if an extension is a theme, an

[2015-06-03 14:30] sedge opened #338 "Remove unnecessary calls to the filesystem during initial load of brackets"
We've discovered that brackets tries reading from the filesystem to get internal resources during its initial load. The one example we know of for sure is [during the loading of extensions](https://github.com/humphd/brackets/blob/bramble/src/utils/ExtensionLoader.js#L245-L246) when it attempts to read the `package.json` file of each extension.

Since our filesystem will soon live across an iframe

[2015-06-03 16:51] #336 closed

[2015-06-03 16:55] humphd opened #340 "Bramble tries to load non-filenames on hover"
Given the following HTML:

[code]

If you hover over `border: 0; margin: 0 0 -9px 5px;` we try to load it:

[code]

[2015-06-03 18:21] JordanTheriault opened #342 "Links in Codemirror editor redirect iframe and open a new tab"
Hyperlinks in Codemirror editor (left hand side) force the link to open in the iframe and also new window. you can re-create this by:

1. Open file tree
2. Select CSS file
3. Click on "color"
4. CTRL+K (WIN) or CMD+K (OSX)
5. Click on "Read More"

[2015-06-03 18:25] JordanTheriault commented on #342
target="_blank" stops the iframe load, but it's now opened twice.

[2015-06-03 18:59] JordanTheriault commented on #342
This does not occur in Brackets, it seems to be a bramble-specific issue.

[2015-06-03 20:05] JordanTheriault commented on #328
Pull request pending at #343

[2015-06-03 20:11] JordanTheriault commented on #311
HTMLHinter localization impl by @gideonthomas via #330

[2015-06-03 20:13] JordanTheriault commented on #268
@flukeout should be able to help in the redesign for this component once we transition the colour scheme. Could you put this on the list of components to mock up?

[2015-06-04 16:27] JordanTheriault commented on #342
Fixed in #346

[2015-06-04 16:43] #342 closed

[2015-06-05 13:50] #328 closed

[2015-06-05 13:51] JordanTheriault commented on #318
Done in #328

[2015-06-05 13:51] #318 closed

[2015-06-05 13:52] JordanTheriault commented on #319
Same as #268

[2015-06-05 13:52] #319 closed

[2015-06-05 13:59] JordanTheriault commented on #320
The important component to this is detection of components to hint and the placement of the question mark on the right hand side of the code. It may be cool to add this feature to MDNDocs.

[2015-06-05 14:34] humphd commented on #338
For a demo today, I made a thing that logs all the fs calls we do.  Here's what happens right now when we start Bramble (oldest at the bottom, newer at the top):

[code]

Removing all those `readFile` calls for extension `package.json` files is an obvious starting point.

[2015-06-05 16:32] #334 closed

[2015-06-06 01:28] humphd opened #347 "Support zip export"
I want to add an extension that adds zip and unzip commands to the `CommandManager`, with the goal of being able to unzip a `.zip` archive into your fs, and to export your fs to a `.zip`.  Prior art in:
* https://github.com/filerjs/filer/blob/08f4b7e528b8891feec301f549ec9e58a7496304/src/shell/shell.js#L479-608 + https://github.com/Stuk/jszip
* https://github.com/humphd/nohost/blob/master/src/webse

[2015-06-08 14:54] #338 closed

[2015-06-09 18:53] humphd commented on #243
This is happening in https://github.com/humphd/brackets/pull/349

[2015-06-15 14:24] humphd opened #350 "Experiment with purifycss"
I wonder if https://github.com/purifycss/grunt-purifycss could help us reduce the size of the CSS we use in dist/ builds.

[2015-06-16 18:55] JordanTheriault opened #351 "Remove double click to reveal file tree"
Currently there is a mostly hidden option to reveal the file tree by clicking on the very left of the screen twice rapidly. With the new improvements in the pipeline, this is no longer necessary.

[2015-06-18 20:00] humphd opened #352 "Use project root when saving dropped files"
We are still writing to the root vs. the project root dir.

[2015-06-19 16:28] humphd opened #354 "Update Blob URL path entries for children when we rename a directory"
Found while fixing #353, we don't have recursive rename working for directories in BlobUtils.  When we do a rename for a path, we should be dealing with the fact that all children will have the old dir name in their cached path, but attempts to access them will use the new name.

The fix needs to happen in `FilerFilesystem.rename` and `BlobUtils.rename`.

[2015-06-19 19:20] humphd commented on #305
This is all done now.

[2015-06-19 19:20] #305 closed

[2015-06-19 19:23] humphd opened #355 "Update Filer for WebSQL startup limit"
I want to get this fix in so we don't warn in Safari: https://github.com/filerjs/filer/pull/358

[2015-06-19 19:37] sedge commented on #305
:tada:

[2015-06-22 14:48] #352 closed

[2015-06-22 16:21] gideonthomas opened #357 "Update blob urls on file delete"
STR:
1. Add an image into the fs
2. Add an image tag referencing the image in an html file
3. Delete the image from the fs

The image is still shown/rendered in the preview pane. We should revoke the blob url (maybe refresh the preview too) so that the image disappears from the preview.

[2015-06-24 12:11] sedge commented on #243
@humphd You've done a great job on this. Are we ready to close?

[2015-06-24 13:34] humphd commented on #243
Yeah, this is done.

[2015-06-24 13:34] #243 closed

[2015-06-24 15:33] #357 closed

[2015-06-25 14:44] JordanTheriault commented on #351
This has been fixed by forcing the double click to open up the top bar.

[2015-06-25 14:44] #351 closed

[2015-06-25 14:55] JordanTheriault opened #367 "Resize only works when you've first moved the divider"
Resizing does not work on initial load with a cleared cache. Once you move the divider bar resize works again.

@humphd

[2015-06-25 16:11] JordanTheriault opened #368 "Highlight opened file on load"
On load, brackets does not highlight the currently open file in the filetree. On load, this file should be in a selected state.

[2015-06-25 19:33] #367 closed

[2015-06-25 20:37] humphd commented on #368
Doing this turns out to be non-trivial, since the issue is that the file *is* being selected, but in the working set vs. in the file list, and we hide the working set now.  I spent a bunch of time on this, but it's not easy to force it to open the doc, select it, and not put it in the working set.  Also note that double-clicking a file will cause it to get added to the working set and highlighted

[2015-06-26 00:06] sedge commented on #368
What if we automatically "opened" all files, showing the "working" tree and hiding the "file" one?

[2015-06-26 00:11] humphd commented on #368
I wondered the same.  The risk is memory starvation, and startup-time increases while we load all those files into memory.

Another thought: what if we never highlighted any file, and used the filename in the editor bar to indicate what's selected.  Or maybe only something that gets selected when you right-click.  At least with this option we'll not confuse the issue.  The file tree becomes someth

[2015-06-26 20:16] #306 closed

[2015-06-26 20:17] humphd commented on #306
I'm going to do the zip export in #347, and close this now that I've landed the zip import stuff.

[2015-06-26 20:18] humphd commented on #347
The code for zip is in `ZipUtils`, we just need some UI for when to trigger it.

[2015-06-29 21:01] gideonthomas opened #372 "Expose a "save all" command mechanism using the API"
Thimble needs to make sure that we don't allow Publish until all the files in the fs have been saved **and** persisted. For this, we need an API method that will instruct brackets to save all dirty files and in the end, trigger an event that can be listened for on the host app.

[2015-07-06 14:30] #372 closed

[2015-07-13 19:43] humphd opened #383 "Update travis for new infra"
http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade is what I see when I run our builds on travis.  We should add `sudo: false` unless someone sees a reason not to?

[2015-07-14 18:18] sedge commented on #383
I could have sworn I'd already done this! Clearly not.

r? https://github.com/humphd/brackets/pull/384

[2015-07-14 18:33] #383 closed

[2015-07-14 21:08] gideonthomas opened #385 "API should expose a rename method"
I need a way to tell bramble to rename the project folder when the project is renamed on the front-end. For this, I need something like `bramble.renameMountDir(newMountDirName);`
@humphd any thoughts?

[2015-07-15 14:33] humphd commented on #385
I'm going to fix this by allowing you to call `Bramble.mount()` multiple times, and the second, third, nth time will be treated as update calls.  In other words, you'd do the rename yourself in the `fs`, and then tell Bramble about it via a `mount()` call with the new path.  I'll have a PR up this morning.

[2015-07-15 14:44] gideonthomas commented on #385
+1 to this solution

[2015-07-15 18:45] humphd opened #387 "Safari - DOM Exception 12 error in rewriter"
The code that's rewriting stylesheet links isn't working in Safari:

[code]

It gets a DOM error 10:

[code]

[2015-07-15 19:53] #387 closed

[2015-07-21 21:18] humphd opened #389 "Selfie taker not handling mount path properly"
[code]

[2015-07-22 14:04] humphd commented on #94
This has been fixed somehow by other changes, closing.

[2015-07-22 14:04] #94 closed

[2015-07-22 14:05] humphd commented on #154
@flukeout has been doing a bunch of this research on his own, and is/will file bugs in Thimble.  I'm going to close this here and we'll deal with things in new bugs.

[2015-07-22 14:05] #154 closed

[2015-07-22 14:09] humphd commented on #155
Let's do the following with this:
* land https://github.com/caseyg1204/brackets-quoter as a default extension, to help people not forget to close quotes
* rework https://github.com/drewhamlett/brackets-beautify (i.e., fork it) so that it doesn't depend on node (it uses it for SASS) and then hook it up to a button in the gear menu in Thimble.

[2015-07-22 14:13] humphd commented on #199
This is still an issue, and is almost worse than before:

![screenshot 2015-07-22 10 11 25](https://cloud.githubusercontent.com/assets/427398/8827353/409a9352-305a-11e5-9913-02339934391f.png)

[2015-07-22 14:14] humphd commented on #215
@sedge that PR has been closed now, can you see if we can do this?

[2015-07-22 14:18] humphd commented on #268
Having useful beginner errors is pretty important, I think we need to do this for MVP.

[2015-07-22 14:18] humphd commented on #282
We don't show the status bar anymore, this can be closed.

[2015-07-22 14:18] #282 closed

[2015-07-22 14:20] humphd commented on #307
This is part of what we're discussing for tutorials in MVP, cc @flukeout.

[2015-07-22 14:22] humphd commented on #308
The upstream seems to be dead, so maybe we should just point to my fork.

[2015-07-22 14:23] humphd commented on #312
We haven't got much traction on this, so I'm going to close and we can refile if we need it later.

[2015-07-22 14:23] #312 closed

[2015-07-22 14:26] humphd commented on #347
@flukeout, we need some kind of UX for doing this, the backend is in place.  The basic use case is: "Click here to download a .zip file with all your project files/folders in it."

[2015-07-22 14:30] sedge commented on #215
It's an illusion: https://github.com/gruntjs/grunt-contrib-compress/pull/152

[2015-07-23 17:13] #389 closed

[2015-07-23 20:30] humphd commented on #307
I've basically got this working in #392 for a `tutorial.html` file.  It's unclear whether or not we want to support Markdown or not, based on conversations with Hannah and Luke.  I might rip the MD stuff out.

[2015-07-27 14:22] humphd opened #394 "Rebase on Brackets 1.4"
The 1.4 release is out, https://github.com/adobe/brackets/releases/tag/release-1.4.  We should figure out when to rebase, and do it with enough time to find regressions once we do.

[2015-07-27 17:46] confiks commented on #394
If you have the time: I'm wondering what parts of Brackets you needed to patch in order to make it work in the browser. I've viewed the [diff](https://github.com/adobe/brackets/compare/master...humphd:bramble) between now and the point on which you've based, but I think you can better see where the main work was in patching (or building on?) Brackets.

[2015-07-27 18:16] humphd commented on #394
I'm planning to write an extensive set of docs on what we did to make it work, since others can use it for their browser-editor needs.  I hope to do that in Aug or early Sept.

[2015-07-30 20:28] gideonthomas commented on #385
Reopening because this is now needed for https://github.com/mozilla/thimble.webmaker.org/issues/756

[2015-07-30 21:07] humphd commented on #307
This is landed.

[2015-07-30 21:07] #307 closed

[2015-07-30 21:08] humphd commented on #199
@flukeout, this one I have no idea how to fix, and it would be nice if we worked in Firefox.  Do you have time to debug?

[2015-07-31 14:37] gideonthomas commented on #385
Changing our approach in thimble to circumvent this issue

[2015-07-31 14:37] #385 closed

[2015-07-31 20:49] humphd opened #400 "Confirm file deletes, same as for folders"
Brackets has code to prompt you before you try to delete a folder.  We should do the same for files, so you don't easily lose your work.

[2015-08-01 00:03] humphd opened #401 "BrambleUrlCodeHints should be recursive"
When we suggest URLs, we do so only in the current dir.  We should be walking the entire project dir and finding all possible options.  We can do this with `Filer` and `sh.find()`: https://github.com/filerjs/filer#find.

[2015-08-01 00:06] humphd commented on #401
The fix would mean changing how `BrambleUrlCodeHints.prototype._getUrlList` works, https://github.com/humphd/brackets/blob/bramble/src/extensions/default/BrambleUrlCodeHints/main.js#L147

[2015-08-04 17:07] #400 closed

[2015-08-04 17:41] humphd commented on #199
I'm going to move this out of the Thimble MVP.  This needs a CSS wizard to cast a spell on it, and that isn't me.

[2015-08-06 19:53] sedge opened #408 "Deploy production version of brackets"
@jbuck suggested we use the same s3 bucket but under a different key/folder for the prod version. This means:

1. Creating a task to push our stuff there, similar to how we push to staging
2. Tweaking the production thimble-beta to point at this new brackets location.

[2015-08-07 19:59] humphd opened #409 "Support loading fonts in BlobUtils/nohost server"
I think we probably don't do the right thing with the extension on font files, for example, `ETBembo-RomanLF.ttf`.  We get this:

```Failed to decode downloaded font: blob:https%3A//mozillathimblelivepreview.net/1cfa7fb1-69f8-4a02-a6c0-3a0bf49a21d4```

I wonder if we just need to teach the file handlers about these file types in BlobUtils, the Rewriters, NoHost, etc.

[2015-08-07 20:00] humphd commented on #409
Grab https://github.com/daveliepmann/tufte-css/archive/master.zip and drag into the editor to see this happen.

[2015-08-08 22:33] Pomax opened #414 "working on several files, closing FF, reopening, rebrambling: files got reset"
I was working on a lot of files in bramble, making a few new files but keeping index.html and style.css - after closing FF, then reopening and reloading bramble those two files have been reset to their original form, while the new files I made are still the ones I had when I closed FF.

(I saved my work manually, so nothing got lost, but this seems a fairly critical bug)

[2015-08-09 02:04] humphd commented on #414
You're using `hosted.html` I assume?  It's not really meant for real-world uses, just for development testing.  Having said that, I'll fix it to only seed the filesystem project dir with content if it's not there.

[2015-08-09 04:02] Pomax commented on #414
aye, that's what I was using

[2015-08-10 00:19] humphd commented on #409
In addition to needing to add proper mime type support to Content, it looks like the HTMLRewriter is mostly to blame for this:

[code]

We shouldn't just use `BlobUtils.getUrl` if it's an html or css file, in which case we should rewrite.

[2015-08-10 03:38] humphd commented on #409
This looks very much like we aren't actually processing CSS `url(...)`s at all, and simply turning the entire CSS file into a Blob URL.  We need to fix this.

[2015-08-11 13:58] humphd commented on #198
FYI, I'm doing this in Bramble and Thimble (starting with Bramble here https://github.com/humphd/brackets/pull/416).  I ended up using https://github.com/humphd/bitjs, which I forked from Google Code.  It's really great, because it does it on a worker.

[2015-08-11 15:59] #347 closed

[2015-08-12 09:22] ymote opened #418 "how to show bracket top menu"
Hi,

The current demo shows nice bracket basic interface. I am wondering how to show the top menu for the opened file? Thanks.

Yue

[2015-08-13 16:40] humphd commented on #418
You can use `?ui=1` if you want to force it to show.

[2015-08-13 16:40] #418 closed

[2015-08-13 16:40] humphd commented on #409
Fixed!

[2015-08-13 16:40] #409 closed

[2015-08-13 19:02] Pomax opened #420 "hosted.html - deleting all files, then dropping in new files, leaves bramble in a failed state"
the file dropping works file, but I have to hard-reload the tab in order for the live preview to then actually work again.

[2015-08-13 19:05] Pomax opened #421 "some cmd/ctrl-... commands gets intercepted rather thatn being passed to the browser (T, L)"
This seems a little too liberal when it comes to key interception. Especially if I can't use a mouse for a bit (or forever, if I have a hindrance or disability) but am 100% capable of using a keyboard, I expect cmd/ctrl-T and cmd/ctrl-L to be honoured by the browser, to get me to a new tab and get me into the URL bar, respectively