[2015-08-13 19:09] humphd commented on #420
That's wrong, it should work.  Have you got my commits from earlier today there?  Which browser?  Can you screenshot and show me your console when that happens?

[2015-08-13 20:34] #414 closed

[2015-08-13 20:59] Pomax commented on #420
I'll try to get some STR once I'm at a lull in actually writing code again

[2015-08-14 15:22] humphd opened #423 "[Performance] Less LESS"
![screenshot 2015-08-14 11 19 22](https://cloud.githubusercontent.com/assets/427398/9277206/9431f360-4276-11e5-9bb8-9505846d7d3d.png)

Our startup profile is looking pretty bad.  A big part of it is Brackets rendering LESS in the browser.  We should just pre-render all LESS to CSS and/or replace it in our tree.  We don't need LESS parsing to happen in the browser.

[2015-08-15 19:20] humphd opened #425 "[Performance] Roll all default extensions into a single extension"
We waste a ton of startup time loading separate `require` contexts for every default extension, and then pulling down all the individual files via separate requests.  Since these are all being loaded every time, let's just take the plunge and roll them all together into a single extension.

I tried doing this with code, and it's really hard to get the requirejs paths right in every case.  Extensio

[2015-08-18 01:07] Pomax opened #427 "Code using Path.extname() should deal with lower vs. upper case"
I zipped up a project I was working on, using ye olde pkzip, and then dragged it to bramble, and letting go with it hovered over the file bar. Instead of unpacking, it simply added it to my files list, and this seems... wrong?

[2015-08-18 01:41] humphd commented on #427
Odd. Can you put the file somewhere so I can debug? What was the filename?

On Aug 17, 2015 9:07 PM, Mike Kamermans <notifications@github.com> wrote:

I zipped up a project I was working on, using ye olde pkzip, and then dragged it to bramble, and letting go with it hovered over the file bar. Instead of unpacking, it simply added it to my files list, and this seems... wrong?

—
Reply to this email

[2015-08-18 04:57] Pomax commented on #427
put the file online as http://pomax.nihongoresources.com/downloads/quick-glyph-maker.ZIP

[2015-08-18 05:50] humphd commented on #427
[code]
All caps, which messes with my check for special file types:

[code]

I can make it case insensitive.  There's actually some other places I should do that, so I'll morph this ticket.

[2015-08-18 15:52] Pomax commented on #427
since we're dropping binary data anyway, is there a content type detection module we can tap into that works irrespective of extension? (something that examines the first 20 bytes and is able to go "this is a JPG", "this is a zip file", "this is an opentype font", etc?)

[2015-08-18 16:01] humphd commented on #427
We don't have this, no; but someone could write it.  In the general case of being given a file path (without the data), and having to do this, you incur the overhead of having to read the whole file into memory, which sucks (we can't just grab the first 20 bytes...yet, until browsers get stream support).  In the drag-and-drop case, we do get a tip from the browser/OS in the form of the `FileReader

[2015-08-19 01:53] Pomax opened #431 "keydown/up event.preventDefault is not getting respected"
if I have code that acts on keydown/keyup and calls preventDefault() for both, then activate those in the preview window by for instance pressing and holding space, the brackets editor will suddenly start typing a million space characters.

This is particularly destructive for UI that uses things like space for "drag things around instead of drawing". One moment you're testing your UI, the next yo

[2015-08-19 02:16] Pomax opened #432 "brackets does not save with trailing whitespace removed"
this is a wise thing to turn on by default. I'm constantly running into empty but lots of spaces new lines thanks to how brackets does automatic whitespace insertion based on newlines from an indented block

[2015-08-19 02:18] humphd commented on #432
Sorry, I'm not totally following here.  Can you give me STR so I can see what you mean/fix?

[2015-08-19 02:18] humphd commented on #432
...specifically, what does "I'm constantly running into empty but lots of spaces new lines" mean?

[2015-08-19 02:21] Pomax commented on #432
[code]
That middle line will have whitespace inserted by brackets. The more indented the previous line, the more whitespace brackets invents when you hit newline. Stripping on a save is way more important for peace of mind than we give it credit for (especially once you start getting angry because some code refuses to work)

[2015-08-19 02:33] humphd commented on #432
I see at least 3 extensions that say they can do this:
* https://github.com/pockata/brackets-StripTrailingSpaces
* https://github.com/MiguelCastillo/Brackets-wsSanitizer
* https://github.com/hamdanjaveed/Not-So-Annoying-Whitespace-Fixer

Do you want to try these in Brackets on desktop and tell me if you think one of them is good?  I can easily add it, and make it something you can turn on optional

[2015-08-19 03:21] Pomax commented on #432
will do.

[2015-08-19 20:52] #408 closed

[2015-08-20 00:02] Pomax opened #434 "I can create a dir called "../things" and it does hilarious things"
I accidentally clicked "new folder" inside one of my project folders, so for the heck of it I figured "let's call it ../extensions and see if that makes it one dir up". That's.... not what it did.

![screenshot 82](https://cloud.githubusercontent.com/assets/177243/9372501/1a83a41a-4694-11e5-806a-83b65455868a.png)

[2015-08-20 00:06] Pomax opened #435 "no indication which file or directory you're "in" using the context menu"
When I right click in the file pane to make a new folder, there is no way to see which dir I'm already "in" via a folder highlight or the like. Similarly, if I want to delete a thing, it's hard to know what's actually going to get deleted because nothing has been highlighted, making create and delete mentally stressful operations, because they're not predictable.

[2015-08-20 00:10] Pomax commented on #432
It looks like Brackets-wsSanitizer is the most promising, one of the nice things it does is ask you about mixed tabs/spaces as well

[2015-08-20 02:13] humphd commented on #434
Filed upstream, this is a Brackets bug.

[2015-08-20 17:31] Pomax commented on #434
what's the issue #? it's a very cool bug =P

[2015-08-20 19:09] gideonthomas opened #437 "Files with spaces can make the browser tab hang"
STR:
- Create a CSS file with spaces in the name
- Add a style rule (I tried an `h1` rule)
- Go to the `index.html` doc and link to the newly created stylesheet
- Go back to the stylesheet and try to add a space after an opening brace (I think any sort of change would also cause the same thing)

Result:
The tab hangs and then we see a bunch of errors pop up in the console...after which the tab sti

[2015-08-24 14:02] humphd commented on #435
This is actually something you might be able to help me solve: we have a bunch of issues related to this, and it's because of the hacky way we use the Bracket's file tree react component.  I need to modify how it does selection state in the UI, but I'm not as well versed on react as you.  Maybe we could look at it together some time.

[2015-08-24 14:43] humphd opened #439 "New phone styling doesn't extend far enough vertically"
![screenshot 2015-08-24 10 41 16](https://cloud.githubusercontent.com/assets/427398/9443013/c7e7cbe8-4a4c-11e5-8d4b-688680ec7cbf.png)

@flukeout, notice how the gray background we added in https://github.com/humphd/brackets/pull/429 doesn't go far enough vertically when the browser window is extended.

[2015-08-24 15:52] Pomax commented on #435
sounds like a plan to me.

[2015-08-24 16:04] sedge commented on #435
I've also got some react chops, so let me know if you want more backup.

[2015-08-24 17:03] Pomax commented on #435
is this something I can look at in this bramble code? If so... where can I start? =D

[2015-08-24 17:11] humphd commented on #435
The code for the File Tree is in https://github.com/humphd/brackets/tree/bramble/src/project and the `FileTree*.js` files, with other bits in surrounding files.  The real issue here is that Brackets has a Working Set (i.e., files you currently have open vs. files on disk), and we hide that.  The selection is often going into the Working Set vs. file list, and I want to stop that from happening.

[2015-08-24 18:56] #427 closed

[2015-08-25 15:57] #439 closed

[2015-08-25 18:57] #423 closed

[2015-08-26 18:40] humphd opened #446 "CSSRewriter should support rewriting @import"
We support some, but not all the possible ways of doing URL imports in CSS (see https://developer.mozilla.org/en/docs/Web/CSS/@import):

[code]

The ones that don't use `url()` aren't going to work with our parsing, see https://github.com/humphd/brackets/blob/bramble/src/filesystem/impls/filer/lib/CSSRewriter.js#L19-L72.

@Pomax, if you get bored, this would be something you could help with.

[2015-08-26 19:22] humphd opened #447 "Support rewriting of <a href=...> dynamically via click handler on body"
We can't statically rewrite anchors, since pages can/will contain circular references.  This results in the `HTMLRewriter` going into an infinite loop.  What we need to do instead is leverage the dynamic injected scripts we add to a page for LiveDev, and add a global click handler on `body` for anchors, which should inspect the URI, if it's a path we know about, use that and close/re-open LiveDev

[2015-08-26 19:39] Pomax commented on #446
http://bramble-staging.s3-website-us-east-1.amazonaws.com/monkeymagic/254/ ?

[2015-09-01 14:27] gideonthomas opened #449 "DnD into deep dirs"
We should support drag 'n drop  into deep file tree structures and provide a way to rearrange the file tree with the UI.

See https://github.com/mozilla/thimble.webmaker.org/issues/1002

[2015-09-01 15:20] gideonthomas opened #450 "Filesystem corruption happening more often than we anticipated"
See https://news.ycombinator.com/item?id=10151485

[2015-09-01 16:45] Pomax opened #451 "can't "copy", "cut", or "paste" via the context menu"
For some reason the Brackets context menu has copy/cut/paste disabled (or not even there at all?). That's a big problem for devs, let alone learners =)

[2015-09-02 02:00] humphd opened #454 "CSS isn't found with http://templated.co/spatial/download"
This template: http://templated.co/spatial/download

For some reason none of the files in `css/*` are found.  I wonder if we've broken the `CSSRewriter` somehow?

[2015-09-02 02:09] humphd commented on #454
Not strictly part of this, but in debugging this, I notice that we should only be doing https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/nohost/HTMLServer.js#L150-L152 if it's an HTML file, not when we read it.

[2015-09-02 02:17] humphd commented on #454
I think it's dynamic manipulation of the DOM by script vs. anything we're doing wrong.  We should fix the issue I mentioned above, though.

[2015-09-02 14:37] humphd commented on #450
I think that's what this is: https://github.com/mozilla/thimble.webmaker.org/issues/1031

cc @modeswitch.  We're seeing `EFILESYSTEMERROR` in Firefox in the wild.  None of us can reproduce it.  I wonder if it's older versions not letting them run the db across a third-party iframe?

[2015-09-02 18:23] modeswitch commented on #450
From the other issues, it's almost certainly because he's in private browsing mode. Filer needs to be more polite when that happens, by providing a useful error message for the application to pass on to the user, and maybe even by providing a reasonable fallback if possible.

Users on older versions of Firefox will also have this problem, and I don't think there's an easy way of distinguishing bet

[2015-09-02 18:37] humphd commented on #450
Firefox throws an `InvalidStateError` in Private Browsing mode.  So we should probably wrap the call to IndexedDB `open` in a `try...catch` and send a better error up to Filer, `ENOTPERMITTED` or something that you can get in the app and provide UI.

See https://github.com/mozilla/localForage/issues/363#issuecomment-128667598

[2015-09-02 20:46] humphd commented on #450
I spent a very frustraging afternoon trying to fix this in Filer, and I don't think it can be cleanly handled.  Firefox throws when you try to `indexeddb.open()`, and won't allow you to catch the exception.  It also means that your `request.onerror` handler never gets called.  So you can't catch the error, and you can't get far enough for an error handler to fire.  It's bonkers that they've chosen

[2015-09-02 21:01] modeswitch commented on #450
Yeah, that seems broken. I caught myself up on the bug you linked. I'm not sure there's much we can do in Filer until the issue is addressed on the platform side.

[2015-09-03 13:14] humphd commented on #450
Josh suggests to put this in an iframe on startup:

[code]

[2015-09-04 11:20] borisrorsvort commented on #449
:+1:  :tada:

[2015-09-11 13:10] humphd opened #461 "Remove stray ; in CSS"
https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/stylesheets/style.css#L147 shouldn't have a `;` at the end.

[2015-09-12 13:08] humphd commented on #447
The right way to do this is probably to inject a script in our Live Dev instrumentation that uses [document.links](https://developer.mozilla.org/en-US/docs/Web/API/Document/links) to hijack all click handling:

[code]

[2015-09-14 16:46] #447 closed

[2015-09-15 15:23] gideonthomas opened #464 "Brackets not loading"
the LinkManager patch seems to break on production with:
![screen shot 2015-09-15 at 11 22 47 am](https://cloud.githubusercontent.com/assets/5816130/9881009/23d7806e-5b9c-11e5-9713-ffb1bdeb9bbc.png)

[2015-09-15 15:32] humphd commented on #464
This looks like bad cache, I can't reproduce anywhere.

[2015-09-15 15:35] gideonthomas commented on #464
Yep

[2015-09-15 15:35] #464 closed

[2015-09-15 18:51] humphd commented on #421
Likely reading around https://github.com/adobe/brackets/blob/7beb2cdbb1b4ddda1a6ae17a9caba481af54a45c/src/command/KeyBindingManager.js will help with this.

[2015-09-16 01:31] humphd opened #466 "Add automatic colour palette extraction to the Image Viewer"
The built-in Image Viewer is cool, and mostly useless.  It shows you the file, and some basic size info:

![screenshot 2015-09-15 21 26 13](https://cloud.githubusercontent.com/assets/427398/9894322/71f750fe-5bf0-11e5-8fb5-3b6c7ee1afa1.png)

It would be nice if it offered some useful tools to the user.  One idea would be to have it show you the main colours in the current image.  We could use http:

[2015-09-17 09:25] errietta commented on #461
@humphd finally got env set up! R?

[2015-09-17 09:44] errietta commented on #421
@Pomax @humphd which browser and keybindings is this reproducable on? On Chrome (ChromeOS) I can ctrl-T, ctrl-shift-t, ctrl-r, and other ctrl-shortcuts on my browser.

[2015-09-17 12:02] #461 closed

[2015-09-17 15:54] Pomax commented on #421
this might require testing with the cursor in several different places (nside an element tag, as well as inside a regular text block, for instance) as the -T and -L keyboard shortcuts can be contextual.

base load:

Windows Firefox: ctrl-T works, ctrl-L works.
Windows Chrome: ctrl-T works, ctrl-L gets intercepted but does "nothing".
Windows IE11: both work fine

with the cursor in the document:

W

[2015-09-24 20:52] sedge opened #472 "Invalidate the cloudfront cache on deploy"
See: https://github.com/mozilla/thimble.webmaker.org/issues/1132

[2015-09-24 21:09] sedge commented on #472
The DistributionId: `ENS8DUD0WOHD9`

[2015-09-25 19:12] humphd commented on #420
I'm pretty sure this is fixed, closing.

[2015-09-25 19:12] #420 closed

[2015-09-25 20:03] humphd commented on #451
Without either need to support it via Flash or http://caniuse.com/#feat=clipboard, which I'm not sure is ready for prime time yet (I might be wrong).  It looks like a dog's breakfast of impl bugs and issues.

[2015-09-25 20:04] humphd commented on #244
I don't think we should do this.

[2015-09-25 20:04] #244 closed

[2015-09-26 03:27] Pomax commented on #451
I'm not quite sure I understand; is brackets somehow preventing "native" copy/cup/paste? It feels like this is a thing that browsers already know how to do, as long as you don't intercept and kill off the event for it?

[2015-09-26 04:02] humphd commented on #451
The context menu isn't a browser native context menu, and as such, the copy/cut/paste items produce synthetic events.  As you know, you can't really get at the clipboard without triggering native events for these.

________________________________
From: Mike Kamermans <notifications@github.com>
Sent: Friday, September 25, 2015 11:27 PM
To: humphd/brackets
Cc: David Humphrey
Subject: Re: [brackets]

[2015-09-26 05:59] Pomax commented on #451
right, so can we fake them? `new KeyboardEvent` with the control/meta key turned on, and c/x/v for the three options? The document range is native as far as I can tell, since keyboard shortcuts work, so can we just fake the keyboard shortcut directly?

[2015-09-26 13:37] humphd commented on #451
As far as I know, you can't. These won't be trusted DOM events, which is what you need.

On Sep 26, 2015 1:59 AM, Mike Kamermans <notifications@github.com> wrote:

right, so can we fake them? new KeyboardEvent with the control/meta key turned on, and c/x/v for the three options? The document range is native as far as I can tell, since keyboard shortcuts work, so can we just fake the keyboard short

[2015-09-26 18:52] Pomax commented on #451
alternative idea - since the only three options are options that don't really add value (quick edit and quick docs are easily turned into buttons instead, which would be better UX, giving the mental map for thimble stable locations for both options). Is it worth just disabling the brackets context menu in the editor (but not the file sidebar), and just letting the browser deal with right clicks?

[2015-09-29 14:19] humphd commented on #451
I wonder if we could use https://github.com/zenorocha/clipboard.js?

[2015-09-29 15:34] Pomax commented on #451
this looks like it's a helper utility for getting text-from-an-element into the clipboard, so we'd still need a cross-broswer range builder, to get the actual text string.

[2015-10-02 19:09] shadowcat-mst commented on #421
Ctrl-W is my bugbear - stopping me from closing a tab does *not* make me happy, I normally only expect that behaviour from spam/scam sites.

[2015-10-07 01:52] humphd commented on #421
Here's a list of what I think I should do (I'm using CMD below to mean "CMD on Mac" and "CTRL on Win/Linux").  Let me know if you disagree or want to do something else.

Brackets Key Bindings to be removed in favour of browser shortcuts:
* CMD+O = File > Open (we have no file dialogs)
* CMD+N = File > New (we should let the user open a new window vs. a new file)
* CMD+W = File > Close (we should l

[2015-10-07 02:02] humphd commented on #421
Also, https://github.com/humphd/brackets/blob/bramble/src/base-config/keyboard.json is the complete list, in case you can spot other problems in there that I've missed.

[2015-10-07 15:23] errietta commented on #466
hi @humphd I'm interested - is there a design of how it should look like if we do add this?

[2015-10-07 17:18] errietta commented on #466
@gideonthomas
16:52 < errietta> gthomas: ok i'm working on https://github.com/humphd/brackets/issues/466
16:53 < errietta> gthomas: so far i have https://github.com/errietta/brackets/tree/errietta/466
16:53 < errietta> i added Vibrant and did vibrant = new Vibrant(..) but it says Vibrant isn't a function
16:53 < errietta> although i can see vibrant.js being loaded

I logged console.log(Vibrant) an

[2015-10-07 18:31] Pomax commented on #421
I'm wondering if the [cmd-B + letter] concept makes sense, where the initial cmd-B makes keylistens go into "application keys" mode, so:

cmd-T: new tab, cmd-B-T: quick find definition
cmd-L: focus on url bar, cmd-B-L: go to line (...)

On the one hand, that's more "techy" but we currently don't advertise these keybindings at all, so the fact that they even kick in is probably worse than them not

[2015-10-07 18:36] humphd commented on #466
@errietta I pulled your branch to test (btw, I'd caution against using numeric names for branches--I've been burned before by this where the number overlaps with the first digits of a commit SHA, use `issue466` or some other word prefix).  It looks to me like they have buggy code for doing the requirejs module wrapping.  I notice that `Vibrant` is `undefined` like you said (i.e., local variable in

[2015-10-07 18:41] humphd commented on #421
I'm an emacs user, so 15-step keybindings are fine with me, but I suspect I'm not the target user here :).  What about using ALT+L, ALT+T, etc. and just avoid cmd/ctrl for these few overlapping ones?

[2015-10-07 20:10] Pomax commented on #421
that sounds like a decent plan. On windows, though, alt-... combinations can act as hotkeys for the (well hidden) old school file/edit/... menu system, so the following combinations would probably be fine to intercept, as long as we don't intercept just "alt" so that for accessibility people still *can* get into the menu system

[2015-10-08 20:50] flukeout commented on #421
Wanted to leave a comment here about switching the file being edited, which is the main keyboard shortcut that I'm missing...

I'd like to propose
*  ``Command`` + ``Alt`` + ``Up`` = file above the currently edited one in the file view
*  ``Command`` + ``Alt`` + ``Down`` = file below the currently edited on

The default in the Brackets desktop editor is, ``Command`` + ``Shift`` + ``[`` or ``]`` -

[2015-10-09 00:05] Pomax commented on #421
oh wow. Yeah I'm up for that change!

[2015-10-09 20:35] errietta commented on #466
20:31 < errietta> it works fine
20:31 < errietta> but the thing is, the elements i'm generating with the colours are going underneath the image
20:31 < errietta> and i think i'm going to have to mess with lots of stuff's positioning to fix it
20:31 < errietta> D:
20:32 < errietta> also
20:32 < errietta> i tried with creating elements and appending them rather than doing strings
20:32 < errietta> b

[2015-10-09 20:45] humphd commented on #466
[code]

[2015-10-09 22:58] errietta commented on #466
@humphd got it working now https://github.com/humphd/brackets/pull/478

need design from @flukeout :smile:

[2015-10-13 14:46] #421 closed

[2015-10-13 21:37] gideonthomas opened #480 "Expand destination of "Move To" directory"
When we "Move To" from one folder to another, for e.g. file1 from directories A->B, and if B is currently collapsed in the file tree, once the move is done, B does not automatically expand. This kinda makes for bad UX especially if file1 was open in the editor (suddenly, it appears as if it vanished from the file tree even though it actually is in the currently collapsed directory B). We should tr

[2015-10-14 20:13] gideonthomas opened #481 "Fix the filename sent for the "activeEditorChange" event"
Sometimes when you switch between files in Thimble, you see the wrong filename in the status bar just above the editor right next to the "Editor - " placeholder.

The relevant code to fix this should be here: https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble/lib/RemoteEvents.js#L69-L81

We should probably be using `MainViewManager.getCurrentlyViewedPath()` to get the f

[2015-10-16 22:36] maqboolkhan opened #482 "Tabs for multiple opened files"
I love new thimble UI but one basic and simple feature is still missing which is `Tabs` for multiple opened file!! actually sidebar is too cool but it takes some space resulting less space for Editor and for Output! i know sidebar visibility can be toggle but it will be more user friendly if there are Tabs feature in **Thimble**  and i feel there is also no need of **undo** and **redo** buttons :)

[2015-10-19 16:40] gideonthomas opened #484 "Fix "Move to" dialog's UI for dark theme"
Light theme:
![move to - light theme](https://cloud.githubusercontent.com/assets/5816130/10584117/76d66a28-765e-11e5-927f-b722ba1eb8e1.png)

Dark theme:
![move to - dark theme](https://cloud.githubusercontent.com/assets/5816130/10584123/7b0ba374-765e-11e5-8f78-87573fdaed9f.png)

[2015-10-19 16:42] gideonthomas commented on #484
@flukeout here's where the styles are: https://github.com/humphd/brackets/blob/bramble/src/extensions/default/bramble-move-file/styles/style.css

[2015-10-19 19:07] #481 closed

[2015-10-20 17:04] #484 closed

[2015-10-21 21:29] errietta opened #487 "Remove crosshair from image view"
" Is there any way to get rid of the crosshairs with x & y coordinates when you hover over the image? It makes it seem like you can something to the image like select an area or crop it."

[2015-10-22 22:06] #472 closed

[2015-10-23 16:47] #480 closed

[2015-10-26 18:24] gideonthomas opened #491 "Zip file upload size limit"
Apparently, the limit that we enforce on individual file sizes for upload (3mb) is also enforced for zip files that we expect to unzip inside the file tree i.e. I cannot upload a zip file that is > 3mb.

I don't think that this should be the case because the zip file can contain multiple < 3mb files that would be perfectly valid to upload individually. Seems like a bit of an unnecessary UX hassle

[2015-10-26 18:46] humphd commented on #491
Related, we should figure out what our upper limits are on the publish server and where things start to break down in terms of scaling.  That should likely inform this.

[2015-10-27 18:37] humphd opened #492 "Add support for CSS Instagram Filters"
http://una.im/CSSgram/ is very cool, very small, and very easy for us to bake into Bramble.  It would be cool if we allowed people to do this somehow inside the tool.

One way we could use this is in the selfie taker, and expand the preview to also allow you to pick from versions with the filter applied.  Or maybe there is some other clever thing we could do here that lets it work for any image?

[2015-10-28 01:18] Pomax commented on #492
on any image would be pretty neat, if you could pick your filter in the preview iframe and had that change the HTML in the editor.

[2015-10-28 14:28] gideonthomas opened #493 "Color picker only works for an existing color"
In a css file, start typing in `color:` and then press `Cmd+E`. It tries to (unsuccessfully) open up a Quick Edit widget instead of a color picker.

Now type in `red` or some other color and now press `Cmd+E` - it opens up the color picker.

Requiring a color to already be present to enable the color picker is some pretty bad UX. Also, having a Quick Edit for CSS does not really make a lot of sens

[2015-11-02 20:17] humphd opened #494 "Images won't load if they have focus when Bramble starts"
STR:
* drag and drop an image into your filesystem
* select the image in the file tree
* refresh the page
* notice the image is a 404
* select the index.html
* reload the page
* select the image from the file tree
* notice it works fine when not selected on startup

![screenshot 2015-11-02 15 13 08](https://cloud.githubusercontent.com/assets/427398/10893069/cd35db9e-8174-11e5-9957-eccd1d26c042.png

[2015-11-03 18:16] #466 closed

[2015-11-09 19:31] #308 closed

[2015-11-09 20:52] humphd opened #499 "Provide visual indication that an inline editor or quick doc view is available"
We have keyboard shortcuts for things like the inline colour picker, HTML and CSS docs, etc.  However, you have to a) know what these shortcuts are (and we don't tell you!); and b) have to know _when_ to use them (your cursor has to be placed in exactly the right spot).

I think we should provide a way for apps to signal to the user that there is some kind of helper they could use for their given

[2015-11-12 21:17] #401 closed

[2015-11-12 21:20] #223 closed

[2015-11-12 21:20] #88 closed

[2015-11-15 12:30] errietta opened #500 "Can no longer move files"
as of cd407a7ecbf5df1226912a329457c6bb02db0eb6, I get an error when I right click a file and click 'move to'

TypeError: g[o.method] is undefined bramble.js:4:709

(Unfortunately that's the minified file, any idea how to see where the true error is?)

[2015-11-15 12:50] errietta commented on #487
https://github.com/humphd/brackets/pull/501 @humphd  R?

PS: the selfie tool makes image-related bugs 10 times more fun
![selfie](https://cloud.githubusercontent.com/assets/134585/11168788/7d0ce540-8b97-11e5-9ab5-f0a907c436d3.png)

[2015-11-16 15:57] #487 closed

[2015-11-16 15:57] humphd commented on #487
Landed

[2015-11-16 15:59] humphd commented on #500
I can't reproduce this.  Can you give me your steps to reproduce?

[2015-11-16 17:04] errietta commented on #500
@humphd

- Start new project
- Right click files pane, click 'new folder'
- Right click one of the files, click 'move to..'
No prompt to move to folder, instead just errors.

[2015-11-16 17:16] errietta commented on #500
@humphd https://www.youtube.com/watch?v=W4nlkwiXAic

[2015-11-16 18:11] errietta commented on #500
argh, my bad, had forgotten to run grunt build-browser :stuck_out_tongue_winking_eye:

[2015-11-16 18:11] #500 closed

[2015-11-16 21:07] humphd commented on #494
This is only an issue in Bramble vs. Thimble, it seems, because in Thimble we always try to load an HTML file.

[2015-12-16 16:41] gideonthomas opened #510 "Camera does not shutdown properly when taking a selfie"
When you take a selfie or anything that really triggers the camera to turn on does not turn it back off when you exit from that context.

In the console you see:
`Uncaught TypeError: this.stream.stop is not a function`

This happens because the `navigator.getUserMedia` function has been deprecated and instead we need to now use https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserM

[2015-12-30 05:36] danielzfranklin opened #512 "editing just a single file"
I have an existing setup that uses codemirror to allow editing of stored code. I would like to replace codemirror with Bramble to allow better and more featureful editing. However, I would not like to have Bramble manage an entire filesystem for me, just pass it a string for what I want to appear in the editor and then read out a string of the edited file. Can this be done?

Thank you,
Daniel

[2015-12-31 17:58] humphd commented on #512
That's basically what I do here:

* https://github.com/humphd/brackets/blob/bramble/src/hosted.html
* https://github.com/humphd/brackets/blob/bramble/src/hosted.js

All you need to do is write that one file and then tell Bramble to mount it.

[2016-01-01 06:35] danielzfranklin commented on #512
This project looks amazing! Thanks for all your work. Sorry for the stupid question.

[2016-01-01 06:35] #512 closed

[2016-01-04 21:45] gideonthomas opened #513 "`npm install` doesn't work"
Node version: 5.0.0
npm version: 3.3.6

When trying to install deps with the above node version, it gets stuck here:
[code]

When I downgrade my node version to 0.12, it works.

[2016-01-04 21:49] humphd commented on #513
In addition to getting this working well in newer node in general, we should just dump the phantomjs dep, since it's only for running the brackets tests, which we don't do.

[2016-01-08 15:53] gideonthomas opened #514 "No hints when we move files"
STR:
1. create a folder called `images`
2. move an image into that folder
3. in your `index.html` file type in `<img src="` and look at the suggestions
4. The image you just moved does not show up as one of the suggestions

[2016-01-08 16:02] gideonthomas commented on #354
Note that the only way you can have files in a deep dir is by calling move to. When you do the move, I think the blob urls update fine. When you rename the directory, we don't update the blob urls (we should be calling `FileSystemCache.refresh`) and the error manifests in two ways - first, if you referred to that file via it's old path in another file that is being currently rendered in the previe

[2016-01-08 18:59] gideonthomas commented on #513
This seems to also be an issue with node 4.2

[2016-01-08 19:31] gideonthomas commented on #513
Apparently I can't `grunt build-browser` anymore either -.-
Ok I'll remove the phantomjs dep

[2016-01-08 21:33] #513 closed

[2016-01-11 16:39] humphd commented on #354
Unzipping an archive will also potentially create file in deep dirs, too.

I can't remember if ```FileSystemCache.refresh``` clears the existing entries first.  If it does, you'd also need to refresh the preview, since all the Blob URLs it uses would be deleted by this.

[2016-01-11 16:40] humphd commented on #514
I'm pretty sure it does show up if you add the trailing `/`.  Brackets does, at least.

[2016-01-11 17:24] gideonthomas commented on #514
Yeah I think it will show it once you type in the `images/` part. But It should probably show it as soon as it encounters the `="` no?

[2016-01-11 17:27] #510 closed

[2016-01-20 22:07] gideonthomas opened #521 "Implement l10n string auto-update for HTMLHinter"
HTMLHinter uses https://github.com/mozilla/slowparse to provide error messages for invalid HTML. We currently have strings downloaded from transifex which live in https://github.com/humphd/brackets/tree/bramble/src/extensions/extra/HTMLHinter/nls and haven't been updated since they were downloaded.

This manual method of loading strings is not ideal and we probably want to use whatever l10n strate

[2016-02-09 22:48] gideonthomas opened #523 "Update to node 4.3.x"
Has security fixes.

I don't think we need it here since it is not a node app.
We only use it on Travis to build the files which are then statically served from S3.

@jbuck we don't really need to do it here right?

[2016-02-09 23:23] jbuck commented on #523
Agreed

Sent from my closed, proprietary device

[2016-02-09 23:24] #523 closed

[2016-02-25 20:35] gideonthomas opened #530 "Figure out why DnD using the "Upload Files" dialog is broken"
This only happens when there is an error with what's being dragged in. If you dnd an unsupported file (an invalid ext) or a directory into the "Upload Files" dialog, it should show you an error and close the dialog after you dismiss the error. Instead, no error is shown (well, actually it is but only for an unnoticeable split second) and the dialog disappears and then the editor is frozen (you can

[2016-02-29 17:35] gideonthomas opened #533 "Staging strings not updated"
For some reason, the strings in `dist/nls` are not updated when we add new strings to the `locales` folder. Cannot reproduce this locally. The `properties2js` script should take care of generating the `dist/nls` files which seems to happen if you look at the travis build and these files seem to be uploaded to S3 as well but when you access them using `https://mozillathimblelivepreview.net/bramble/

[2016-02-29 18:03] #533 closed

[2016-03-01 18:25] #530 closed

[2016-03-07 15:06] sedge commented on #215
@humphd @gideonthomas: The upstream patch blocking this has been merged.

[2016-03-07 15:51] gideonthomas commented on #215
Thanks @sedge. Not sure if we want to take this patch in. Will come back to it later.

[2016-04-04 15:30] humphd opened #546 "Use sw-precache for offline support"
As part of https://github.com/mozilla/thimble.mozilla.org/issues/1459, we can use https://github.com/GoogleChrome/sw-precache in order to service requests for Bramble from a Service Worker, allowing offline support of the editor (the offline bits of Thimble will have to be done in a second patch).

The way this works is that you specify a set of files to cache via a SW in a grunt task.  I'm trying

[2016-04-11 17:25] humphd opened #549 "Use Service Worker for LiveDev server"
In order to fix https://github.com/mozilla/thimble.mozilla.org/issues/1322, Bramble needs to add support for Service Workers, such that the LiveDev preview can intercept network requests for files and satisfy them with contents from the user's Filer filesystem.

This work should be done in stages, especially since we won't be able to totally replace what we have now, unless/until all our supported

[2016-04-12 20:57] #546 closed

[2016-04-12 20:59] humphd commented on #549
FYI, I've just landed another SW related patch to do precache for all static assets (let's us run Bramble offline): https://github.com/mozilla/brackets/pull/547.  This will be testable on https://bramble.mofostaging.net in a bit.

[2016-07-11 18:00] Pomax opened #559 "`npm run build` fails on jshint running over localization files if run more than once"
It looks like the locale files that are pulled in during `npm run build` are dropped in a location that is covered by the jshint task, such that when you run `npm run build` a second time, the build process gets cut off over code style errors.

Running `npm run unlocalize` to remove the locale files prior to running `npm run build` fixes this, so a build might need to either scrub those files and

[2016-07-11 18:01] gideonthomas commented on #559
I cannot reproduce this error on Mac. But on Windows, the following error is seen:
[code]

[2016-08-22 17:23] gideonthomas opened #560 "Publish to npm"
We should publish and version bramble in npm (and git) so that users can just `npm install` it directly into their projects.

[2016-09-12 07:39] miskinh opened #562 "Python Skulpt"
I am looking to integrate [Skulpt](https://github.com/skulpt/skulpt) with Brackets to allow Python code to be executed. Skulpt is a Javascript implementation of Python which means it can be executed on the web. The Skulpt library can provide a graphical output and is used by [Trinket](https://trinket.io/embed/python/376221d506).

1. How would you suggest that I include the Skulpt library code? It

[2016-09-13 18:27] humphd commented on #562
I have two thoughts on how I'd approach this.

1) We've got a good example of what you want to do in the form of our LESS and Markdown transformations.  The basic idea is that if we see a `*.less` or `*.md` file being saved to disk, we also generate an associated `*.css` or `*.html` file.  You can see how I did this here: https://github.com/mozilla/brackets/pull/465

2) You could inject the necess

[2016-10-01 07:07] kyasbal-1994 commented on #559
I could reproduce this issue too. Is there any plan to fix this issue?

[2016-10-01 15:07] Pomax commented on #559
probably the best solution would be to switch to a current ESLint vesion, now that it's joined forces with JSCS to be a combined linter and formatter, wich numerous fixes that improve on the old jshint parsing and reporting.

[2016-10-04 13:53] gideonthomas commented on #559
I'll just update brackets with what's upstream, they use eslint now.

[2016-10-30 16:22] humphd opened #563 "Cherry Pick upstream updates"
I notice that there's been a bit of activity on Adobe's upstream, some of which we might care about: https://github.com/adobe/brackets/pulse/monthly.  It might make sense at some point to sort through the commits over the past year and figure out which ones we should take here.

[2016-10-31 18:26] gideonthomas commented on #563
We should wait until they release v1.8 and then take in the commits.

[2016-11-13 16:52] humphd commented on #563
1.8 has shipped https://github.com/adobe/brackets/wiki/Release-Notes:-1.8

[2016-11-13 20:06] gideonthomas commented on #563
Will work on this on Monday

[2016-12-11 04:01] NYCJacob commented on #454
I might be interested in working on this as my first bug if it is still needed.

[2016-12-18 02:31] gideonthomas commented on #454
Hi @NYCJacob! Thanks for expressing interest in taking this on. This is still a bug so feel free to dive in.

The relevant code is [here](https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/nohost/HTMLServer.js#L151-L168) and it basically just needs to be wrapped in an `_isHTML` function call.

Let us know if you have any questions.

[2016-12-18 04:32] NYCJacob commented on #454
ok I will try to get to it next weekend.

[2016-12-19 02:28] NYCJacob commented on #454
how can I reproduce the bug

[2016-12-19 03:30] humphd commented on #454
@NYCJacob in Chrome, download the zip file at http://templated.co/spatial/download and drag-and-drop it into the editor (see https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble#upload-archives).  The fix for this will be in Brackets, where @gideonthomas mentions (see https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/nohost/HTMLServer.js#L151-L168).  You c

[2016-12-19 06:55] NYCJacob commented on #454
ok so I see a css folder with css files  main.css and font-awesome.min.css  and index.html looks good.  So what is missing?

[2016-12-19 16:55] gideonthomas commented on #454
@NYCJacob, there are actually two issues addressed in this bug.

The first one, as evident from the title, is about css not being found in the project. @humphd might be able to give a better explanation as to what's going wrong here (I'm not even able to drag and drop the `assets` or `css` folder into Thimble because of `unsupported file format`). I don't think that it is dynamic manipulation thou

[2016-12-22 17:04] NYCJacob commented on #454
well, I hope I am not in over my head...  would this work
` if` (_isHTML(path)) {
lines 151  - 171
}

my question then is what to do if isHTML returns false.

[2016-12-22 17:34] gideonthomas commented on #454
That's mostly right. The only change is that you wouldn't wrap lines 151-171 in it but instead only wrap lines 151 - 168 in it. There doesn't need to be an `else` condition for this. But, [line 170](https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/nohost/HTMLServer.js#L170) should run regardless of whether the `if` block is executed or not.

[2016-12-22 17:39] NYCJacob commented on #454
ok, those are the lines I meant but I used the numbers from the my edited file, I will submit a pull request then

[2017-01-28 20:18] Pomax opened #569 "uplift to Brackets 1.8?"
Brackets has been moving along a fair bit and is currently at 1.8 rather than the 1.4 our fork is based on. Should we try to uplift?

How much of our work can be rolled back on top of an arbitrary version using something like https://github.com/facebook/jscodeshift (a tool by Facebook that they wrote to allow easy repatching of forks with code changes that a) cannot be merged into master and b) re

[2017-01-28 21:06] humphd commented on #394
Closing in favour of #569.

[2017-01-28 21:06] #394 closed

[2017-01-28 21:09] humphd commented on #569
I think we should do this, yes.  I have been noticing renewed interest in developing Brackets at http://blog.brackets.io/ lately.  But doing this is more than just rebasing/merging with upstream.  We have a lot of one-time, manual operations we did to make the code smaller, which will potentially get undone.  Not a huge problem, but something we should consider.

I also wonder if we should just ch

[2017-01-30 21:13] humphd commented on #569
http://stackoverflow.com/questions/4045017/what-is-git-diff-patience-for might be a friend here, too.

I think we rebasing was a bad idea, and we should have done merging with `adobe/master` on a regular basis.  Whatever we do, we should figure out our go-forward plan, too.

[2017-01-30 21:32] humphd commented on #569
Out of interest, I tried merging to Adobe's 1.8.  It's not horrendous, but it would take a day or two to sort out the ~45 files with conflicts (and then find/fix regressions):

[code]

[2017-01-31 01:40] Pomax commented on #569
might be worth it - we an see if any of those changes can be turned into codemods for easy reapplication on a next brackets? Is that something students might be interested in trying?

[2017-02-09 21:35] flukeout opened #583 "DEV: Move to... option doesn't appear in right-click menu in Dev environment."
Even with a folder present in the file tree, it's not showing up for me...

<img src="https://cloud.githubusercontent.com/assets/25212/22804140/9ad7d352-eecc-11e6-8ccd-2466977202d4.png" width="300"/>

Anyone else? cc @gideonthomas

[2017-02-09 22:52] gideonthomas commented on #583
Yeah. It's a localization bug. It's missing the string for "Move To" and so it doesn't run the extension.

[2017-02-09 23:13] flukeout commented on #583
Does that mean it might not appear in prod for some locales?

[2017-02-10 02:44] gideonthomas commented on #583
no it works fine on prod. I'm still not sure why this doesn't work locally (just know that the string that it uses, which is localized, somehow ends up being `undefined`)

[2017-02-11 02:47] humphd commented on #435
@Th30 fixed this in #574, closing.

[2017-02-11 02:47] #435 closed

[2017-02-11 02:49] humphd commented on #434
@simon66 this is the bug I was talking about, along with associated bug filed in Brackets upstream.

[2017-02-11 02:49] humphd commented on #368
@Th30 this is a similar bug you might want to fix next.

[2017-02-11 02:57] Th30 commented on #368
Sounds good! I'll give it my all:)

[2017-02-11 18:04] Th30 commented on #368
So I spent some time testing the launching of brackets, it seems to default to index.html always. If index doesn't exist it will prioritize another index file (example, index-2), otherwise it will prioritize the alphabetical order of any .html file (seeing as it's auto organized alphabetically this would mean the top file will be the launch file.

<img width="431" alt="screen shot 2017-02-11 at 1

[2017-02-11 18:40] Th30 commented on #368
Ok I think I managed to fix it! :) I just need to get the RGBA colors set properly.

[2017-02-11 21:19] simon66 commented on #434
Thanks @humphd! Yea I was talking to @gideonthomas about this on Friday.

Mind if I tackle this bug?

Here's more on this bug:

![screen shot 2017-02-11 at 4 09 13 pm](https://cloud.githubusercontent.com/assets/1103528/22857521/a89f6334-f074-11e6-88eb-d9dde6094114.png)

By using relative path, I was able to "hop" between directories.
Create/rename a folder and name it `../../../test`, if `test` fo

[2017-02-11 23:37] Pomax commented on #434
Note that supposedly this is fixed in Brackets itself, so the fix here *might* be "uplift brackets to 1.8" here

[2017-02-12 06:38] gideonthomas commented on #434
@simon66 are you interested in testing that out? See if you can reproduce this in Brackets 1.4 and 1.8. If this bug is not in 1.8, we should just merge with 1.8 (or if this is urgent, cherry-pick their fix for this into our repo).

[2017-02-12 17:34] simon66 commented on #434
Hi @gideonthomas
Bug still exists in Brackets 1.8

![screen shot 2017-02-12 at 12 30 43 pm](https://cloud.githubusercontent.com/assets/1103528/22864438/6fca3ea2-f11f-11e6-9352-e418e0d8a327.png)
![screen shot 2017-02-12 at 12 31 40 pm](https://cloud.githubusercontent.com/assets/1103528/22864441/738c37b6-f11f-11e6-964b-7055c4e4ea97.png)
 As you can see, one file is placed in the "Root" folder and th

[2017-02-12 18:32] Pomax commented on #434
Then step one is going to filing an issue over on the brackets repository to tell them this can be done, probably with a mention of https://github.com/adobe/brackets/issues/11609 (which is where we originally filed it, and got closed by a PR that was intended to address this issue.

[2017-02-13 14:49] humphd commented on #563
Dupe of #569.

[2017-02-13 14:49] #563 closed

[2017-02-13 18:42] humphd commented on #549
I've done some more reading on this, and I actually think we can do this using [`window.caches`](https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/caches) to essentially replicate how our BlogUrl cache works now, but put entire cached responses into the cache on the editor side, and serve it from the SW side.

[2017-02-16 17:06] humphd opened #589 "Update node deps"
For any node dep we have in `package.json` that is *not* also used by Adobe upstream (see https://github.com/adobe/brackets/blob/master/package.json), we should see if we can update things.  We use a lot of stuff that they don't, so it's on us to keep things updated.

[2017-02-16 17:20] humphd commented on #451
In #569 I reverted an [upstream commit](https://github.com/adobe/brackets/pull/12674) that added support for this via `document.execCommand()`, and fixed `cut` and `copy`, but totally broke `paste`.  They are running in a web shell vs. regular browser, so it worked for them.

It would be nice to return to this problem with fresh eyes, and a new evaluation of the various options for clipboard APIs

[2017-02-16 17:28] Pomax commented on #451
I like the idea of revisiting this, do we want to close the current issue and open a new one with a ref. to this one, so we have a "Clean slate" for investigation and pontification?

[2017-02-16 17:29] humphd commented on #451
One way we might address this is using [`document.queryCommandSupported()`](https://developer.mozilla.org/en-US/docs/Web/API/Document/queryCommandSupported) to see if the current browser will allow each of `cut, copy, paste` to work, and for each one, make a decision that either uses a `document.execCommand()` code path, or continues to ignore it and let the browser do its thing (or maybe do some

[2017-02-16 17:59] humphd opened #590 "Merge upstream 1.9+ commits into master"
In #569 I merged with all the work we've missed on adobe/brackets for the past 2 years (we merged https://github.com/mozilla/brackets/commit/e9399ba7ebb787d38956be6f7caadaec491b3d98).  We'll need to do this again at some point.  Here is the compare branch to give a sense of what's new that we don't have:

https://github.com/adobe/brackets/compare/e9399ba7ebb787d38956be6f7caadaec491b3d98...master

[2017-02-16 18:52] #569 closed

[2017-02-16 19:26] humphd commented on #437
Fixed with #588

[2017-02-16 19:26] #437 closed

[2017-02-16 19:26] humphd commented on #340
Fixed with #588

[2017-02-16 19:26] #340 closed

[2017-02-16 19:26] humphd commented on #215
Fixed with #588

[2017-02-16 19:26] #215 closed

[2017-02-16 19:46] Pomax commented on #451
Yeah that's the thing I ran in Chrome and Firefox to see what was supported. Someone might have already written an execCommand shim, worth looking for one?

[2017-02-16 19:51] humphd opened #592 "Update our travis-ci config to use a C++ compiler that can compile iltorb"
See discussion in https://github.com/mozilla/brackets/pull/588#issuecomment-280438175: we have a compiler version issue on travis that causes one of our module deps to fail.  We should fix that.

[2017-02-16 19:58] humphd opened #593 "Remove or Update issue template"
https://github.com/mozilla/brackets/blob/master/ISSUE_TEMPLATE.md got added when we merged with upstream.  We should either remove it, or modify it to fit our project.

[2017-02-16 20:02] humphd opened #594 "Rethink how we use Filetree panel to add Toolbox"
We waste a ton of space in the lower-half of the filetree:

![](https://raw.githubusercontent.com/mozilla/thimble.mozilla.org/master/screenshots/thimble.png)

Meanwhile, we have no where to put any extra buttons or UI, other than across the top of Thimble.  It would be nice to consider adding some kind of Toolbox that occupies the bottom 1/3rd or so of the Filetree, and allows extensions and Brack

[2017-02-17 01:01] Th30 commented on #368
@humphd
I'll try to get this fixed for Lab 5, unless you would like me to work on this on the side and choose another topic?

Thanks:)

[2017-02-17 10:29] badrmodoukh commented on #593
I would like to work on this
I was thinking I can add more information and change the formatting
Or I can just delete the file
Let me know what you guys think

[2017-02-17 11:33] badrmodoukh commented on #589
I would like to work on this
To do this I need to check the package.json file for any missing dependencies and add the missing ones?
Is this correct?

[2017-02-17 15:55] humphd commented on #589
@badrmodoukh OK, go for it.  You're going to need to examine the `dependenencies` and `devDependencies` in https://github.com/mozilla/brackets/blob/master/package.json and see which ones we're using that need to be updated.  You could use a tool to help you, for example https://www.npmjs.com/package/npm-check.

The one thing I want to avoid, however, is updating `dependencies/devDependencies` that

[2017-02-17 15:57] humphd commented on #593
@badrmodoukh it's yours.  Let's keep this file, but modify it.  Here are my suggestions:

* Get rid of the Prerequisites section
* Keep the section on Steps to Reproduce, Expected and Actual behaviour
* Change the Versions section to be about which Browser (name and version) and OS the user is using

[2017-02-17 16:18] humphd commented on #368
This will also fix https://github.com/mozilla/thimble.mozilla.org/issues/634.

[2017-02-17 16:51] raygervais commented on #594
@humphd, I'd like to take a crack at this enhancement. I believe I am proficient to attempt this.

[2017-02-17 17:51] timmoy commented on #492
I'd like to try adding this functionality to Bramble.

[2017-02-17 18:03] simon66 opened #596 "Allow users to download individual file or folder structure without having to download the whole project."
Feature first filed here mozilla/thimble.mozilla.org#1313 by @ScottDowne

It would be amazing if brackets had an option to download individual file or folder structure without having to download the whole project.

Here are the behaviors for this new feature:

## Downloading a Single file
**UI**:
![download_file](https://cloud.githubusercontent.com/assets/1103528/23075578/123fcb86-f50b-11e6-9d0e-6

[2017-02-17 18:22] davidhuang1550 commented on #499
I would like to take a crack at this!

[2017-02-17 18:49] flukeout commented on #594
@raygervais - we don't really have anything to put in there at the moment, so I'm not sure if it's the best use of your time at this point. Do you have some ideas for how to use that space?

[2017-02-17 19:01] MargarytaChepiga commented on #491
I would like to work on this bug!

[2017-02-17 19:02] humphd commented on #491
@MargarytaChepiga it's yours.  I'll leave notes soon on how to fix this.

[2017-02-17 19:04] Pomax commented on #492
@timmoy nice! @humphd has written extensions before so is probably the best person to advise on where to get started.

[2017-02-17 19:50] humphd commented on #559
Is this fixed now that we have switched over to eslint?

[2017-02-17 19:58] humphd commented on #596
I'd recommend you make the context-menu string just say "Download" and then you don't need to figure out if its a file or folder in the UI.

I'd then consider reworking this function https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/ArchiveUtils.js#L145 so that you can pass a path instead of having it assume you want to zip the project root.  It should just "Do the Right T

[2017-02-17 20:02] humphd commented on #492
I think the best way to approach this would be to add this feature to the Selfie Taker.  All of that code lives in here: https://github.com/mozilla/brackets/tree/master/src/extensions/default/BrambleUrlCodeHints.  You'd need to bundle the filter js library in there, then modify the HTML/CSS for the selfie taker dialog to include these filters as an option you can select.

Ask questions in here as

[2017-02-17 20:07] humphd commented on #491
When a user drags-and-drops a zip file (see https://github.com/mozilla/thimble.mozilla.org/wiki/Using-Thimble#upload-archives) we run code that checks for the size of the file they are dropping:

https://github.com/mozilla/brackets/blob/master/src/utils/DragAndDrop.js#L52-L54

We then use this limit to check the size of the file when it's dropped, and reject it if it exceeds the max size:

https:/

[2017-02-17 20:08] humphd commented on #594
Let's start by making it visible only when a preference is set to `true` and by default we'll not show it.  The preference system is documented here https://github.com/adobe/brackets/wiki/Preferences-System, and I can help when you get that far.

To start, I'd just get it to show at all, and be resizable.  Then we can add the pref, figure out what to put in it, etc.

[2017-02-17 20:16] humphd commented on #499
This is going to have to be done in stages, and it won't be trivial.  The first step is going to be to make it possible to query Brackets with some API in order to determine if there is an inline editor or inline doc handler available for the current cursor position.

The `EditorManager` keeps track of all the inline editor/doc providers: https://github.com/mozilla/brackets/blob/master/src/editor/

[2017-02-17 21:04] humphd opened #597 "Experiment with webpack+watch to make working on src/bramble/client less painful"
I watched one of my students struggle for days with code changes in `src/bramble/client/main.js`.  The reason is that it requires you to run `npm run build` to create the `dist/bramble.js` client API that Thimble uses.

I'm not sure what the best way to deal with this would be, from watching that dir and auto-creating it, or somehow not requiring a build step, or something else.  But it's pretty c

[2017-02-17 21:07] flukeout commented on #499
We could start with the colorpicker.

[2017-02-17 21:12] humphd commented on #499
Probably it would be good to look at the use of the `cursorActivity` event on the CodeMirror editor object.  Quite a bit of the Brackets code relies on this to figure out when to show/hide tooltips, do autocomplete, etc:

https://github.com/adobe/brackets/search?utf8=%E2%9C%93&q=cursorActivity

[2017-02-17 21:21] humphd commented on #560
Is there a model for this we can follow?  Specifically, the fact that this is a module that requires a webserver to host it.

I think it would be cool to do this.  I notice that code.org does it: https://www.npmjs.com/package/@code-dot-org/bramble

cc @Pomax, @cadecairos

[2017-02-17 21:23] Pomax commented on #560
technically we don't even need to. We can just make thimble require `"bramble": "https://github.com/mozilla/brackets@master" and that should work. As a mozilla repo it's going to be around for as long as Thimble itself is, so no risk of "personal forks" disappearing

[2017-02-17 21:23] humphd commented on #482
I think this is a great idea in general (I'd prefer it as a developer), but not a good fit for our use case in Thimble.  I will say that there are extensions that provide this functionality, and someone could add them and alter how our UI works.

I'm going to close this, since we aren't likely to change it.  Thanks for suggesting it, though.

[2017-02-17 21:23] #482 closed

[2017-02-17 21:26] humphd commented on #446
Someone should confirm whether I'm right or wrong on these, and let's close or fix.  @Pomax I can't remix your thing above, so I'm not sure what it is.

[2017-02-17 21:27] humphd commented on #560
However, there are build steps required, which would still need to get run for that to be useful.  How does one overcome that without checking in build artifacts in the tree?

[2017-02-17 21:30] Pomax commented on #560
you can make that an npm postinstall in specifically our brackets' package.json to make the build run as part of the general install process though.

[2017-02-17 21:47] Pomax commented on #446
yeah this project no longer seems to exist. Older Thimble maybe?

[2017-02-17 22:45] gideonthomas opened #598 "DataCloneError on IE11"
I get this when I try to run Brackets on IE11:
![screen shot 2017-02-17 at 5 44 21 pm](https://cloud.githubusercontent.com/assets/5816130/23086000/c6107340-f538-11e6-9dc7-530ad97ddc7a.png)

Not sure what's happening but it seems to be something wrong with `postMessage` (which I thought we fixed by using `MessageChannel`).

@humphd any ideas?

[2017-02-18 01:20] humphd commented on #560
That's an interesting thought.  What about the runtime aspect?  You wouldn't start an `http-server` in a `postinstall` step.  How would you deal with that runtime dep?

[2017-02-18 01:27] humphd commented on #598
This appears to be an instance of us trying to use an object (probably a `buffer`) that has been transferred across a `MessageChannel` and isn't available on the sending side anymore.  We really need to see this happen in a `src/` build so we can get a better stack.

NOTE: you still use `postMessage` with `MessageChannel` but you do it over a `port` vs. over a `window`.

[2017-02-18 18:26] Pomax commented on #560
you wouldn't, you'd make brackets start up as part of starting up thimble. so here you'd have a `"postinstall": "npm run build"`, and then in Thimble you have:
[code]

[2017-02-18 19:38] humphd commented on #560
Excellent, we're getting somewhere.  Some further thoughts:

* If we did this, we'd need to adhere to semver for our `dist/bramble.js` API, which would be good
* What is the right way to allow someone to use the npm'ed version vs. a version in their tree?  env var?

[2017-02-18 20:11] raygervais commented on #594
I will work on that right away. I did have a few ideas for possible features which may fit the space well. Details on these ideas can be found [here](http://raygervais.ca/brackets-enhancement-proposal/). For a TLDR, here is the synopsis from the post describing two possible implementation ideas:

# Drag and Drop HTML Snippets
Following similar to XCode’s UI Creator, this area could house drag-drop

[2017-02-18 21:05] humphd commented on #594
Love your post, great work.

Somewhat related, I notice that someone's got an extension for Brackets to make the extensions toolbar appear at the bottom of the editor:

https://github.com/dnbard/extensions-toolbar

[2017-02-18 21:11] humphd opened #599 "Consider adding filetree icons"
@flukeout I saw this extension and thought of you:

https://github.com/drewbkoch/Brackets-File-Icons

![](https://raw.githubusercontent.com/drewbkoch/Brackets-File-Icons/master/screenshots/screenshot1.jpg)

Do you like that, or are you happy with what we have now?

[2017-02-18 21:11] Pomax commented on #560
- semvers are excellent for APIs
- hmm, pretty sure `npm link` gets to override node_modules, so someone would set an `npm link` in their not-part-of-thimble bramble dir, and then in the thimble dir they would say `npm link bramble` and that *should* be sufficient.

[2017-02-19 17:19] humphd commented on #549
I tried an experiment today.  I wrote a small web app that creates an image in the `window`, and then tries to load it from a `ServiceWorker` via shared `CacheStorage`.  Here is what it looks like:

1. `index.html`
[code]

2. `app.js`
[code]

3. `sw.js`
[code]

And here is what it looks like when it runs:

![screen shot 2017-02-19 at 12 17 44 pm](https://cloud.githubusercontent.com/assets/427398/2

[2017-02-19 17:24] humphd commented on #549
Essentially, what this means is that a page can create its own requests/responses, which is exactly what we need.  Here's a more technical diagram of how it works:

![](http://www.michaelbransonsmith.net/blog/wp-content/uploads/2012/08/spare-track.gif)

[2017-02-19 21:49] raygervais commented on #594
Thank you for the kind words, I'm glad you enjoyed my proposal post. I'm curious what your opinion is on my separate feature suggestions. I personally see the snippet / code template feature being more useful for the average programmer, since it's a rarity that one messes with their development environment to the point that I suggested.

I have looked at the extension you recommended, and I'm curi

[2017-02-21 00:46] flukeout commented on #594
Hi @raygervais thanks for the great writeup, some good thoughts in there. I definitely like the idea of snippets being in there more than the editor settings. The settings don't get used that often, so I think it's best we not clutter the view with them.

There is already an issue being worked on related to code snippets. It might make sense to wait until that work is done and then see if you can

[2017-02-21 00:58] flukeout commented on #599
I like the concept of icons, but I feel like this set is too vast & varied. I'll borrow some of these to make a mockup though. I think at least we could distinguish between

* folders
* code
* images

We could also check our DB to see what kinds of files people are using.

[2017-02-21 01:18] humphd commented on #599
If you pick the font/images/icons to use, we can just fork this and do it.  Nothing special about the ones chosen here.

[2017-02-21 15:41] raygervais commented on #594
Hi @flukeout, I'm glad that you agree with my statement regarding code templates being more useful than editor settings. I never considered a JS console, and I'm curious what the intended uses you could think of. I have rarely used a JS console, so I'll rely on your knowledge of functionality for that topic.

One idea, which I'm not overly fond of simply because I would not know how to judge it's

[2017-02-21 18:48] humphd commented on #594
I've suggested that @raygervais start by working on the "console in brackets" bug to get a feel for doing this kind of work, since it's better scoped, and less likely to frustrate him until we sort out what this bug wants to end up being.

[2017-02-21 21:33] gideonthomas commented on #559
@Pomax are you able to confirm this? ^

[2017-02-21 21:36] gideonthomas commented on #597
We can try doing a watch and see if it takes too long

[2017-02-21 22:30] Pomax commented on #559
pretty sure it's fixed because I had to run the brackets build to make things work last week and did not run into this. sooooo closed!

[2017-02-21 22:30] #559 closed

[2017-02-22 20:37] ryanwarsaw commented on #549
![](https://media.giphy.com/media/xT0GqGUyFPeYYmYD5K/giphy.gif)

[2017-02-22 22:44] O-kasso opened #604 "Brackets won't load -- PathUtils is undefined"
When attempting to load the editor either as part of Thimble, or directly at `http://localhost:8000/src/hosted.html`, get this exception:

[code]

Undefined here should be PathUtils from `thirdparty/path-utils/path-utils`

My master branch and all submodules are synced with upstream at time of writing, and I performed the necessary `npm install` and `npm start`. I've tried nuking and recloning to

[2017-02-22 22:44] O-kasso commented on #604
chat logs found here: https://chat.mozillafoundation.org/mozilla/pl/neuo67r5x7y6pj71c95ujkqniy

[2017-02-23 03:21] humphd commented on #604
cc @Pomax

I spent a bunch of time on this with @O-kasso today, and I couldn't make any sense of it.  I'll try again tomorrow, but I'd appreciate any help people could give here.  Something doesn't make sense, and I suspect the environment, a tooling version issue, or something else like that.

The line that's throwing here is this:

https://github.com/mozilla/brackets/blob/master/src/utils/Brambl

[2017-02-23 05:47] Pomax commented on #604
hm, I don't run into this myself on the latest commit (2888cfb)... did you two try a "clone --recursive" in a different dir, with "git submodule update --init --recursive" after cloning, followed by `npm install`? I noticed `gyp` complaining about python 3 but that's apparently completely inconsequential, `npm run build` and `npm start` still work

[2017-02-23 12:13] waseem18 commented on #589
Any progress? I would like to take up this if @badrmodoukh is not working on this!

[2017-02-23 14:10] O-kasso commented on #604
Finally fixed it! Not really sure how I got into this scenario, but this fixed it for me:

[code]

What's confusing me is that `path-utils` isn't even one of the submodules that changed:

[code]

[2017-02-23 14:12] O-kasso commented on #604
@humphd should I close this issue?

[2017-02-23 14:43] humphd commented on #604
The only new thing here is the inclusion of `--recursive` in your `git submodule update` invocation.  I notice that this seemed to trigger `src/extensions/default/brackets-paste-and-indent` to get touched.

I think we should use this as an opportunity to update the `README` to include a section on how to update your tree:

[code]

@O-kasso would you be willing to do that?

[2017-02-23 14:44] humphd commented on #589
@waseem18 I'm pretty sure he is, based on his recent blog post.

Can I help you find another bug?  Or was this one important to your work?

[2017-02-23 16:41] O-kasso commented on #604
@humphd sure thing, will update tonight

[2017-02-23 17:25] humphd opened #605 "Simplify code paths related to Bramble API methods, events and preferences"
We have lots of features that are basically implemented the same way, and it's always a very manual process (e.g., #584).

It would be interesting to see how much we could do to automate this kind of code, such that adding a new preference is as simple as instantiating a new Object from a constructor, which does all the manual steps for you automatically.

If someone wants to work on this, I'll he

[2017-02-23 17:37] humphd commented on #605
See also #595

[2017-02-23 18:02] Pomax commented on #604
Note that `git submodule foreach git merge origin master` technically makes you get *different* things than what brackets actually needs, by forcing the code into a state more recent than the versions pegged by the submodule entries, so your files might not actually reflect what the code is supposed to be now =)

[2017-02-23 19:37] gideonthomas opened #606 "`allowJavascript` preference not honored on refresh"
Regression from b524178098f17ccf129268daf4664493916835cb

While this works properly when used in Thimble because we manually update the preference on load in Thimble, Bramble on its own, although having remembered the correct value in `localStorage`, it doesn't actually reflect that setting in the editor.

STR:
- Open up Bramble in a browser
- Add `<script>alert("Hi");</script>` somewhere in the `

[2017-02-23 19:52] humphd commented on #606
cc @peiying16, who might want to help fix this regression.

[2017-02-23 19:56] badrmodoukh commented on #589
Yes I am working on this
Will have it finished by tomorrow

[2017-02-23 21:05] waseem18 commented on #589
@humphd can you please help me in finding another good first bug?!

[2017-02-23 21:07] humphd commented on #589
@waseem18 for sure.  I'd suggest looking at https://github.com/mozilla/thimble.mozilla.org/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20label%3A%22good%20first%20bug%22%20-label%3A%22assigned%20to%20contributor%22, maybe https://github.com/mozilla/thimble.mozilla.org/issues/1771 for example, if you're comfortable with JS.  Happy to help you with whatever you end up choosing.

[2017-02-23 23:28] Pomax commented on #606
Is there a way to add a test for this? Can you  even test across reloads? >_>

[2017-02-23 23:31] Pomax commented on #605
I read through these bugs but I'm not super clear on what part(s) can be turned into encapsulated functionality that is easy to run in an automated fashion. Can you elaborate on what thoughts you have here?

[2017-02-23 23:48] peiying16 commented on #606
I think it is thimble side issue.
https://github.com/peiying16/thimble.mozilla.org/blob/af0da5eeeb727d37462a75e6e38ad3f3b57baeac/public/editor/scripts/editor/js/fc/bramble-menus.js#L58-L80
When the toggle is clicked, it does 3 things.
1. Set the UI
2. Change the property value
3. disable/ enable JavaScript
However, it only sets the UI when it initials. When can call the enable/disable function whe

[2017-02-23 23:59] Pomax commented on #606
the analytics event is a Google Analytics signal to tell us how many users are toggling JS runs, so should only kick in when a user actively changes that setting, not during initialisation.

[2017-02-24 00:02] peiying16 commented on #606
OK. I got it.

[2017-02-24 02:17] Taguiar opened #607 "Addin new use case to "dirtyFlagChange""
### What I propose to do.
As request by @humphd I will be adding a new feature to main.js allowing that a display icon is shown whenever a user is not logged in with his thimble account and its document are saved locally to the browser.

### Steps to Reproduce

1. User not logged in
2. Makes changes and wait for 5 minutes
3. Jump trough files

**Expected behavior:**
I want the user to be prompt wh

[2017-02-24 02:25] humphd commented on #607
@Taguiar and I talked about this a bit, and the concept is to add an event (or events) to build UI in Thimble that mimics what Google Docs does:

![](http://www.laptopmag.com/images/wp/purch-api/incontent/2013/03/SS9_OfflineGDoc.jpg)

Essentially, we know when an editor is dirty, and when it gets saved, and could trigger events for either or both, allowing the hosting app to show UI to help a user

[2017-02-24 18:16] evantsyferov commented on #354
I would like to work on this bug.

[2017-02-24 18:45] #593 closed

[2017-02-24 18:53] Pomax commented on #607
interesting, I like this idea. Is there a possibility of sync-clobbering that we need to be careful with though? What if someone works on their laptop offline, then uses their desktop and starts editing a thimble only to realise they did way more work on their laptop, and then turns their laptop back on to make sure that data gets synced to the server instead? Which "updates" will win? (the deskto

[2017-02-24 20:56] gideonthomas commented on #354
go for it @evantsyferov.

@humphd do you know where this code change needs to be made? Looks like it might be in multiple places.

[2017-02-24 20:59] gideonthomas commented on #606
@peiying16, I don't think the issue actually lives in Thimble since I can reproduce this by just running Bramble alone (see the STR above). I think the issue is that when we load Bramble, we don't actually disable javascript when we read from `localStorage`.

[2017-02-24 21:42] O-kasso commented on #604
README update can be found here: https://github.com/mozilla/brackets/pull/610

[2017-02-25 16:34] peiying16 commented on #606
@gideonthomas This is one of the methods to fix. We can click on the toggle to disable/enable, so we can do the same when thimble loads bramble menus.
https://github.com/mozilla/thimble.mozilla.org/pull/1785

[2017-02-25 17:36] peiying16 commented on #606
@gideonthomas You are right. It should be fixed on brackets. Can we call bramble.disableJavaScript(), when brackets is loading.

[2017-02-25 21:32] humphd commented on #606
Ideally you don't have to call that directly on load, we should be passing it in with the initial state data bramble gets on startup.

[2017-02-25 21:53] humphd commented on #607
NOTE: We make no guarantees about opening a project more than once, on same or on multiple computers.  This bug isn't really about that.  However, to answer your question (all of this relates to Thimble):

* if not logged in, every project is unique, you can't have multiple copies of it open
* if logged in, we try to send changes to the publish server for storage (i.e., whole file) when it is chan

[2017-02-25 22:03] humphd opened #612 "Consider storing user-specific settings/overrides in /bramble-config.json"
We're starting to grow our list of extensions, settings, preferences, etc.  I wonder if we should consider storing these for the user locally in their filesystem at `/bramble-config.json` or something, and have Bramble read this file and adjust things when it boots.  You could use this to update various things for yourself, and have it persist across projects.

I'm not suggesting we try to sync th

[2017-02-25 22:29] Pomax commented on #612
I kind of want to see this list as a user-accessible menu somewhere, probably with the kind of local backing you talk about. Not letting people turn on/off extensions that are actually trivially loaded with a runtime argument seems silly: that's power we can give to the user.

[2017-02-25 22:31] Pomax commented on #607
I know we don't. That's a failing on our part: it feels like we *need* to tackle that before we do this work. At the very least we need to let the user know that things are about to go potentially horrible wrong and put them in the driving seat for resolving versioning conflicts. I don't know where that's best filed: here, or on the thimble repo.

[2017-02-25 22:41] humphd commented on #612
This is a great thing for @flukeout to solve for us, since our pattern of adding "toggle" switches to the gear icon in Thimble is getting a bit...long in the tooth.

[2017-02-25 22:42] humphd commented on #607
This bug is just an event to the hosting app regarding things that are happening now.  Let's untie these two discussions.

The overall goal of *this* bug is to make it possible for us to let a user know that their work has been "saved" at all.  Right now we have zero UI, which makes it seem odd to just close your browser tab.

[2017-02-25 22:56] Pomax commented on #607
I can move all these comments to a new issue in the appriate repo - new issue here, or on thimble?

[2017-02-25 23:11] humphd commented on #607
Thimble, I think. Brackets is just sitting on a "local fs" and already has enough baked into it to do what any regular editor would do sitting on a normal fs.  We probably need to evolve things at the level of the hosting app.

[2017-02-26 21:07] humphd commented on #354
To be clear about what this bug is, and how you'd test it:

* Create a directory (right-click the filetree) named `folder`
* Add some files to the `folder/` directory (again, right click the folder), for example `folder/style.css` and `folder/script.js`.
* Rename `folder` to `folder1`

The way that our Live Preview works, we pre-render and cache files based on their path.  So we would have a cache

[2017-02-27 03:39] gideonthomas commented on #612
Any reason you suggest storing it as a file vs. localStorage?

[2017-02-27 04:39] humphd commented on #612
"give the user's control" is why I suggested a file, since we have implemented a file editor :)

[2017-02-27 14:48] jgmac1106 commented on #451
I commented elsewhere the way gDocs handles this is a pop up modal letting you know you need to use short cut keys to copy and paste. Not sure if a similar solution would work here.

[2017-02-27 16:23] humphd commented on #451
For reference, what @jgmac1106 is discussing in gDocs:

![screen shot 2017-02-27 at 11 19 30 am](https://cloud.githubusercontent.com/assets/427398/23369238/acf9488e-fcde-11e6-9354-87c1706fadf9.png)

I like this idea.  My suggestion is that this bug make the following changes:

* Add back the context menu options for `cut, copy, paste` from https://github.com/adobe/brackets/pull/12674
* On startup,

[2017-02-27 20:21] Pomax commented on #451
ah, interesting. Yeah that sounds fine, if we can find the right place to surface this.

[2017-02-27 21:19] #606 closed

[2017-02-27 21:20] Taguiar commented on #607
@flukeout do you have anything to say about the design?! Or should I go with whatever I decide?

[2017-02-27 22:51] Pomax commented on #612
I have mixed feelings about files, given how little love I have for sublime's way of doing configs (and how easy it is to delete them), but I'll be happy to shelve that until @flukeout works his magic =)

[2017-02-27 23:07] flukeout commented on #612
I think the user-facing facing part should definitely be some kind of custom UI. We can certainly use hidden files or something like that to keep track of the settings, but I wouldn't want to expose the settings as a file (at least not as by default).

[2017-02-27 23:30] Pomax commented on #612
the risk with any hidden file is the user making a file with the same name, so I don't know if "hiding" is a good solution. Could we show a settings file as part of the file tree in a way that users can edit it, but won't normally be motivated to do so?

[2017-02-27 23:50] humphd commented on #612
If we're willing to do a proper UI for this, then I would say having it be a file is not important (i.e., backend the UI with localStorage is fine).  I also thought that having it be a file would allow us to expose this without investing a ton of resources into designing/implementing/maintaining.  I think that doing custom settings is just that, custom; and not a beginner task.  However, I am happ

[2017-02-28 04:21] gideonthomas commented on #607
@Taguiar I think for now, let's figure out the Brackets side of this (which has zero design requirements) that deals with the events. Once that is setup (open up a PR), I think @flukeout can provide some design input in the mozilla/thimble.mozilla.org#1789 bug on how to surface these events to the user.

[2017-02-28 04:32] gideonthomas opened #615 "Provide type checking for initial startup state provided by hosting app"
We have a bunch of state that we pass in via the hosting app or set defaults in the StartupState, particularly for UI preferences https://github.com/mozilla/brackets/blob/master/src/bramble/StartupState.js#L15. Here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/bramble/main.js#L185-L195, we initialize that state blindly without checking if the values are being set to what

[2017-02-28 16:55] flukeout commented on #607
@Taguiar @gideonthomas yeah that sounds good to me. When we're ready, I think we should use the space beside the project name. I'll help with design when we get to that stage.

[2017-02-28 19:06] davidhuang1550 commented on #499
@humphd so i have successfully been able to communicate with brackets from thimble, as well as sending back information seeing if there are any inline helpers available. What should the next step be?

[2017-02-28 19:46] Taguiar commented on #607
@humphd I am having a problem tracking the events already established between thimble and bramble. Do you know where should I start looking for those events? like a file or a method so I can find out how it is supposed to be implemented!

[2017-02-28 20:49] Pomax commented on #499
@davidhuang1550 it is a good idea to push your work-so-far up to your fork on github, and then filing a PR that has a title that starts with "[WIP]" (Work In Progress) so that everyone can comment on code that everyone can see. Even if you keep working on it, it allows for a conversation about the approach taken early on, so you don't end up working for a week only to hear "it would have been bett

[2017-02-28 21:53] davidhuang1550 commented on #499
[Pull Request](https://github.com/mozilla/brackets/pull/617)

[2017-03-01 01:35] humphd commented on #607
It's complicated, I know.  It's always best to take an example, and there are a bunch you can study, see https://github.com/mozilla/brackets#bramble-instance-events.  Consider `sidebarChanged`:

* We define some methods that can be called internally in Brackets, and which trigger events out to Thimble: https://github.com/mozilla/brackets/blob/master/src/bramble/BrambleEvents.js#L45-L51

* Somethin

[2017-03-01 17:14] #589 closed

[2017-03-01 20:00] humphd opened #619 "Remove unnecessary console logging in LiveDevelopment code"
The LiveDev code spams the console a lot, and mostly for unnecessary things.  I think it was added originally to make debugging easier.  It isn't necessary now, so let's remove as much of it as makes sense:

Running `git grep "console.log" src/LiveDevelopment | grep -v "node_modules"` I see the following as some examples (NOTE: there are some we don't care about, since we use the MultiBrowser code

[2017-03-01 20:03] Pomax commented on #619
Is this our code, or module code? (If module, is there a newer version that might not have console logs in it anymore?)

[2017-03-01 20:07] humphd commented on #619
It's Adobe's code upstream, and for them, you don't tend to run in a browser where you care about your console being messy.  We do, for obvious reasons, so it affects us more.

[2017-03-01 20:09] Pomax commented on #619
I wonder if we can shim `console.log` for specific modules... then we could simply shim it as noop withour having to actually modify an upstream file.

[2017-03-01 20:11] humphd commented on #619
We could, but I think there are some we'll actually care about, and separating it (esp in an on-going way) is going to be hard.  I'm finding that merging with upstream isn't that horrible, even when we remove/change their code, so I'm less concerned about keeping exactly in check with what they do.

[2017-03-01 20:37] humphd commented on #607
![dirty-saved](https://cloud.githubusercontent.com/assets/427398/23480138/db63e01e-fe94-11e6-9e8d-9a1ed309cc1e.gif)

I was watching how GDocs does this today, and they constantly spam you with "Saving..." and "Saved" style text, and it has never bothered me.  So I think we will be able to do something similar and not annoy people, if we keep the text light and small like they do.

Obviously this b

[2017-03-03 19:09] mfainshtein4 commented on #451
I'll give this a shot.

[2017-03-03 21:23] humphd commented on #451
@mfainshtein4 excellent, it's yours.  I sketched out a solution above, let me know if you have more questions or need advice/help.

[2017-03-04 15:19] humphd opened #622 "Rework Brackets-InteractiveLinter extension for Bramble"
From https://github.com/mozilla/thimble.mozilla.org/issues/1238#issuecomment-284078401, it would be cool to try and get https://github.com/MiguelCastillo/Brackets-InteractiveLinter working in Bramble.

The main problem is going to be swapping out the *load files from the filesystem* logic to instead use `require()` calls, and statically bundle all the things you need.

Whoever wants to try this, I

[2017-03-05 21:43] humphd commented on #619
Some examples:

[code]

And

[code]

[2017-03-06 03:21] Abykin commented on #619
@humphd I'd like to go over the console logs, and see what can be removed/kept. Is it alright if I work on this?

[2017-03-06 03:27] humphd commented on #619
For sure, go for it.

On Mar 5, 2017 10:21 PM, Andrey Bykin <notifications@github.com> wrote:

@humphd<https://github.com/humphd> I'd like to go over the console logs, and see what can be removed/kept. Is it alright if I work on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mozilla/brackets/issues/619#issuecomment-284

[2017-03-06 07:57] timmoy commented on #492
So I've been toying around with ideas and it seems that adding the filters could be done by including the cssgram library in the BrambleCodeHints directory and adding it as a stylesheet (for modularity) and modifying the selfie-photo div's class [here](https://github.com/mozilla/brackets/blob/master/src/extensions/default/BrambleUrlCodeHints/camera/selfieWidget.html#L10). My proposed methods curre

[2017-03-06 16:19] humphd commented on #492
I would start by doing the easiest thing possible, and focus on getting it to work at all.  Then, we can tweak the UI when it's in review.  Don't block on figuring things out perfectly; focus on getting something working.

[2017-03-06 18:13] humphd opened #627 "Move Toolbar into Bramble"
We went to great lengths to not have the toolbar for Thimble live inside Bramble.  Right now, it lives outside the Bramble iframe, and we have a bunch of complicated `postMessage` based APIs for enabling/disabling things, setting/getting state, and handling events between the two:

![screen shot 2017-03-06 at 1 06 35 pm](https://cloud.githubusercontent.com/assets/427398/23622750/d7b6495c-026d-11e7

[2017-03-06 20:37] Th30 commented on #368
I could use some guidance as to where to start for this bug:P I've been trying for days but had some vagrant issues that took a while to fix:) @humphd

[2017-03-06 21:17] Th30 commented on #368
So Far I'm slowly tracking down how the program is starting and the state. I feel like I'm getting closer but not quite sure where I'm at yet
<img width="854" alt="screen shot 2017-03-06 at 4 14 48 pm" src="https://cloud.githubusercontent.com/assets/3598286/23630192/1e48b58e-0288-11e7-8aa7-617a8fc037c7.png">

I managed to locate the variables and paths that head towards the UI, and bramble startup

[2017-03-06 21:30] humphd commented on #368
First, it's important to not wait so long to start on things, because inevitably you'll have environment issues or other problems along the way, and you want to leave yourself enough room to get the work done.  This is a complex bug, and fixing it isn't the work of an hour.

Second, it's good that you're reaching out for help, and I'd encourage you to do that much, much sooner.  Trying to trace yo

[2017-03-06 21:30] humphd commented on #368
One file comment: you don't need Vagrant and Thimble at all to debug and fix this issue.  You can load `http://localhost:8000/src/hosted.html` from your Brackets server to just work on the Brackets code directly.

[2017-03-06 21:36] Th30 commented on #368
Apologies for the late start, I was working on this about 2 weeks ago then I started again a couple of days ago, but was delayed.

<img width="1202" alt="screen shot 2017-03-06 at 4 33 04 pm" src="https://cloud.githubusercontent.com/assets/3598286/23630872/9bf8a758-028a-11e7-8b09-c469c4727906.png">
I did try to check out the main.js, I've seen where the file is parsed ie.

"{"type":"bramble:init",

[2017-03-06 21:41] humphd commented on #368
I modified your comment to use backticks.  Github will automatically format code for you, see https://help.github.com/articles/creating-and-highlighting-code-blocks/.

[2017-03-06 23:44] Abykin commented on #619
I've gone over the logs, and picked out those who don't need to be ran, have full change log here :
https://github.com/mozilla/brackets/pull/628

[2017-03-07 01:47] timmoy commented on #492
I've added my WIP pull request [here](https://github.com/mozilla/brackets/pull/629).

Filters are working (via the select list solution and embedded javascript atm), but saving the image doesn't have the filter applied.

[2017-03-07 13:37] aayushsanghavi commented on #493
@gideonthomas I'd like to take this issue. How do I get started with it?

[2017-03-07 18:23] raygervais opened #631 "Expand JavaScript Console Handling"
### Description
The bare bones of the editor console has been implemented, and needs to be expanded upon to include standard console functionality such as the following:

- [x] console.error()
- [x] console.clear()
- [x] console.assert()
- [ ] console.count()
- [x] console.info()
- [x] console.time()
- [ ] console.trace()
- [x] console.warn()

This issue extends the **[WIP]** pull request #624, wh

[2017-03-08 02:28] mfainshtein4 commented on #451
Hey, i've been unsure on how to progress and could use some help.

I have been following the outline @humphd  posted and I remade made the changes as per adobe#12674, I checked if the browser supports the command on start up and I created the dialog boxes using the google docs one as a template as a preview you can check it out here:
https://www.w3schools.com/code/tryit.asp?filename=FDF8WFSPNI0J
s

[2017-03-08 14:36] humphd commented on #590
When we do this, we'll have to deal with this change as one of the breaking changes upstream: https://github.com/adobe/brackets/pull/11948

[2017-03-08 15:49] humphd commented on #451
Start by applying this commit to our code https://github.com/adobe/brackets/pull/12674/commits.  You can do this by doing:

[code]

Now you'll have the same changes that are in https://github.com/adobe/brackets/pull/12674/commits/d93ccc532cc11265314036860b2863ce30469b95 applied to your `issue-451` branch.  Try running Brackets and testing cut, copy, paste by doing `npm start` and going to `http://

[2017-03-08 16:17] humphd opened #634 "Simplify service worker caching"
In https://github.com/mozilla/brackets/pull/547 we added service worker caching for all static resources, so that Brackets can load faster and without network.  One of the things we did was to include a list of file patterns to be cached, see https://github.com/mozilla/brackets/blob/master/sw-cache-file-list.json.  This is a bad idea, because people forget (or don't know) to update it when we add/

[2017-03-08 18:39] aayushsanghavi commented on #493
@gideonthomas I was able to replicate the issue above in the thimble editor.
I did some look up. Is the issue in the [InlineColorEditor](https://github.com/mozilla/brackets/blob/master/src/extensions/default/InlineColorEditor/InlineColorEditor.js) file?

[2017-03-08 18:56] humphd commented on #493
Likely the error is in here: https://github.com/mozilla/brackets/blob/master/src/extensions/default/InlineColorEditor/main.js#L33-L77, and I'd guess that if it can't recognize the current colour (e.g., nothing) it gives up.  We could default to something like `white` if that happens, vs `null`.

[2017-03-08 19:10] humphd commented on #634
![screen shot 2017-03-08 at 2 08 28 pm](https://cloud.githubusercontent.com/assets/427398/23719284/c3901a92-0408-11e7-803e-1f254604f4e0.png)

Interestingly we don't actually load that much from `thirdparty/CodeMirror/*`, mostly just the modes, code folding addon, and CSS.

[2017-03-08 20:01] aayushsanghavi commented on #493
@humphd thanks for the link. I read the code. I have a doubt though, when nothing matches, if we return white instead of null, won't it show the color picker on any random word even when we don't want it?

[2017-03-08 20:08] humphd commented on #493
Yeah, the details will matter, and I'm just guessing from a quick look at the code.  These providers have to be invoked, though, so we're looking for it to be possible to use it even when there isn't a value.  Whoever does this will need to experiment with the actual UX to see what makes sense.

[2017-03-09 17:22] Th30 commented on #368
Still working on this bug, I managed to narrow down where the the first file is chosen/loaded but am having a hard time finding where the css is called.

[2017-03-09 18:09] Th30 commented on #368
@humphd

In remoteEvent.js

<img width="454" alt="screen shot 2017-03-09 at 1 06 04 pm" src="https://cloud.githubusercontent.com/assets/3598286/23763921/99298f6a-04c9-11e7-9e1c-dd6a1be7474c.png">

When ever a file is clicked on, this function is called and I got it to alert the filename.

This is called when finishStartup() is called from main.js.

[2017-03-10 21:29] Pomax opened #639 "getting build errors due to git permissions on Windows"
When running `npm run build` I get the following error log:
[code]
Windows does not use the same credential caching for git as it does on unix/linux/OSX so it might be that this command is trying to do a `git ls-remote --heads origin` based on a `git@...` URL rather than an `https://github.com/....` URL, causing SSL authorization to kick in, which can't be fulfilled automatically.

[2017-03-11 01:33] humphd commented on #494
Please test my PR in https://github.com/mozilla/brackets/pull/625 with this bug, I might have fixed it when I rewrote that code.

[2017-03-11 18:28] peiying16 commented on #494
I want to test it. I use following commands to download your branch, where are the codes it downloads to?
[code]

[2017-03-12 04:54] gideonthomas commented on #631
@humphd are the above console methods meant to be implemented in that PR linked or it's fine to implement it as a separate issue?

[2017-03-12 06:47] gideonthomas commented on #493
@aayushsanghavi this doesn't seem like an easy bug to fix tbh. This is where it's failing: https://github.com/mozilla/brackets/blob/master/src/extensions/default/InlineColorEditor/main.js#L54. It fails because of the intrinsic behavior of this extension - it relies on providing the color editor as a "guide" once you've already started typing in a color to help refine your color choice and is not m

[2017-03-12 13:58] aayushsanghavi commented on #493
Thanks a lot @gideonthomas. I followed your instructions and I managed to make some progress (when any css property with type color is mentioned the color picker pops up with default color white) but the UX is not good. If you and @humphd could review my code and help me with it, it'd be great.
Also, I'm stuck with a small issue, I can't include the CSSCodeHints file. I tried
`CSSProperties = brac

[2017-03-13 01:03] humphd commented on #493
`CSSProperties = brackets.getModule("text!extensions/default/CSSCodeHints/text!CSSProperties.json");`

In terms of moving this forward, do a WIP (Work in Progress) PR and please include a screencast animated gif to show how it works.  You can use http://www.cockos.com/licecap/ or similar to create it, then include that in your PR's comment.  It makes it easier to discuss.

[2017-03-13 01:14] humphd commented on #631
Doing this in a follow-up PR is fine with me.  As long as all of those get left alone or set to `_log` in his other patch, should be good.

[2017-03-13 01:17] humphd commented on #494
[code]

[2017-03-13 03:52] raygervais commented on #631
@humphd, I've been pushing commits to the same branch, resulting in the additional console code ending up in the linked PR. All that is left is trace, count, and assert from the list above, plus any others that I may have missed.

If you'd like me to push them to this issue, how can I ensure that Github directs them instead of the PR, to here?

[2017-03-13 12:25] aayushsanghavi commented on #493
@humphd thank you! I tried that but the CSSProperties include didn't work. For the gif I'll keep a copy of CSSCodeHints.json but in the PR I'll keep the include syntax you mentioned. Please help me fix that.

[2017-03-13 18:40] #639 closed

[2017-03-13 19:38] #592 closed

[2017-03-13 19:40] humphd opened #645 "Improve our grunt-contrib-compress usage"
We use https://github.com/gruntjs/grunt-contrib-compress to compress our resources before uploading them to s3.  There are a few issues with it

* https://pracucci.com/best-gzip-compression-with-grunt-contrib-compress.html
* use of optional brotli compression breaks travis (fixed in #592), and in Windows.

Maybe there is something we can do to improve this, or we can switch to some other module.

[2017-03-13 19:58] Pomax commented on #492
@timmoy github specifically needs the word "fixes #....", otherwise it won't create the crosslink between the issue and the PR. In this case you used "addresses #..." which github does not pick up on.

[2017-03-13 20:41] peiying16 commented on #494
I checkout to your branch, but I can't load the page. Error message is here.
![err](https://cloud.githubusercontent.com/assets/25106861/23874333/9596bd42-080b-11e7-9df9-01be45f1fb0f.PNG)

[2017-03-13 20:47] peiying16 commented on #494
Here are my branchs and remote
![git](https://cloud.githubusercontent.com/assets/25106861/23874609/b0cddf2c-080c-11e7-8ead-f9ab9da1ffab.PNG)

[2017-03-13 21:29] gideonthomas commented on #493
@aayushsanghavi I think it's better if you just copy/paste that file into the same folder so that you can simply `require("text!CSSProperties.json")` and so that it'll be easier for us when we update with upstream Brackets.

[2017-03-14 01:40] humphd commented on #494
I would clear your cache.  Let's discuss in class tomorrow too.

[2017-03-14 18:09] humphd commented on #494
@peiying16 thanks for altering me to this--it was a bug in my code.  I've pushed a new commit on my PR which fixes it.  Do you mind trying again?  Thanks for letting me know about this, I totally missed it!

[2017-03-15 17:25] humphd commented on #607
Here's what Medium does, as another example:

![medium-example](https://cloud.githubusercontent.com/assets/427398/23961907/c92d2934-0982-11e7-9c69-6fb44841ab14.gif)

I kind of like their 3-state text indicator, it's comforting.

[2017-03-15 22:01] peiying16 commented on #494
@humphd Hello, I try your PR. Now I can load the page successfully, but it doesn't fix this issue. It is still 404
![image](https://cloud.githubusercontent.com/assets/25106861/23972755/6fc8f496-09a9-11e7-80c3-27601683117e.png)

[2017-03-16 01:28] humphd commented on #494
OK, this is helpful.  Thank you.  I think it's something to do with it trying to load an `ImageView` vs. an HTML Live Document on startup, and not using a rewritten Blob URL.  We'll have to debug this separate to what you're doing.

Thanks for you testing, I just hoped it would solve this bug, too.

[2017-03-17 03:55] timmoy commented on #492
I've created a new branch for the Caman.js implementation for this issue [here](https://github.com/mozilla/brackets/compare/master...timmoy:issue492v2).

Currently, the code is working to support 1 filter and reset of the image. Saving works like a normal photo as well, but the preview and the editing photo are separate for the time being.

The UI definitely needs work, so I'll create a pull reque

[2017-03-17 06:45] makkBit commented on #454
@NYCJacob are you still working on this issue? If not, I can work on it as my first good bug. :)

[2017-03-17 12:04] NYCJacob commented on #454
@makkBit my PR for this was accepted so I am not sure why this is still open.

[2017-03-17 14:59] humphd commented on #454
Looks like the one we finally landed didn't reference this bug, see https://github.com/mozilla/brackets/pull/568.

Thanks for making us aware of the mistake, closing.

[2017-03-17 14:59] #454 closed

[2017-03-17 18:35] humphd commented on #622
@sgupta7857 is going to take this work over.  I've got a PR up at https://github.com/mozilla/brackets/pull/623 which he's going to finish, and we'll land it and have it be disabled by default.  Then, I'll file another bug in Thimble to add a toggle to enable it if people want to use it.

[2017-03-19 03:19] peiying16 commented on #599
Interesting. I'm working on this issue.
![image](https://cloud.githubusercontent.com/assets/25106861/24077842/f3bde6f6-0c30-11e7-97d0-3d5e15c77f62.png)
Now, I added a gif icon beside the file name. I think I need to add a function to load different gif file base on the extension name.

[2017-03-19 04:04] peiying16 commented on #599
Where can I get the icons? @humphd

[2017-03-20 18:35] #619 closed

[2017-03-20 19:04] humphd commented on #607
Fixed by https://github.com/mozilla/brackets/pull/632, moving discussion to https://github.com/mozilla/thimble.mozilla.org/issues/1526 for the UI changes.

[2017-03-20 19:04] #607 closed

[2017-03-20 19:24] humphd opened #654 "eslint doesn't check code in src/extensions/*"
By design, Brackets doesn't run eslint on many extensions.  They did this because a lot of them were included via submodule, and were owned by other people with other code styles.

We have a number of extensions that live in our tree, and we manage all the code directly in this repo.  We should be linting these.  We actually used to do it, but when we merged with upstream, they changed to eslint f

[2017-03-21 00:39] Blackweda commented on #654
I'll fix it up.

[2017-03-21 01:45] humphd commented on #654
Thanks, @Blackweda, it's yours.

[2017-03-21 04:54] ryanwarsaw opened #657 "Cannot find module 'sw-precache' when installing brackets"
When I run the command ```npm install``` to install the dependencies for brackets, eventually I'll be led to the post-install task ```grunt install``` where I'll be greeted with an error originating from the ```Gruntfile.js``` claiming it can't find the module ```sw-precache```.

This has only started happening recently, my previous clone of brackets didn't have this issue. I created a new clone w

[2017-03-21 05:16] Blackweda commented on #654
so I added the necessary code.. quick question, Is **'<%= meta.src %>',** still necessary? For now I actually commented it out but left it in the code.

[2017-03-21 05:59] Blackweda commented on #654
I made a PR. Let me know if changes are in order.

[2017-03-21 16:59] humphd commented on #657
This is odd.  We define `sw-precache` in `package.json`, but it's a `devDependency`.  According to http://stackoverflow.com/questions/34700610/npm-install-wont-install-devdependencies?answertab=active#tab-top, if your `NODE_ENV` is set to `production` it won't install it.  Are you setting it by chance?

[2017-03-21 17:05] ryanwarsaw commented on #657
Yep, good catch! I had remnants of another bug I had been trying to look into, which involved me setting NODE_ENV to production.

[2017-03-21 17:05] #657 closed

[2017-03-21 18:11] humphd commented on #451
@mfainshtein4 here is what we did together:

[code]

[2017-03-21 22:19] Pomax commented on #492
no need to wait with a PR, just create one, put `[WIP]` in the title, and then just keep working on it.

[2017-03-22 00:13] timmoy commented on #492
I've created a [new pull request](https://github.com/mozilla/brackets/pull/656) for this issue.

Currently it works and is able to save photos with filters applied, but the UI is a bit rough.

[2017-03-22 16:40] mfainshtein4 commented on #451
@humphd
![current](https://cloud.githubusercontent.com/assets/11540135/24209300/3fba8cbc-0efc-11e7-9f9b-0c66a840df14.png)

This is how the work looks like a the moment. I removed cut, copy, and paste from keyboard.json as the shortcut commands are handled natively and it was causing the shortcuts to call the dialogs if the commandQuerySupported is false. Is this solution fine?

[2017-03-22 17:04] jgmac1106 commented on #451
Is it contextual? Meaning recognizing operating system so it will say Cmd+C for Mac OS users?

[2017-03-22 18:10] mfainshtein4 commented on #451
it is not. should it be? I was going by googles dialog as reference and their doesn't.

[2017-03-22 18:13] Pomax commented on #451
it should be - windows/unix/linux use "contrlol", whereas OSX uses the apple "command" key (which is the 'meta' key corresponding to the windows key on windows, and 'a key we don't use' on unix/linux)

[2017-03-22 18:30] flukeout commented on #599
Hey @peiying16 - can you open a pull request for this change? I'll provide an icon there. We might need two colors of icons, or one color that works on both the dark and light themes.

[2017-03-22 18:54] mfainshtein4 commented on #451
and id use navigator.platform to figure this out correct?

[2017-03-22 19:14] peiying16 commented on #599
Yeah. Most of the codes are done. I'm testing.

[2017-03-22 19:28] Pomax commented on #451
yep. Basically if `navigator.platform.indexOf('Mac') !== -1` we know we're dealing with an OSX flavour that uses the `⌘+...` rather than `ctrl+...`

[2017-03-22 19:29] mfainshtein4 commented on #451
makes sense. Ill get cracking on that. Thanks for the feedback :)

[2017-03-23 01:05] humphd commented on #368
@Th30 while doing some other work today, I noticed this code https://github.com/adobe/brackets/blob/0d1630c47fefa98269f1bb0937e22d5934749cd3/src/project/ProjectModel.js#L668-L715, which I think might solve your problem here (i.e., use this when we startup to force the file to load and become selected).

[2017-03-23 01:07] humphd commented on #368
Also, you can see the lower-level call that hooks into react's data model here: https://github.com/adobe/brackets/blob/0d1630c47fefa98269f1bb0937e22d5934749cd3/src/project/ProjectModel.js#L1143

That's how they set a path to be selected.

[2017-03-23 01:08] Th30 commented on #368
@humphd Thank you! I'm going to check this out tonight! I was having problems earlier opening js files and terminal, it would freeze and require me to force quit. Turns out my Nand was busted and I had to replace it.

I'll be back at this code soon!

[2017-03-23 01:12] humphd commented on #449
I've been [rewriting a bunch of this code lately](https://github.com/mozilla/brackets/pull/659), and I don't think it's likely we'll do drag-and-drop rearranging of the file tree.  We probably can do drag-into-a-folder though, which is https://github.com/mozilla/thimble.mozilla.org/issues/1886.  I'm going to close this.

[2017-03-23 01:16] humphd commented on #594
I'm going to close this until we have a better understanding of what we'd do with it.  I think it's neat, but not overly useful.  We can open again if/when we know what we want.

[2017-03-23 01:16] #594 closed

[2017-03-23 03:00] peiying16 commented on #599
@flukeout PR is here https://github.com/mozilla/brackets/pull/660

[2017-03-23 19:23] humphd opened #661 "Provide hint to user that service worker has new updates"
We should really be doing something with the service worker when cached items are updated, see https://github.com/GoogleChrome/sw-precache/blob/7688ee8ccdaddd9171af352384d04d16d712f9d3/demo/app/js/service-worker-registration.js#L51 and the 3rd bullet here https://github.com/GoogleChrome/sw-precache#considerations.

[2017-03-23 19:39] humphd commented on #661
http://stackoverflow.com/questions/41422474/new-version-available-with-service-worker-and-sw-precache might be good to know too.

[2017-03-24 07:31] nailaandleeb opened #662 "'npm install' is missing some dependencies"
I have cloned the latest version tomorrow and run according to the instructions.'npm install' and 'npm run build'.but this is skipping thirdparty modules like ."https://github.com/mozilla/brackets/tree/master/src/thirdparty" ....I had to install them manually.
.
I am running this at <a href="http://c9.io/">Cloud9</a> environment.

[2017-03-24 18:21] ryanwarsaw commented on #662
You need to initialize github sub-modules, you can do this by appending the ```--recursive``` flag to your clone command, or if that isn't available you can do ```git submodule update --init --recursive```.

[2017-03-27 15:28] #662 closed

[2017-03-27 15:33] humphd commented on #425
This is being fixed in #637, closing.

[2017-03-27 15:33] #425 closed

[2017-03-27 20:44] Blackweda commented on #222
is this problem already solved or nobody took the time to finish it?

[2017-03-27 21:26] Pomax commented on #222
very much still a thing, this work basically fell off the roadmap

[2017-03-27 23:47] humphd opened #668 "Dragging some file types into browser fails silently (e.g., .txt)"
From https://github.com/mozilla/brackets/pull/659#issuecomment-289606811, we seem to silently fail to import certain file types when dragging-and-dropping

STR:

* create a file on your desktop `text.txt`
* drag it from the desktop into the filetree
* note that the file is not created, no errors on the console
* rename the desktop `text.txt` to `text.js`
* drag it from the desktop into the filetre

[2017-03-29 19:15] humphd commented on #449
Since I closed this, I've actually been rethinking my position.  Based on subsquent work I've done, I actually think this wouldn't be too hard to implement.

I'm trying to decide whether it's worth doing here or upstream in Adobe's Brackets.  Some recent discussion about their bug(s) on this here https://github.com/adobe/brackets/issues/12101#issuecomment-289279226

[2017-03-29 19:31] gideonthomas opened #673 "Cancelling a file upload will not allow you to re-open the upload files dialog"
This is a bug introduced by the way we approached https://github.com/mozilla/brackets/pull/621.

Specifically, this is the bug: https://github.com/mozilla/brackets/pull/621#issuecomment-286286626

With the same approach that that PR takes, what we really need to do is to listen for the "cancel" event on the `<input type-"file">`, but apparently that is impossible (after doing some research).

The

[2017-03-30 18:39] flukeout commented on #199
Confirmed that it's still an issue, will close and refile.

[2017-03-30 18:39] #199 closed

[2017-03-30 20:42] #354 closed

[2017-03-31 01:18] edyedy123 opened #676 "Brackets error after new install"
Hey,
I had brackets working but I wanted a fresh version so I deleted my brackets repo on git and forked it again, installed it the same way I did before by following this:
http://blog.humphd.org/fixing-a-bug-in-mozilla-thimble/
but when i open http://localhost:8000/src/hosted.html, I get this error:

Uncaught TypeError: FileSystem.getFileForPath is not a function
    at FileStorage.load (Preferen

[2017-03-31 01:20] humphd commented on #676
@edyedy123 thanks for filing this, @flukeout beat you to it, and I I just landed a fix in https://github.com/mozilla/brackets/commit/2972efbdfff4324d5f3ed10beb742551048a8673.  Can you try updating `master` and testing?  Please close this if it works.

[2017-03-31 01:21] humphd commented on #676
See details in https://github.com/mozilla/brackets/pull/633#issuecomment-290586619

[2017-03-31 01:25] edyedy123 commented on #676
Thank you It works now

[2017-03-31 01:25] #676 closed

[2017-03-31 16:08] humphd commented on #514
This is https://github.com/mozilla/brackets/issues/514 in Thimble.

[2017-03-31 16:29] ZenanZha commented on #668
@humphd I'm not be able to reproduce the bug. This might be fixed somehow.

[2017-03-31 16:53] ZenanZha commented on #668
@humphd I'll wait for the merging of this pull: [.](https://github.com/mozilla/brackets/pull/659)
Then I could work on this issue. I will start form this branch: [humphd:dnd-folders](https://github.com/humphd/brackets/tree/dnd-folders)

[2017-03-31 18:20] edyedy123 commented on #597
Maybe comments on the client files telling developers to run the build or a read me file?
or are you looking for a more technical fix?

[2017-04-01 23:20] Th30 commented on #368
Just an update, still working on this. Will hopefully have a PR by Tuesday/Wednesday this week:) I think I'm close, but if I run into any problems I'll post here.

[2017-04-02 23:37] Blackweda commented on #222
I'll give it a look this week and see if its too complicated or not for me.

[2017-04-03 15:19] humphd commented on #597
A more technical fix, since people don't read docs, and even if they do, it's not always obvious when to do this.  There are only a few instances where this file needs to get rebuilt, so it's easy to get it wrong.

One thing we could do is move to using webpack instead of requirejs to build things, and then have it watch for changes that need to be rebuilt.  Webpack is module agnostic, and is fine

[2017-04-03 15:51] humphd commented on #668
@ZenanZha please don't wait, pull my branch and start figuring it out now:

[code]

Now you can start fixing the bug, doing commits, etc.  When my PR gets merged, you can do this:

[code]

[2017-04-03 17:42] humphd commented on #560
I think we should move forward with this.  I'm specifically concerned about version skew between what Thimble needs (i.e., what is available on the Bramble iframe API, basically which version it is) vs. what Brackets is currently running (i.e., `dist/bramble.js`).  If Thimble loaded `bramble.js` via npm and versioned it, we wouldn't blow up because some method is missing in the API.

This pattern

[2017-04-03 18:04] humphd opened #681 "Consider enabling InlineTimingFunctionEditor"
Brackets has an extension for graphically editing bezier curves to do easing and timing functions, similar to how the inline color editor works:

![](http://corlan.org/wp-content/uploads/2013/11/33br-3.png)

We should consider whether or not to enable it by default.  @Pomax?

If we do add it, we need to convert its LESS file to a CSS file (we try not to have extensions render LESS in the browser o

[2017-04-03 19:09] Pomax commented on #681
I think that without something that also shows off "what it does" as you manipulate the curve, this isn't super useful, but maybe @flukeout (who uses timing functions more than I do) has a different opinion here

[2017-04-03 19:10] humphd commented on #681
I tend to agree.  I think this is pretty hard to imagine being generally useful.  @flukeout, please set us straight.

[2017-04-03 19:12] Pomax commented on #560
hm, we could start with "not publishing to npm" but making sure we version things in git, so we can do `npm install mozilla/brackets@b12345` - as long as we don't use the same version pattern that the official brackets does, that shouldn't conflict. It does mean "pegging" brackets to a specific version but that doesn't feel like as big of a problem.

[2017-04-03 19:15] Pomax commented on #449
given the ambiguity around the words "drag and drop" (which can either mean on-page or from-desktop-into-page), is this issue specifically about dragging files/directories around in the file tree? If so, that feels like a thing brackets should support (and I'd be surprised if brackets itself doesn't already)

[2017-04-03 19:17] humphd commented on #449
It's about dragging within the filetree to move files from one folder to another.  Brackets does not support it, but has various bugs filed on this (people want it).  I included a link above.  Fixing this upstream in Brackets itself is one way to go.  It would be more complicated than just doing it for our case, since we only have to work on a single filesystem (i.e., Filer).

[2017-04-03 19:32] flukeout commented on #681
While I do use UI like this sometimes elsewhere on the web and then copy the output to my code, it do so very rarely and doubt a beginner would benefit very much from it. Let's not include it.

[2017-04-03 19:33] humphd commented on #681
OK, thanks, closing.  We can always add it later if we decide we need it.

[2017-04-03 19:33] #681 closed

[2017-04-03 19:38] Blackweda commented on #222
@Pomax the box in which users type code (where they can accidently make an infinite loop), what is that? **src/editor**? I'm going to look at the code of the object the user is in for writing scripting codes.

[2017-04-03 19:38] humphd opened #683 "Minify CSS files in dist/"
Our Gruntfile should use LESS to minify all CSS files in `dist/`, especially those in extension dirs.  Because we copy them over, we can do it in place and replace the existing unminified files.

[2017-04-03 19:41] humphd opened #684 "Minify JavaScriptCodeHints .js and .json files"
We don't do a full require build or minification step on the files in the JavaScriptCodeHints extension.  This leads to us loading a lot of .js and (big) .json files that could be reduced in size and bundled.  We need some kind of separate build step specifically for this one extension.  The reason it doesn't happen automatically with what he have now is that most of this code is loaded in a web w

[2017-04-03 19:42] humphd commented on #222
Look at `src/Editor/Editor.js`, which is where our CodeMirror instances live.

[2017-04-03 19:45] Pomax commented on #673
I might not understand, but why can we not "always clean up" when someone picks the upload option? We don't really need to listen for a cancel, our UI just needs to make sure that when a user takes an action that opens file-upload-UI, it makes that happen. If an old upload instance can get in the way, then the solution would appear to be to destroy it at the time it would become a problem

[2017-04-03 20:29] Shank09 commented on #673
@Pomax
is this what you are saying?
[UploadFilesDialog.js#L143](https://github.com/mozilla/brackets/blob/master/src/extensions/default/UploadFiles/UploadFilesDialog.js#L143)
Replacing `.hide()` with `.destroy()`?

If so, destroying the `file-upload-UI` when they choose upload from computer, causes it to not upload any file.

[2017-04-03 20:42] Pomax commented on #597
switching over from requirejs to webpack is not trivial - I'd actually advocate using `npm-run-all`'s "run-p" utility ("run these tasks in parallel") and issue something like:
[code]
So when you run `npm run live` it both runs "npm start" and the "npm run watch" task simultaneously,

[2017-04-03 21:23] humphd opened #685 "Figure out if we still need to shim MessageChannel"
We have a few places where we've shimmed MessageChannel, because it was so new when we started using it: https://github.com/mozilla/brackets/blob/master/src/main.js#L117 for example.

We should see if it's still necessary.  Firefox 41 started shipping it by default, for example.

[2017-04-03 21:55] Blackweda commented on #222
thank you.

[2017-04-03 22:11] Pomax commented on #683
should this include CSS map generation?

[2017-04-03 23:12] Pomax commented on #673
Yes: if we're hiding it already anyway and it doesn't come back on a file selection, then we might as well destroy it immediately so that the next time a user clicks "upload", a completely new manager is created.

[2017-04-03 23:24] Shank09 commented on #673
@gideonthomas @Pomax

We cannot call `destroy()` because it contains `this.fileInput.remove();` and it ignores the uploaded file.
However, If we call `_uploadDialog = null;` after [UploadFilesDialog.js#L143](https://github.com/mozilla/brackets/blob/master/src/extensions/default/UploadFiles/UploadFilesDialog.js#L143) every thing is working fine. It fixes this issue.

Is this good to go? If so I'll

[2017-04-03 23:29] Pomax commented on #673
Absolutely, if that fixes the issue, file a PR and we can test to verify!

[2017-04-04 04:01] Blackweda commented on #222
There should be a way to determine if the code is regular variables vs. [ for | do | while ] statements. Is that what the mode is??
https://github.com/mozilla/brackets/blob/master/src/editor/Editor.js#L799-L809

As far as looking at what's being typed in the editor, I'm thinking I could possibly insert some code around:
https://github.com/mozilla/brackets/blob/master/src/editor/Editor.js#L865-L882

[2017-04-04 04:20] Pomax commented on #222
No, the mode in that code tells you "the kind of document currently open" so that CodeMirror can apply specific plugins as necessary. Your second link might be useful though.

We have two places where we can detect this:
1. in brackets, based on the code the user writes, or
2. in the preview iframe, where we actually *run* the code.

Catching it in brackets is preferable because it lets us add err

[2017-04-04 04:26] Blackweda commented on #222
okay, I'll discuss with David tomorrow.

[2017-04-04 14:48] ZenanZha commented on #668
Hello professor @humphd ,
I went through those code last weekend. There are lots of code and I think I need some tips to help me start my work. Could you please help me go though these code a little bit?

[2017-04-04 20:02] Th30 commented on #368
Hello Everyone!!!! just an updated, with @humphd I was able to narrow down the problem to here:
<img width="1309" alt="screen shot 2017-04-04 at 1 56 19 pm" src="https://cloud.githubusercontent.com/assets/3598286/24674944/61068336-194b-11e7-8052-16665880b843.png">

Here it check to see if it's in Project Manager or set working view.
<img width="197" alt="screen shot 2017-04-04 at 3 30 05 pm" src="

[2017-04-04 20:04] Th30 commented on #368
Ok I think I got it, what I ended up doing is removing and trace of Working Set view, since it's not required also cleaned and tweaked comments as needed hopefully I got everything. I've tested the code and it works well for me, I'm going to make a PR if you guys can check it out.

[2017-04-04 20:18] Th30 commented on #368
#688

[2017-04-04 21:18] gideonthomas commented on #631
Still to be done here:
`console.trace` and `console.count`

[2017-04-05 18:09] #673 closed

[2017-04-05 18:16] humphd opened #692 "Remove Working Set View code"
Brackets uses a two-part filetree, with the bottom portion being the view of all files in a project, and the upper portion being the working set view.  This latter UI shows all open files, and much of the selection code assumes you're going to want to see the current file by looking there vs. in the project view.

In Bramble, we hide the working set view, and instead choose to always show the enti

[2017-04-05 18:45] humphd commented on #668
The problem is likely in https://github.com/humphd/brackets/blob/c238c04afb107946ecabf8347c4b1e14e709fb3c/src/filesystem/impls/filer/lib/LegacyFileImport.js#L126-L145 and/or https://github.com/humphd/brackets/blob/c238c04afb107946ecabf8347c4b1e14e709fb3c/src/filesystem/impls/filer/lib/LegacyFileImport.js#L126-L145 (these two functions are similar but slightly different, depending on what the brows

[2017-04-06 17:26] Pomax commented on #631
Updated the first comment to use a checkbox list so progress is automatically tracked by github

[2017-04-06 18:25] humphd commented on #684
I tried to write a custom build step to bundle all the `tern-worker.js` code and its deps with requirejs, but I can't seem to make it load things from the bundle vs. network.  This set of options creates a bundle that *should* work, but doesn't:

[code]

I'm going to give up on this approach, and just rework our uglify code to work on everything in `dist/` now that we strip all the unnecessary fil

[2017-04-06 19:52] Th30 commented on #692
@humphd I actually will like to continue contributing to this along side my release 0.4 (or if time contraints make this my release 0.4) I really feel like I've invested a lot of time in this, and I would like to continue if possible:)

[2017-04-06 19:56] humphd commented on #692
Sounds good, @Th30.  It will require a bit of surgery, but shouldn't be too bad.  Probably it would be smart if we sat down together in person and made a plan.

[2017-04-06 19:59] Th30 commented on #692
@humphd that would be appreciated! I'll email you later tonight to remind and inquire about a good time!

[2017-04-07 15:25] humphd opened #696 "Switch http-server to http-server-gzip"
For testing our `build-browser-compressed` task, we need to have our `http-server` use `gzip` compression.  https://github.com/cvan/http-server-gzip has added it in a forked repo.  Let's switch to this server in our `package.json`.

[2017-04-07 15:28] #634 closed

[2017-04-07 15:32] #684 closed

[2017-04-07 15:59] JohnEJames commented on #696
I would like to work on this bug!

[2017-04-07 16:31] timmoy commented on #492
Just a quick update to let everyone know that another pull request has been created since we are changing the feature from being located in the selfie-taker to the image-viewer.

The pull request can be found [here](https://github.com/mozilla/brackets/pull/694).

[2017-04-07 20:12] gideonthomas commented on #696
go for it @JohnEJames

you need to make a couple of changes:
1. in the `package.json` remove the current `http-server` entry and add `http-server-gzip` instead using a git path (here's how you do that: https://docs.npmjs.com/files/package.json#git-urls-as-dependencies)
2. change the `scripts` object in `package.json`:
   - change [this](https://github.com/mozilla/brackets/blob/master/package.json#

[2017-04-07 20:13] gideonthomas commented on #696
Actually wait. That won't work. This package will only serve up gzipped files if they have the `.gz` extension attached to them. @humphd none of the generated files have that extension so it won't set the right `content-encoding` header when serving it up. Any suggestions?

[2017-04-07 22:39] humphd commented on #696
We could fork his server and make it work properly without reading the filenames (e.g., have it honour whatever flag we call the server with, and just always do it regardless of file ext.  It's probably best if we (mozilla) fork it anyway, so we can control it.

[2017-04-08 01:54] humphd opened #700 "Get rid of console warnings"
I'm sick of seeing these deprecation warnings.  We need to modify `extensions/default/brackets-paste-and-indent/main.js` to not do what it's complaining about, and/or get rid of the `console.warn()` completely.

[code]

[2017-04-08 18:47] humphd commented on #692
I was working on some other code today, and had to touch this code a lot.  I think removing it is going to be very, very tricky, and likely not worth the trouble.  I'm going going to close this.  @Th30 can you pick another bug?  I don't want you to struggle with something this hard for so little pay off.

[2017-04-08 18:47] #692 closed

[2017-04-09 06:16] gideonthomas commented on #696
@humphd the problem is that it's not http-server that's the issue. It includes a dependency called `ecstatic` that enforces the `.gz` extension thing.

[2017-04-09 23:29] humphd commented on #696
Because none of these projects are really maintained anymore, and likely moving to webpack2 is the real solution long term, let's just fork `http-server-gzip` and `ecstatic` and fix this. The problem is here: https://github.com/jfhbrook/node-ecstatic/blob/master/lib/ecstatic.js#L88.  Let's just not do that!

@gideonthomas are you willing to fork these into `mozilla` so @JohnEJames can send PRs aga

[2017-04-10 04:45] gideonthomas commented on #696
@JohnEJames alright so here's how you can fix this issue:

1. Fork and clone https://github.com/mozilla/http-server.
2. In that project, open up a PR **agains the `gzip` branch** with a change somewhere around https://github.com/mozilla/http-server/blob/master/lib/http-server.js#L57 to check if `this.gzip` is `true`, and if it is, set the `Content-Encoding` header to `gzip`. Here's an example of h

[2017-04-10 17:33] #599 closed

[2017-04-10 17:39] #451 closed

[2017-04-11 14:56] cgsingh commented on #700
I'll do this by just getting rid of the warning messages altogether.

[2017-04-11 15:37] cgsingh commented on #700
I believe I have a solution ready, but I'm not entirely confident about my replacement for `currentDocumentChange`. I'm just going by what the documentation in `DocumentManager.js` suggests. I'll open a PR soon.

[2017-04-11 16:05] cgsingh commented on #700
Uh, Git won't let me add changes I made to `brackets-paste-and-indent/main.js`, I guess because it's a module? Anyone know how to get around this?

[2017-04-11 17:24] cgsingh commented on #700
I'm also getting some errors with Travis CI, so clearly I forgot to do something. Here is the PR: [](https://github.com/mozilla/brackets/pull/708)

[2017-04-11 23:30] gideonthomas commented on #696
Steps 1 and 2 are done. @JohnEJames you can continue with the rest of the steps.

[2017-04-12 00:03] #368 closed

[2017-04-12 00:04] humphd commented on #368
They said it couldn't be done!

[2017-04-12 00:10] humphd commented on #683
I want to use what I did in https://github.com/mozilla/brackets/pull/690 to also combine all CSS/LESS into one file with Brackets for extensions.

[2017-04-12 01:01] humphd opened #710 "Figure out if we can remove these JS Violation warnings"
[code]

Noticing this for the first time tonight in Chrome.  It's related to us using `MessageChannel` to send things over to the iframe and back, and I guess blocking on it returning?  We should see if we can deal with any of it.

[2017-04-12 03:03] JohnEJames commented on #696
Hey @gideonthomas, Linked the git like this

"http-server" : "git://github.com/mozilla/http-server.git",

I thought this was the correct method, but I am not entirely sure. I also added your
"production": "npm start -- --gzip", command.

When I go to the link this is what I get

![5dffdc4022a617e157ff70997a103b7e](https://cloud.githubusercontent.com/assets/10540058/24939396/08cce80c-1f0b-11e7-8737

[2017-04-12 04:59] gideonthomas commented on #696
@JohnEJames, three things:

1. My comment mentions that you need to point it to the gzip branch of that repository. You haven't done that (that's one possible reason why it's failing)
2. I forgot to mention this but you also need to run `npm install` before running `npm run production`
3. Your link is too verbose. Read the documentation I linked you to in my previous comment. You don't need half o

[2017-04-13 13:37] humphd opened #716 "Don't spam live dev console with Bracket's debug info"
Let's not write live dev debug messages to the console in the iframe, because it will just show-up in the user's custom console (#672) and cause confusion:

[code]

I think this comes from stuff in here:

https://github.com/mozilla/brackets/blob/master/src/LiveDevelopment/MultiBrowserImpl/protocol/remote/LiveDevProtocolRemote.js#L100

cc @raygervais, @Abykin -- do either of you want to fix this?

[2017-04-13 16:06] #696 closed

[2017-04-13 17:39] gideonthomas commented on #598
Just to clarify, this only happens on Windows 8.1 IE 11. Works fine on WIndows 10 IE 11

[2017-04-13 17:44] gideonthomas commented on #598
@humphd so it breaks here: https://github.com/mozilla/brackets/blob/master/src/bramble/ChannelUtils.js#L49 (I can't get any more info than `DataCloneError`).

[2017-04-13 17:46] humphd commented on #598
I'm trying to reproduce now.  I have a VM with Windows 8.1 and IE11 (11.0.9600.16384).

So far I can't hit it.  After fixing #717, I see this:

![screen shot 2017-04-13 at 1 12 23 pm](https://cloud.githubusercontent.com/assets/427398/25016674/fac606c2-204e-11e7-92b5-adde1f9be6d6.png)

When I run full Thimble, everything seems to work, except I don't see any files in the Filetree (no errors related

[2017-04-13 17:52] gideonthomas commented on #598
@humphd can you try loading https://brackets-testing.herokuapp.com/src/hosted.html in your vm?

[2017-04-13 17:56] humphd commented on #598
Works fine:

![screen shot 2017-04-13 at 1 55 01 pm](https://cloud.githubusercontent.com/assets/427398/25017193/d8229a52-2050-11e7-94ff-126e0374325c.png)

We must be running different versions somehow?

[2017-04-13 18:02] humphd commented on #598
I wonder if you're hitting this: https://connect.microsoft.com/IE/feedback/details/783468/ie10-window-postmessage-throws-datacloneerror-for-transferrable-arraybuffers

That's exactly what we do.  Why does it work for me, though?

[2017-04-13 18:04] gideonthomas commented on #598
hmm that's also IE 10. This is what I see:
<img width="1293" alt="screen shot 2017-04-13 at 1 59 32 pm" src="https://cloud.githubusercontent.com/assets/5816130/25017503/10649d7e-2052-11e7-91e7-a8515712c377.png">
<img width="339" alt="screen shot 2017-04-13 at 1 59 50 pm" src="https://cloud.githubusercontent.com/assets/5816130/25017517/16bc3b5a-2052-11e7-952d-9e2b3720c75a.png">

I've asked code.org

[2017-04-13 18:07] humphd commented on #598
So I'm running with 11.0.9600.16384 and you have 11.0.9600.16663, so your'e ahead of me.  Maybe they broke something in a later update?

[2017-04-13 18:08] gideonthomas commented on #598
Not sure. I also noticed that you're using Edge's devtools. I wonder if it isn't showing the datacloneerror while IE11's devtools is.

[2017-04-13 18:12] humphd commented on #598
Do you want to try a test?  This code is basically testing to see if it's possible to use `dataTransferrables`.  What if you do this:

[code]

[2017-04-13 18:22] humphd commented on #598
I filed a bug in Thimble on the filetree being empty.  It's possible that these are connected.

I think it's unlikely (but not impossible) that I'm hitting this `DataCloneError` and just not seeing it.

[2017-04-13 18:26] humphd commented on #685
http://caniuse.com/#search=messagechannel seems to think that we can remove this now.

[2017-04-13 20:05] gideonthomas commented on #598
Ran the test, it goes into the catch block and then breaks here: https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/RemoteFiler.js#L70

[2017-04-14 15:45] humphd commented on #598
OK, try this please:

[code]

[2017-04-15 17:28] humphd opened #720 "Audit every module we load in brackets.js to see if we can remove any"
I did this once before, but I notice some stuff being loaded that we probably don't need (e.g., node connection stuff), and would save us some download size.  Here is what we are currently bundling into brackets.js:

[code]

Some things to see if we can dump:

[code]

[2017-04-16 02:00] humphd commented on #549
I was able to successfully implement a prototype of what I described above, and it's working:

![screen shot 2017-04-15 at 9 54 14 pm](https://cloud.githubusercontent.com/assets/427398/25068083/79e0d8b4-2226-11e7-9e70-f59606ff47a7.png)

I ran into an [unexpected issue, where I was serving the live dev preview in the iframe as a Blob URL](https://github.com/w3c/ServiceWorker/issues/1093#issuecommen

[2017-04-16 04:38] gideonthomas opened #721 "npm run production does not show any content in the editor"
STR:
1. Run `npm run production`
2. Open `localhost:8000/dist/hosted.html` in a tab.
3. If you see content in the editor, open DevTools and clear ALL application data (Service Worker registration, IndexedDB, Cache, etc.)
4. Refresh the page.

You should see something like this:
<img width="1440" alt="screen shot 2017-04-16 at 12 28 44 am" src="https://cloud.githubusercontent.com/assets/5816130/250

[2017-04-16 20:20] edyedy123 commented on #710
Hey, Id like to give fixing this a try.

[2017-04-16 20:31] edyedy123 commented on #720
Hey, I'll try this.

[2017-04-17 15:28] humphd commented on #710
@edyedy123 this is not going to be an easy bug to fix, FYI.  You are welcome to try it, but I really have no idea how to get you started on it.  If you still want this, let me know; but you might also have an easier time with something else.  Let me know.

[2017-04-17 15:33] #683 closed

[2017-04-17 22:11] gideonthomas opened #723 "poststart script not running"
We expected the `poststart` script to cleanup the localization changes made in the file tree when you terminate the `npm start` script. Turns out this is not the case and it never runs.

I think we have two options:
1. Listen for SIGINT and run the cleanup code via a node script
2. Use pm2 to manage the process and let it run the cleanup code

[2017-04-18 01:32] edyedy123 commented on #710
Ok, I'Il try somthing else.

[2017-04-18 15:35] humphd commented on #723
Third option: combine the `start` and `poststart` into `start` like we previously did in https://github.com/mozilla/brackets/pull/680 before you had him split out.  It was working fine.  I'd do the simple thing here vs. over engineering it.

cc @dangkhue27

[2017-04-18 17:18] gideonthomas commented on #723
@humphd that doesn't work either! My guess is that it might be OS based and it doesn't work on Mac (not sure about Linux) but does on Windows.

[2017-04-18 18:54] dangkhue27 commented on #723
It looks like if you update `npm` to version 4.5.0 then it should work.

[2017-04-18 19:57] edyedy123 commented on #331
Hey, I'd like to give this a try.

[2017-04-18 20:03] humphd commented on #331
https://github.com/mozilla/brackets/issues/716 is probably going to be easier.

[2017-04-19 17:47] edyedy123 commented on #716
Hey, I'll try this

[2017-04-19 17:48] humphd commented on #494
NOTE: I have a fix for this in my work for #725, see https://github.com/mozilla/brackets/pull/725/commits/a122b49a16170be920610dd288273d2858cccfb6

[2017-04-19 18:18] edyedy123 commented on #716
Could you please tell me how to replicate the error?

[2017-04-19 18:29] humphd commented on #716
Move your cursor in the HTML file, I think above or below the `<html>` elements.

[2017-04-19 18:45] humphd commented on #723
Having to update `npm` seems like it isn't an ideal fix here.

[2017-04-19 21:56] edyedy123 commented on #716
Hey, I ended up fixing another bug so if anyone wants to fix this they can.

[2017-04-19 21:58] humphd commented on #716
@edyedy123 I'd fix them both, if I were you, since you're trying to get caught up and need some extra work quickly.

[2017-04-20 03:19] humphd commented on #721
I'm pretty sure this is the CSS load ordering bugs @flukeout and I were fixing today.  I have one more PR coming that should fix all of it, see #735.

[2017-04-20 03:21] humphd commented on #302
With #549 I need to remember to not use this shim for doing XHR with SW.

[2017-04-20 03:21] humphd commented on #239
We don't serve LESS in production anymore, closing.

[2017-04-20 03:21] #239 closed

[2017-04-20 15:17] humphd opened #736 "Drop xorigin.js and dependencies.js to reduce startup time, number of requests"
Brackets loads two separate JS files on startup that really aren't needed by us.  I'd like to delete them, and put some of what they do in other files.  Here's what I need done:

1. `src/xorigin.js`

Remove this file (`git rm`) and all references to it:

[code]

Test that you can still load Brackets successfully by starting the server (`npm start`) and browsing to `http://localhost:8000/src/hosted

[2017-04-20 15:25] humphd commented on #449
A note for myself on impl of this: https://reactjsnews.com/complex-drag-and-drop-lists-using-react

[2017-04-20 15:53] Th30 commented on #736
@humphd I'll "Nimble" when getting this done. :)

[2017-04-21 16:51] #685 closed

[2017-04-21 16:54] #331 closed

[2017-04-21 19:40] Th30 commented on #736
@humphd
All done, should have PR soon.

[2017-04-22 09:53] ZenanZha commented on #668
@humphd
Hello, professor.
My code is ready to go, but I cannot find the place to push it.
I would like to keep working for this bug, but I changed my 0.4 release to another one.
(becuse it seems I have no way to create a pull request base on this bug before due date.)

[2017-04-22 17:07] aayushsanghavi commented on #446
@humphd I tried importing a css file using `import url("file name") <name of the element with media query>` and it didn't work but when I tried `import url("<name_here>")` the media query worked.
So I take it that, this is still an issue. Can I work on this?

[2017-04-22 17:18] humphd commented on #446
@aayushsanghavi sure, if you want to give it a try.  The code in question is here: https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/CSSRewriter.js#L20-L89.  That should find and rewrite all relative file paths in a `url(...)` to use a Blob URL.

Further, we need to deal with the special case of there being no `url(` prefix at all, and just the filename in quotes.

[2017-04-22 17:22] aayushsanghavi commented on #446
Yes I tried that too, the `@import "file name"`and it didn't work.
I'll look into the code soon, Wednesday mostly. Thanks for assigning it.

[2017-04-22 18:11] #491 closed

[2017-04-23 15:31] humphd opened #746 "Make file and archive size limits configurable"
In https://github.com/mozilla/brackets/commit/a47ee0def94f76390aaaf87e5b6fbf4093807684 we added limits for maximum file sizes, for both regular and archive files.  We should probably make this configurable in the [`options` a user can pass to `Bramble.init()`](https://github.com/mozilla/brackets/blob/master/src/bramble/client/main.js#L165).  Using what we have now is a good default, but we should

[2017-04-23 16:15] humphd commented on #668
Where is your code?  At least put it somewhere I can see, even if you can't do a PR.

[2017-04-23 17:13] #716 closed

[2017-04-24 04:06] ZenanZha commented on #668
Pushed on to my fork: [ZenanZha/Issue668](https://github.com/ZenanZha/brackets/tree/Issue668).
@humphd

[2017-04-24 04:13] ZenanZha commented on #668
I only change the code on [WebKitFileImport.js](https://github.com/ZenanZha/brackets/blob/Issue668/src/filesystem/impls/filer/lib/WebKitFileImport.js) because https://github.com/humphd/brackets/blob/c238c04afb107946ecabf8347c4b1e14e709fb3c/src/filesystem/impls/filer/lib/LegacyFileImport.js#L126-L145 actually has no error.

[2017-04-24 20:56] gideonthomas commented on #721
Hmm `npm run production` doesn't work at all anymore :P
I think we landed the "localize before we run start" patch after the patch that fixed `npm run production` and it regressed. The fix sound be to call `npm run server` vs `npm start` in the `production` script.

[2017-04-26 21:18] gideonthomas commented on #723
@dangkhue27 I think I'll take this issue on since it is a bit complex and requires some experimenting with (and I realized that as I was typing out my comment explaining how to fix this, I was basically writing all the code).

[2017-05-05 19:12] aayushsanghavi commented on #446
@humphd I started work on this issue and I've added functionality of using `@import "cssfile.css"`. For the others could you suggest to me how I should proceed? I'd like to have a clear picture of the steps I would have to follow in order to implement it.
The way I see it, this will involve use of regex for extracting the names of media-queries and then replacing the content of the media-queries w

[2017-05-08 18:12] humphd opened #749 "Don't add menu item for Show Whitespace extension"
I'm noticing a startup crash in the brackets-show-whitespace extension, where it tries to add a menu item:

[code]

The problem is here:

https://github.com/mozilla/brackets/blob/master/src/extensions/default/brackets-show-whitespace/main.js#L281-L287

We don't use the menus, so we can just remove this.

[2017-05-08 18:59] hkirat commented on #749
Hey @humphd

I would like to work on this.
Can you point out how to turn on the white space indicator? Don't see it as a default right now.

[2017-05-08 19:33] #668 closed

[2017-05-09 01:39] humphd commented on #661
Fixed in https://github.com/mozilla/brackets/pull/691

[2017-05-09 01:39] #661 closed

[2017-05-09 19:05] humphd commented on #749
I just landed patches on Brackets and Thimble that will make this easier, if you update both.

[2017-05-09 19:07] hkirat commented on #749
Yes tried that in the morning. Couldn't reproduce the error.
Could you add the steps to reproduce?

[2017-05-09 19:08] humphd commented on #749
Even without the error, just rip these lines out.  they are useless in our case.

[2017-05-09 19:13] hkirat commented on #749
Got it.. working on this now

[2017-05-09 22:03] gideonthomas opened #751 "Refreshing FileSystemCache blob urls does not work for linked CSS files"
The title might not be right but here is some background:

This was noticed when implementing the image filters (https://github.com/mozilla/brackets/pull/694).

The project that can be used to test this is:
[image-project.zip](https://github.com/mozilla/brackets/files/988096/image-project.zip)

STR:
- Drag and drop the project's contents into your editor. Keep the `index.html` file open in the pre

[2017-05-09 22:05] humphd commented on #751
I think this is the same bug we have when images aren't available if you have them selected when you first start the app.  When I was doing the SW live dev patch, I fixed that.  I can't remember all the details, but I might be able to back-port just that fix.  I need to look at what I did in #725.

[2017-05-09 22:07] humphd commented on #751
No, I think what you're describing above is more than what I fixed, after re-reading.

[2017-05-10 04:54] #492 closed

[2017-05-10 05:05] gideonthomas opened #757 "Image Filters - Automatically update swatches on image save"
Follow-up from #694

When we apply a filter to an image and save it, the swatches above the image do not update until you select another file and then select the image file again. We should have it update as soon as the file with the filter is saved.

This will be tricky because the Vibrant API that we use for generating the swatches only accepts an image DOM element from which it internally creat

[2017-05-12 19:45] hkirat commented on #749
Should be good to close. Will modify the commit message from next time to ensure auto closing.

[2017-05-12 20:28] #749 closed

[2017-05-20 22:05] anephew opened #764 "Failed at the bramble@1.9.0-0 build script 'grunt build-browser"
### Description

Trying to setup Bramble on my local machine.

### Steps to Reproduce

1. npm install --no-optional / good
2. npm run build / failed

[code]

![image](https://cloud.githubusercontent.com/assets/551514/26279631/93bd675a-3dc1-11e7-8e3f-1af195632193.png)

Windows 10 x64 1703 (15063.296)

[2017-05-21 22:51] humphd commented on #764
Thanks for filing this, and sorry you're having issues.  The problem appears to be that we're doing `rm` [here](https://github.com/mozilla/brackets/blob/master/Gruntfile.js#L410), which won't work on Windows.  We should switch to a node.js version of rm.

cc @Pomax

[2017-05-23 23:10] Pomax commented on #764
@humphd if these were npm scripts I'd recommend using `shx` instead, since that acts as a cross-platform front door for common unix tools (so instead of "rm ..." you'd write "shx rm ..." and done). Given how this is structured, I'd kind of recommend making an npm task for this job, and then invoking that through grunt as `npm run clean:empty` or something, and then either use `rimraf` or `shx rm`

[2017-05-25 19:50] #764 closed

[2017-05-25 22:46] raygervais commented on #631
@humphd @flukeout I'd like to keep expanding the console -starting with `console.count`. Should I create a new issue in Thimble's main repository so we can discuss anything that can go into Console 1.1? I promise not to disappear again 👍

[2017-05-25 22:50] flukeout commented on #631
Hey @raygervais! Yeah I think let's start a new issue in the Thimble repo. It's easier if we just track this type of work there. Did you see the console related issue @Pomax filed...

* https://github.com/mozilla/thimble.mozilla.org/issues/2186

I think that would be good to tackle too, curious what you think about it.

[2017-05-25 22:53] raygervais commented on #631
I agree, that issue should be tackled in V1.x (what ever you decide to call this update), and since I wrote it I think I know how to remedy the initial issue itself 👍. I do like Dave's suggestion to incorporate util-inspect if it would help for further refinement. I'll create an issue on Thimble and then someone can close this one!

[2017-05-25 22:54] flukeout commented on #631
Sounds good!

[2017-05-25 23:15] #631 closed

[2017-05-25 23:41] flukeout commented on #751
Is this issue I'm having related: https://github.com/mozilla/thimble.mozilla.org/issues/2205

[2017-05-27 23:11] #751 closed

[2017-05-31 16:44] #736 closed

[2017-05-31 16:44] #757 closed

[2017-05-31 17:48] #596 closed

[2017-06-01 19:35] humphd commented on #654
This was fixed through subsequent patches, closing.

[2017-06-01 19:35] #654 closed

[2017-06-07 01:12] humphd opened #788 "Missing submodule for gh-pages build"
I was going to try and enable gh-pages builds for Brackets, but I notice this:

![screen shot 2017-06-06 at 9 11 27 pm](https://user-images.githubusercontent.com/427398/26857998-cc8151c6-4afc-11e7-8bc5-732f734c9665.png)

Not sure what this is, my `.gitmodules` includes:

[code]

@gideonthomas, any ideas?

[2017-06-08 02:56] gideonthomas commented on #788
my guess is that it's complaining because the org/user name for that repo was renamed. Try changing it to https://github.com/Olical/EventEmitter.git

[2017-06-08 10:33] aayushsanghavi commented on #446
Sorry, that this issue has been kept waiting for quite some time. I went out of town for a couple of weeks. I just got back 2 days ago so I'll be working on this again. @humphd regarding my previous comment, what do you think is the best way to go ahead with the css imports? What I had suggested earlier looks quite complicated.

[2017-06-08 16:34] humphd commented on #446
You're going to need to do one of two things.  Either:
1. Alter the regex `var urlRegex = new RegExp('url\\([\\\'\\"]?([^\\\'\\"\\)]+)[\\\'\\"]?\\)', 'g');` to include an optional `@import` prefix (might be hard or impossible)
2. Write a new regex specifically for the `@import <string | url>` case, and duplicate [this section](https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/fi

[2017-06-08 16:34] #514 closed

[2017-06-08 17:54] humphd commented on #583
We fixed this by always running `npm run localize` when the server starts, closing.

[2017-06-08 17:54] #583 closed

[2017-06-08 17:55] humphd commented on #332
This is basically fixed.

[2017-06-08 17:55] #332 closed

[2017-06-08 20:15] Pomax opened #792 "make console fall through to the real console"
With the custom console, logs, warnings, etc. no longer make it into the "real" browser console, making it hard to do better debugging when string writing is not sufficient.

[2017-06-08 21:12] #788 closed

[2017-06-09 16:07] #792 closed

[2017-06-10 09:52] aayushsanghavi commented on #446
Thanks @humphd. I'll get onto it then. I'll let you know if I have doubts or if I'm stuck somewhere.

[2017-06-15 17:15] #723 closed

[2017-06-23 12:35] hkirat opened #813 "Let users make unique rooms while collaborating on brackets"
### Description

Right now in the collaboration PR #801, each user is added in the same room. See [this](https://github.com/mozilla/brackets/pull/801/files#diff-172c2aa71bb7326386a85125ccd13603R19).
Next step should be to let users make unique rooms so that the editors dont conflict while they are collaborating
### Steps to Reproduce
When pushed to production, all collaborative instances will emit

[2017-06-23 12:41] hkirat opened #814 "Shift collaboration to file system level"
Right now, Collaboration works only between two open codemirror instances. This is fine as long as we have one file, but if we have more then one file, the changes made by a user in one file will show up in the file opened by the connected users in different files.

Right now, only the text inserted/deleted in each go is transmitted to the connected peers.
We should probably add a new parameter th

[2017-06-23 18:55] gideonthomas commented on #813
@hkirat can you refile these in Thimble with the "Collaboration" tag? We track all issues there.

[2017-06-26 06:16] hkirat commented on #813
Opened [here](https://github.com/mozilla/thimble.mozilla.org/issues/2341)

[2017-06-26 06:16] #813 closed

[2017-06-26 06:16] hkirat commented on #814
Opened in Thimble instead.

[2017-06-26 06:16] #814 closed

[2017-07-04 19:42] #493 closed

[2017-07-07 00:47] tgrundmanis opened #825 "Do you need an automated code style review tool?"
Myself and a cofounder created a style linter developer tool that comments on style errors in GitHub pull requests (for 15 languages and counting). It is free for open source projects.

You can check out the product on https://stickler-ci.com. Just authorize your GitHub account, enable a public repo, and then open/update an existing pull request (or create a new pull request).

[2017-07-07 03:38] ryanwarsaw commented on #825
There are better ways to get your product out there and promote it than to go down a list of Mozilla repositories and spam them with the same issue repeatedly. Also you might want to check out a tool called "prettier", I don't understand what the purpose of Stickler is since that's the future anyways.

Closing and locking for spam.

[2017-07-07 03:38] #825 closed

[2017-07-07 17:38] gideonthomas commented on #825
@ryanwarsaw do you have links to other repositories where this has been done?

[2017-07-12 20:09] flukeout opened #833 "Create boilerplate InlineEditor component"
Would be good to have a sample component that is easy to duplicate and adapt to new use-cases.

**Nice to have**
* Make it so that we don't have to replace many instances of a variable or object name
* Startup/load method that gets called when the editor opens and gives us access to the current value of the thing we're changing so we can instantiate the UI
* Some easy way to create rules for what

[2017-07-12 20:50] flukeout commented on #833
ASCII-UI
[code]

[2017-07-12 21:53] humphd commented on #833
Some samples to use as a template:

* https://github.com/peterflynn/everyscrub <-- this might be cool to just add in general
* https://github.com/peterflynn/brackets-gradient-editor
* https://github.com/peterflynn/brackets-regex-editor

I like your `font-size` idea as a starting point.

[2017-07-14 17:31] Pomax opened #840 "improvements to the font preview"
It looks like right now the font previewer mixes up the italic/bold instructions,

![screenshot 221](https://user-images.githubusercontent.com/177243/28223249-87448fa6-687f-11e7-8793-8c9f396af3a1.png)

Additionally, the font previewer does not put the `format("...")` indicator in the CSS for loading the font, which can lead to a font not actually being loaded.

[2017-07-17 16:14] #499 closed

[2017-08-01 18:23] arush0311 opened #863 "incorrect upperlimit in imageresizer"
in https://github.com/mozilla/brackets/blob/master/src/filesystem/impls/filer/lib/ImageResizer.js#L72

the upper limit is incorrect. it should be `Target_size*1.5`

[2017-08-01 18:32] humphd commented on #863
@Pomax ^^ can you take a look at this please?

[2017-08-01 19:55] Pomax commented on #863
it's true - the code comment is correctly describing we need `3 * target_size / 2`, but we're computing `2 * targetsize / 3` instead.

[2017-08-03 16:43] #863 closed

[2017-08-03 17:11] humphd commented on #863
@arush0311 I wanted to say thanks for taking the time to track this down and file such a useful bug.  We really appreciate it.  If you want to bring your talents to Brackets/Thimble again, we'd love to have you hack with us.

[2017-08-03 17:17] arush0311 commented on #863
Hey! sorry the credit goes to @pomax. i was just trying to understand the why and he noticed it.

[2017-09-28 13:14] humphd commented on #549
This is fixed.

[2017-09-28 13:14] #549 closed

[2017-09-28 13:15] humphd commented on #252
We no longer ship LESS in production (for size/perf savings), so closing this.

[2017-09-28 13:15] #252 closed

[2017-09-29 15:01] Cryzek commented on #431
@Pomax Does this -  "activate those in the preview window by for instance pressing and holding space" mean triggering the events in the preview window?
I added an eventListener on document for keydown events, and did a event.preventDefault() for space key. Worked fine for me.

[2017-10-11 19:40] Pomax commented on #431
I have no idea what I ran into anymore, to be honest. It's entirely likely this is for a version of our brackets that isn't even remotely related to what is in the repo almost two and a half years later... I'll close this =)

[2017-10-11 19:40] #431 closed

[2017-11-10 09:58] JosefJezek opened #891 "Add font "Courier New" to sourceFontFamily"
Add font "Courier New" to sourceFontFamily
https://github.com/mozilla/brackets/blob/master/src/styles/brackets_fonts.less#L87

Read this issue for more info...
https://github.com/mozilla/thimble.mozilla.org/issues/2552

Bootstrap v4 has this mono fonts...
https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss#L224
[code]

[2017-11-13 21:18] #891 closed

[2017-12-01 23:40] flukeout commented on #746
Thimble PRO ™️ anyone??

[2017-12-07 15:07] ericschv opened #905 "Remove adobe guideline when creating an issue"
Whenever an individual wants to file an issue, the comment section displays the following guidelines that were inherited from adobe/brackets:
[code]

If they are not being followed then perhaps they can be removed.

[2017-12-07 20:42] humphd commented on #222
https://repl.it/site/blog/infinite-loops

[2017-12-14 06:46] gideonthomas commented on #905
Thanks for filing this @ericschv! I think I might deal with this at the administrator level and disable issues for this repo entirely (after migrating the few issues we still need over to Thimble). This will probably solve some of the confusion around "where to file a Thimble ticket" as well.

[2017-12-23 10:25] shikhar-scs commented on #905
@gideonthomas as a side measure shall I remove this format and put something else in place, something which the organisation might prefer ?

[2018-01-03 01:03] gideonthomas commented on #905
@shikhar-scs can you modify the template to be just:
[code]

[2018-01-03 01:10] shikhar-scs commented on #905
@gideonthomas Sure, I'll do that exactly

[2018-01-03 01:16] shikhar-scs commented on #905
@gideonthomas I've filed a related PR, please review it

[2018-01-03 04:10] #905 closed

[2018-01-07 11:25] shikhar-scs commented on #700
Has this been solved completely in #781 ? If no, can I take over the progress made and approach suggested in #708?

[2018-01-08 16:46] humphd commented on #700
@shikhar-scs correct, it's done by https://github.com/mozilla/brackets/pull/781.  Thanks for letting us know this is still open.

[2018-01-08 16:46] #700 closed

[2018-01-12 19:12] #597 closed

[2018-11-23 19:54] supermariogo opened #982 "Why npm run production get compressed files?"
Hello,

I am trying to run bracket in production mode(`npm run production`), but found that everything is compressed and thimble can't load bramble(bracket) correctly.

Then I tried to commented compress job in grunt, it works.
Did I missed anything to help brower to understand gzip file?

[2019-02-18 00:47] ghost opened #983 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/brackets/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-06-06 07:55] AllahBuksh opened #984 "Want to add Default folder in Directory"
Hi!
Hope you will be fine
I want to add default folder in directory, already default files where loaded. When we add new folder in directory 2 files are added in indexedDB and one file is update from indexedDB which contain file or folder name and type. I have added 2 files in indexedDB and update that file and also add html code in GUI but folder is not click able and it doesn't work, just displa